@font-face {
    font-family: 'brown';
    src: url('brown-light-webfont.woff2') format('woff2'),
         url('brown-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'brown';
    src: url('brown-regular-webfont.woff2') format('woff2'),
         url('brown-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}