section{
    .rightBox, .leftBox{max-width: 100%;}
    &.about-retal {
        position: relative;width: 100%;overflow: hidden;height: 930px;margin-bottom: -180px; padding: 0;
        .container-fluid {
            padding: 0;
            .bgretal {position: relative;width: 100%;z-index: -1;display: flex;justify-content: flex-end;overflow: hidden;}
            .retalContent {
                position: absolute;top: 0;z-index: 1;width: 100%;padding: 0 80px 0 160px;
                .content {
                    padding: 150px 0 150px;
                    h2 {
                        font-family: $sangbleu_kingdom;font-size: 44px;font-weight: 300;line-height: 1.5;font-style: normal; opacity:1; @include transDefault();
                        span.high {border-bottom: 1px solid #000;padding-bottom: 3px; font-style: italic;}
                        &.animToStart{opacity:0;}
                    }
                }
                .anchorBox {
                    height: 100%;display: flex;justify-content: flex-end;align-items: center;
                    .btn-anchor {width: 30px;height: 30px;}
                }
            }
        }
    }
    &.ceo-messages {
        background: linear-gradient(90deg, #F8F3F1 60%, transparent 40%);position: relative;margin-bottom: 350px;
        .leftBox {
            h6 {font-family: $baseFontFamily;font-size: 14px;color: #9E7156;margin: 0 0 30px;}
            h3 {
                font-family: $sangbleu_kingdom;font-size: 52px;margin: 0 0 30px;font-weight: 300;
                .high{font-style:italic;}
            }
            p {font-family: $baseFontFamily;font-size: 16px;color: #000;margin: 0 0 25px;width: 260px; font-weight: lighter;}
            a.btn.btn-discover {
                // height: 47px;border: 1px solid #000000;padding: 0;display: flex;align-items: center;justify-content: center;width: 201px;font-family: $baseFontFamily;font-size: 10px;border-radius: 3px;
                // svg {margin-left: 5px;}
                @include buttonOutline(#000);
            }
        }
        .rightBox {
            height: 100%;position: absolute;margin-top: 120px;max-width: 100%;
            figure {
                margin: 0 0 30px;
                img {width: 100%;}
            }
            h4 {font-family: $baseFontFamily;font-size: 16px;color: #000; font-weight: normal;}
            h3 {font-family: $baseFontFamily;font-size: 16px;color: #000; font-weight: lighter;}
        }
    }
    &.corporate-info {
        background: linear-gradient(90deg, transparent 40%, #89b19c38 40%);padding: 50px 0px 50px 0px;position: relative;margin-bottom: 50px;
        .leftBox {
            figure {
                padding: 0;
                img {width: 100%;}
            }
        }
        .rightBox.mb{
            display: none;
        }
        .rightBox {
            padding: 50px 80px;height: 100%;display: flex;align-items: center;justify-content: flex-start;flex-wrap: wrap;
            h3 {
                font-family: $sangbleu_kingdom;font-size: 58px;color: #000;width: 260px;line-height: 1;margin: 0 0 50px;font-weight: lighter;
            }
            h6 {
                color: #87B09A;margin: 0 0 50px;font-family: $baseFontFamily;font-size: 14px;
                small {
                    display: flex;align-items: center;justify-content: flex-start;
                    svg {margin-left: 5px;}
                }
            }
            p {font-family: $baseFontFamily;font-size: 16px;width: 70%;margin: 0 0 50px; font-weight: lighter;}
            .btn-discover {
                background: #87B09A; height: 47px;border: 1px solid #87B09A;padding: 0;display: flex;align-items: center;justify-content: center;width: 254px;font-family: $baseFontFamily;font-size: 10px;border-radius: 3px; color: #fff;;
                svg {margin-left: 5px;}
            }
        }
    }
    &.corporate-governance {
        background: linear-gradient(90deg, #F8F3F1 65%, transparent 35%);padding: 0px 80px 40px 160px;
        .governance {
            background: linear-gradient(90deg, #F8F3F1 80%, transparent 20%);
            padding: 80px 0 0;
            .content {
                h6 {
                    color: #9E7156;margin: 0 0 50px;font-family: $baseFontFamily;font-size: 14px;
                    small {
                        display: flex;align-items: center;justify-content: flex-start;
                        svg {margin-left: 5px;}
                    }
                }
                h3 {font-family: $sangbleu_kingdom;font-size: 58px;color: #000;width: 260px;line-height: 1;margin: 0 0 0px;font-weight: lighter;}
            }
        }
        .detailBox {
            padding: 50px 0 0;
            .leftBox {
                p {font-family: $baseFontFamily;font-size: 16px;color: #000;margin: 0 0 25px;width: 280px; font-weight: lighter;}
            }
            .rightBox {
                a.board-member {
                    background: #fff; font-weight: 400;  width: 100%;display: flex;height: 57px;border: 1px solid #000;margin: 0 0 20px;align-items: center;justify-content: space-between;padding: 0 20px;text-decoration: none;color: #000;font-family: $baseFontFamily;font-size: 14px;text-transform: uppercase;
                    span {
                        display: flex;
                        align-items: center;
                        svg {
                            margin-left: 20px;
                        }
                    }
                }
                h3 {font-family: $sangbleu_kingdom;font-size: 28px;margin: 40px 0 15px;font-weight: normal; color: #000;}
            }
        }
    }
    &.group-structure {
        padding: 50px 0 50px;
        .mainBox {
            margin: 0 0 50px;
            h3 {font-family: $sangbleu_kingdom;font-size: 28px;margin: 0 0 40px;font-weight: 300;
                font-weight: normal;
                color: #000;}
        }
        .rightBox {
            h5 {font-family: $baseFontFamily;font-size: 12px;color: #000;margin: 20px 0 40px; font-weight: 400;}
            .stBox {
                margin: 0 0 30px;
                /* text-align: center; */
                h6 {font-family: $baseFontFamily;font-size: 10px;color: #000;text-transform: uppercase;margin: 0px 8px;}
                figure {margin: 0 0 14px;}
            }
        }
    }
    &.awards {
        background: linear-gradient(90deg, rgba(248,243,241,1) 50%, rgba(255,255,255,1) 50%);padding: 70px 50px 30px;position: relative;overflow: hidden; margin-bottom: 150px;
        .leftBox {
            padding-bottom: 20px;
            h6 {
                font-family: $baseFontFamily;
                font-size: 14px;
                color: #9E7156;
                margin: 0 0 40px;
                small {
                    svg {}
                }
            }
            p {
                font-family: $sangbleu_kingdom;
                font-size: 44px;
                color: #000;
                margin-right: 70px;
                line-height: 1.2;
                font-weight: 300;
            }
        }
        .rightBox {
            margin: 80px 0 0 15%;
            .awBox {
                margin: 0 0 40px;
            }
        }
        .business-award {
            margin-left: 15%;
            &:before {content: "";background: #fff;width: 14%;height: 100%;position: absolute;left: 0;}
            .btn-awards {
                width: 100%;margin: 0 0 20px;border: 1px solid #000;border-radius: 0;font-family: $baseFontFamily;display: flex;align-items: center;justify-content: space-between;height: 57px;padding: 0 25px; background: #fff;
                :is(h4, h5) {
                    font-size: 14px;
                    margin: 0;
                    text-transform: uppercase;
                    font-family: $baseFontFamily;
                    font-weight: 400;
                    &:after{
                        display: none;
                    }
                }
            }
        }
        .business-award.mb {
            display: none;
        }
    }
    &.partners {
        padding: 0 50px;margin-bottom:100px;position: relative;
        .leftBox {
            h6 {
                font-size: 14px;color: #87B09A;font-family: $baseFontFamily;margin: 0 0 50px;
                small {
                    display: flex;
                    align-items: center;
                    svg {
                        margin-left: 5px;
                    }
                }
            }
            h3 {font-family: $sangbleu_kingdom;font-size: 58px;color: #000;font-weight: 300;}
        }
        .rightBox {
            .ptSliderDv {
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            .item {
                                .pt-slide {
                                    figure {
                                        margin: 0 0 80px;
                                        img {}
                                    }
                                    h4 {
                                        font-family: $baseFontFamily;font-size: 16px;margin: 0 0 30px; font-weight: 400;
                                        span.designation {display: block;font-size: 12px;margin-top: 10px; font-weight: lighter;
                                        }
                                        :after{display: none;}
                                    }
                                    p {width: 60%;font-size: 16px;font-family: $baseFontFamily; font-weight: lighter;}
                                }
                            }
                        }
                    }
                }
                .prev.slick-arrow {
                    right: 100px;
                    /*color: #ccc;
                    border-color: #ccc;*/
                    margin-top: -50px;
                }
                .next.slick-arrow {
                    right: 0;
                    margin-top: -50px;
                }
            }

            .numberBox {
                position: absolute;
                left: 80px;
                border: 1px solid transparent;
                border-radius: 4px;
                width: 39px;
                height: 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 70px;
                span.countFirst {
                    font-family: 'brown';
                    font-size: 12px;
                    color: #000;
                }
                span.countLast {
                    font-family: 'brown';
                    font-size: 12px;
                    color: #000;
                }
                span.dash {
                    width: 16px;
                    height: 2px;
                    background: #9E7156;
                    margin: 0 5px;
                    color: transparent;
                    position: relative;
                    top: 1px;
                }
            }
        }
        hr.dvdr {
            margin-top: 50px;
            border-color: #00000078;
        }
    }
    &.retal-partners {
        padding: 0 50px 0 50px;
        margin-bottom: 100px;
        .leftBox {
            h3 {font-family: $sangbleu_kingdom;font-size: 58px;color: #000;margin: 0 0 50px;line-height: 1;font-weight: lighter;}
            p {font-family: $baseFontFamily;font-size: 16px;color: #000;margin: 0 0 30px;width: 55%; font-weight: lighter;}
        }
        .rightBox {
            h4 {font-family: $baseFontFamily;font-size: 12px;margin: 0 0 10px;}
            hr.dvdr {border-top: 1px solid #CFD0D1;margin: 0 0 40px;}
            figure.partner {
                height: 100%;display: flex;align-items: center;
                img {}
            }
        }
        hr.dvdr {
            border-color: #000;
            margin: 50px 0 0;
        }
    }
    &.more-about {
        margin: 80px auto;padding: 0 0px 0 50px;
        h3 {font-family: $sangbleu_kingdom;font-size: 58px;width: 100px;font-weight: lighter; color: #000;}
        .rightBox {
            .abBox {
                margin: 0 0 60px;
                figure {
                    margin: 0 0 40px;
                    img {width: 100%;}
                }
                h6 {margin: 0 0 30px;font-size: 12px;color: #87B09A;}
                h4 {font-family: $sangbleu_kingdom;margin: 0 0 30px;font-size: 28px;font-weight: normal;
                    &:after{
                        display: none;
                    }
                }
                p {font-family: $baseFontFamily;font-size: 14px;line-height: 1.5;margin: 0 0 30px; font-weight: lighter;}
                .btn-abBox {
                    // border: 1px solid #8FB5A1;width: 235px;height: 47px;font-family: $baseFontFamily;font-size: 10px;padding: 0;display: flex;align-items: center;justify-content: center;
                    // svg {margin-left: 5px;}
                    @include buttonOutline(#000);

                }
            }
        }
    }
}


/* Booard of directors Start */
.anchorBox {
    margin: 0 0 30px;
    a.anchorLink {
        font-family: $baseFontFamily;font-weight: 300;font-size: 10px;display: flex;align-items: center;
        svg {margin-right: 10px;}
    }
}

section.corpGovernance{
    padding: 30px 0;
    .titleBox {
        h3 {
            font-family: $sangbleu_kingdom;font-weight: lighter;font-size: 58px;line-height: 1.2;
            span {margin-left: 30px;font-style: italic;}
        }
    }
    .content {
        p {font-family: $baseFontFamily;font-weight: 300;color: #000;font-size: 24px;}
    }
}

section.directors {
    h3 {font-family: $sangbleu_kingdom;font-size: 42px;font-style: italic;font-weight: 300;margin: 0 0 50px;}
    .directorThumbs {
        margin: 0 0 60px;
        h4 {
            font-family: $sangbleu_kingdom;font-size: 28px;line-height: 1;font-weight: 300;text-transform: capitalize;
            &:after{
                display: none;
            }
        }
        a.directorLink {color: #53575A;font-family: $baseFontFamily;font-size: 14px;margin: 20px 0 0;display: table;font-weight: 400;}
        figure {
            width: 100%;margin: 0 0 30px; filter: grayscale(1); @include transDefault();
            img {width: 100%;}
        }
        .full-right {margin-right: -15px;}
        &:hover{
            figure{filter: grayscale(0);}
        }
    }
}


/* Booard of directors Start */
.corporrateInfo {
    width: 100%;
    overflow-x: hidden;
    .retalJourney {
        padding: 0;
        .rjBox {
            padding: 40px 0;
            a.anchorLink {
                font-weight: normal; letter-spacing:1px; font-size: 10px;display: flex;align-items: center;margin: 0 0 30px; color:#000;opacity: 0.3;
                svg{margin-right:10px;}
            }
            h3.title {
                font-family: $sangbleu_kingdom;font-size: 58px;font-weight: 300;margin: 0 0 100px; color: #000;
                span {margin-left: 18%;font-style:italic;}
            }
            h5 {text-transform: none;font-weight: 300;font-size: 24px;margin:0 -30px 60px 0px;}
            p {font-size: 16px;color: #000;margin: 0 -30px 30px 0;font-weight: 300;}
        }
    }

    .rjRightBox {
        position: relative;width: 100%;right: -15%;
        figure {
            position: relative;margin: 0;
            img {width: 100%;}
        }
    }

    .rjRightBottom.mb{
        display: none;
    }
    .rjRightBottom {
        padding: 20px 0 0 30%;
        .countDv{
            @include transDefault(); opacity:1;
            h5{@include para(#BFBFBF,12px, 50px 0 20px); font-weight:normal; text-transform:uppercase;}
            p{@include para(#000,22px, 0 0 20px); font-family:$sangbleu_kingdom; font-weight:normal;}
            @include smmobile{
                h5{margin: 0px 0 10px;}
            }
        }
    }

    .whyRetal{
        h4{
            margin-bottom:70px; max-width:100%; white-space: pre;overflow: hidden; @include transDefault();color:#9E7156;
            &:after{border-color:#9E7156;}
        }
        h3{
            @include para(#000,56px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; left:-16px; position: relative;
            span{
                display:inline-block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
                span{top:0px;padding-left: 16px;}
                +span{
                    font-style:italic;top: -6px;
                    span{top:0px;padding-right: 3px;}
                }
            }
        }
        .iconCircleDv{
            &:before {
                content: "";
                position: absolute;
                left: -60px;
                top: auto;
                width: 65px;
                height: 97px;
                background: #fff;
                z-index: 0;
                bottom: 80px;
            }
            .circleRow{
                display:flex; justify-content:center;
                @include smmobile{
                    flex-wrap: wrap;
                }
                &:first-child{
                    padding-left: 180px;
                    @include smmobile{
                        padding-left: 0px;
                    }
                }
                .circleDv{
                    margin: 0px 60px 90px;flex: 0 0 160px; cursor: default;transform: rotate3d(0, 1, 0, 0deg);@include transDefault();transition-duration: 3s;
                    div{
                        border-radius:80px;text-align: center;box-shadow: 0 0 30px rgba(#000, 0.08);max-width: 136px;height: 136px; background:#fff; display: flex;justify-content: center;align-items: center;margin:0 auto 30px; position: relative;@include transDefault();
                        svg{
                            line, path, circle{stroke:#000;@include transDefault();}
                        }
                        &:before, &:after{
                            content:''; @include fxdcenter(absolute); border:1px solid rgba(#9E7156, 0);border-radius:80px;
                            //transform: scale(1); @include transDefault();transition-timing-function: cubic-bezier(0.75, -0.01, 0.07, 1.01);
                            animation-duration: 1s;animation-iteration-count: infinite;
                        }
                        &:after{
                            //transition-delay: 0.2s;
                            animation-delay: 0.5s;
                        }
                    }
                    h5{@include para(#000,14px, 0px); line-height: 1.4; font-weight:normal; text-transform:uppercase; text-align:center;}
                    &:hover{
                        div{
                            box-shadow: 0 0 30px rgba(#000, 0.08);background:#9E7156;
                            svg{
                                line, path, circle{stroke:#fff;}
                            }
                            &:before{animation-name:roundSignal;}
                            &:after{animation-name:roundSignal;}
                            //&:before{border:1px solid rgba(#9E7156, 0.3);transform: scale(1.25);}
                            //&:after{border:1px solid rgba(#9E7156, 0.1);transform: scale(1.5);}
                        }
                    }
                    @include smmobile{
                        margin: 0px 10px 90px;flex: auto;
                        div{max-width: 70px;height: 70px;}
                    }
                }
                .txtDv{
                    padding: 30px 140px 0px 0px;
                    p{@include para(#000,14px, 0px); line-height: 1.4; font-weight:normal;}
                    @include smmobile{
                        padding: 0;margin: 0 0 80px;text-align: center;
                    }
                }
            }
            &:after {
                content: "";
                position: absolute;
                left: -10%;
                top: auto;
                width: 521px;
                height: 253px;
                background: #F8F3F1;
                z-index: -1;
                bottom: 80px;
            }
        }
        .circleDvMobile{display:none;}
        &.animToStart{
            h4{max-width:0%;}
            h3{
                span{
                    span{top:150px;}
                    +span span{top:-150px;}
                }
            }
            p{opacity:0;}
            .circleRow{
                .circleDv{
                    transform: rotate3d(0, 1, 0, 630deg);
                }
            }
        }
        @include smmobile{
            h4{margin-bottom:40px;}
            h3{font-size:36px;margin-bottom:20px;}
        }
    }
}
section.timeLine {
    position: relative;
    h4{
        color:#E2B87E;margin-bottom: 50px;
        &:after{border-color:#E2B87E;}
    }
    &:after {content: "";width: 100%;height: 1px;background: #ccc;display: block;margin-top: 7px;position: absolute;left: 0;right: 0;top: 140px;}
    .timelineSliderDv {
        width: 100%;padding-top: 100px;position: relative;
        ul.slick-dots {
            position: absolute;top: 0;height: 50px;
            li {
                width: 100px;text-align: center;font-size: 11px;
                a{color:#000;}
                &:after {content: "";width: 6px;height: 6px;background: #ccc;display: block;margin: 0 auto;border-radius: 50%;margin-top: 12px;}
            }
            /*&:after {content: "";width: 100%;height: 1px;background: #ccc;display: block;margin-top: 9px;}*/
        }
        .slick-list {
            padding: 0 !important;
            .slick-track {
                .slick-slide {
                    .item {
                        figure.slideImg {
                            width: 100%;height: 375px;overflow: hidden;margin: 0 0 25px;
                            img {object-fit: cover;width: 100%;height: 100%;}
                        }
                        .yearOfEstablish {
                            height: 100%;display: flex;align-items: end;justify-content: end;
                            .yoe-flex {
                                height: 133px;
                                h1 {margin: 0;font-family: $sangbleu_kingdom;font-size: 70px;}
                                p {margin: 0;font-family: $baseFontFamily;font-size: 10px;color: #000;}
                            }
                        }
                        .slideTitle {
                            h3 {font-family: $sangbleu_kingdom;font-size: 39px;color: #000; font-weight:normal;}
                        }
                        .slideDesc {
                            p {font-size: 16px;font-weight: lighter;color: #000;}
                        }
                    }
                }
            }
        }
        .prev.slick-arrow {position: absolute;right: 0;top: 100px;}
        .next.slick-arrow {position: absolute;right: 100px;top: 100px;/*border-color: #bfbfbf6b;color: #bfbfbf6b;*/}
    }
    
}
section.investManagement {
    .leftBox {
        figure {
            padding: 0 70px; position: absolute;
            img {width: 100%;}
        }
        .diagramDv{
            position: relative;
            .logo{
                background: $baseLink; padding: 20px 22px;border-radius: 80px; position: relative; z-index: 6;
                svg{
                    position: relative;left: 3px;
                    path{fill:#fff;}
                }
            }
            h3{
                position:absolute; right: 0;bottom: 0; border:1px solid #000;font-family: $sangbleu_kingdom;font-size: 24px;font-weight: normal; color:#000; display:flex; justify-content:center; align-items:center; width:355px; height:355px; border-radius: 50%;padding:0 115px 50px 45px;text-align: center; z-index: 5;
                +h3{
                    right: auto; left:0; bottom: 0;padding:0 45px 50px 115px;
                    +h3{
                        right: 0; top:0; left:auto; bottom:auto;padding:50px 115px 0px 45px;
                        +h3{right:auto; top:0; left:0; bottom:auto;padding:50px 45px 0px 115px;}
                    }
                }
            }
            p{
                position:absolute; right: 140px;bottom: 40px;font-size: 11px;font-weight: 300;text-align: center;margin: 0; text-transform: uppercase;
                +p{
                    right: 20px;bottom: -100px;
                    +p{
                        left: 140px; right:auto; bottom: 40px;
                        +p{
                            left: 0px; right:auto; bottom: 140px;
                        }
                    }
                }
            }
        }
    }
    .rightBox {
        padding: 30px 0 0;
        h3 {font-family: $sangbleu_kingdom;font-size: 28px;font-weight: normal;margin: 0 0 20px; color:#000;}
        p {font-size: 16px;color: #000; font-weight:300; margin:0 55px 60px 0px;}
    }
}
section.ourVison {
    .ourVisionTitle {
        h6 {
            font-family: $baseFontFamily;font-size: 14px;color: #9E7156;margin: 0;
            small {
                svg {margin-left: 10px;}
            }
        }
    }
    .theVisionDv {
        background: linear-gradient(90deg, transparent 40%, #E7EFEB 40%);margin: 100px 0 0 0;position: relative;padding-bottom: 50px;
        .leftBox {
            margin-top: -50px;
            figure {
                width: 100%;
                img {object-fit: cover;width: 100%;height: 100%;}
            }
        }
        .rightBox {
            padding: 50px 40% 50px 8%;
            height: 100%;
            display: flex;
            align-items: end;
            h3 {
                font-family: $sangbleu_kingdom;
                font-size: 58px;
                font-weight: lighter;
                margin: 0 0 40px;
                span {
                    font-style: italic;
                }
            }
            p {
                margin: 0 0 30px;
                font-family: $baseFontFamily;
                font-weight: lighter;
                font-size: 16px;
                color: #000;
            }
        }
        &:before {
            content: "";
            background: #fff;
            width: 167px;
            height: 160px;
            right: 0;
            top: 0;
            position: absolute;
        }
    }
}

// value slider
section.values {
    .valueBox {
        margin: 0 0 -30px;
        h6 {
            font-family: $baseFontFamily;font-size: 14px;color: #9E7156;margin: 0 0 40px;
            small {
                svg {margin-left: 10px;}
            }
        }
        h3 {font-family: $sangbleu_kingdom;font-size: 58px;font-weight: lighter;}
    }
    .valueSliderDv {
        .slick-list {
            padding: 120px 0 !important;
            .slick-track {
                padding: 0;margin: 0;
                .slick-slide {
                    .item {
                        display: flex !important;justify-content: center;
                        .roundedBox {
                            width: 293px;height: 293px;background: #F5F5F5;border-radius: 50%;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;transition: 0.5s ease; transform: scale(1);
                            figure {
                                transition: 0.5s ease;margin: 0;
                                svg {}
                            }
                            .content {
                                display: none;
                                h5 {text-align: center;font-family: $sangbleu_kingdom;font-weight: normal;font-style: italic;font-size: 28px;color: #fff;transition: 0.5s ease;}
                                p {font-family: $baseFontFamily;font-size: 13px;color: #fff;text-align: center;margin: 0;transition: 0.5s ease;}
                            }
                            &:after {content: "";width: 0;height: 0;border: 1px solid transparent;border-radius: 50%;position: absolute;transition: 0.5s ease;}
                            :before {content: "";width: 0;height: 0;border: 1px solid transparent;border-radius: 50%;position: absolute;transition: 0.5s ease;}
                        }
                        &:hover {
                            .roundedBox {
                                background: #9E7156;transition: 0.5s ease;transform: scale(1.1);
                                .content {margin: 0 20%;height: 100%;display: flex;align-content: center;flex-wrap: wrap;justify-content: center;}
                                figure {display: none;transition: 0.5s ease;}
                                &:after {content: "";border: 1px solid #00000036;transition: width, height, 0.5s ease;width: 380px;height: 380px;position: absolute;border-radius: 50%;}
                                &:before {content: "";border: 1px solid #00000036;transition: width, height, 0.5s ease;width: 340px;height: 340px;position: absolute;border-radius: 50%;}
                            }
                        }
                    }
                }
                
            }
        }
        .prev.slick-arrow {position: absolute;right: 5%;top: -50px;}
        .next.slick-arrow {position: absolute;right: calc(5% + 90px);top: -50px;}
    }
}

//mission Cultivate
section.missionCultivate {
    position: relative;width: 100%;overflow: hidden;margin-bottom:80px;
    .leftBox {
        h6 {
            font-family: $baseFontFamily;font-size: 14px;color: #9E7156;margin: 0 0 50px;
            small {}
        }
        h3 {font-family: $sangbleu_kingdom;font-size: 58px;color: #000;font-weight: lighter;line-height: 1.1;margin: 0 0 50px;}
        p {font-family: $baseFontFamily;font-weight: lighter;font-size: 16px;color: #000;width: 70%;}
    }

    .rightBox {
        width: 100%;height: 100%;position: relative;
        figure {
            width: calc(100% + 100px);margin: 0;height: 100%;position: absolute;
            img {object-fit: cover;width: 100%;height: 100%;}
        }
        &:after {content: "";background: #F8F3F1;width: 75%;height: 100%;position: absolute;z-index: -1;bottom: -60px;top: auto;right: 0;}
        &:before {content: "";background: #F8F3F1;width: 100%;height: 75%;position: absolute;z-index: -1;left: -60px;top: 70px;}
    }
}

//guiding principle
.guidingPrinciple {
    margin: 0 0 100px;
    .title {
        h6 {
            font-family: $baseFontFamily;font-size: 14px;color: #9E7156;margin: 0 0 30px;
            small {
                svg {margin-left: 10px;position: relative;top: -1px;}
            }
        }
    }

    .leftBox {
        display: flex;align-items: center;height: 100%;
        h3 {
            font-family: $sangbleu_kingdom;font-size: 58px;font-weight: lighter;margin: 0;
            span {
                font-style: italic;
            }
        }
    }

    .rightBox {
        height: 100%;display: flex;align-items: center; width: 90%;
        p {font-family: $baseFontFamily;font-size: 16px;color: #000;font-weight: lighter;}
    }


    .sliderDvOverFlow {
        .gpSliderDv {
            .slick-list {
                .slick-track {
                    .slick-slide.slick-active {
                        .item {
                            figure{
                                &:before {content: "";width: 100%;height: 100%;background: #fff6;position: absolute;}
                            }
                            h4 {display: none;}
                            p {display: none;}
                        }
                    }

                    .slick-slide.slick-current.slick-active.slick-center {
                        .item {
                            figure{
                                &:before {display: none;}
                            }
                            h4 {display: block;}
                            p {display: block;}
                        }
                    }

                    .slick-slide {
                        .slideBox {
                            width: 70%;position: relative;
                            figure {
                                width: 100%;height: 410px;margin: 0 0 40px;
                                img {width: 100%;object-fit: cover;height: 100%;}
                                &:before {}
                            }
                            h4 {font-family: $sangbleu_kingdom;font-size: 28px;font-weight: normal;margin: 0 0 20px;}
                            p {font-family: $baseFontFamily;font-size: 14px;color: #000;font-weight: lighter;}
                        }
                    }
                }
            }

            .prev.slick-arrow {right: 5%;}
            .next.slick-arrow {right: calc(5% + 90px);}
        }
    }
}

div#ceoMessageDv {
    .hero {
        .leftBox {
            display: flex;align-items: flex-start;justify-content: flex-start;height: 100%;width: 100%;
            .cm-flex {
                width: 100%;
                a.anchorLink {
                    width: 173px;height: 47px;margin: 50px 0 30px;font-family: $baseFontFamily;opacity: 30%;display: flex;align-items: center;font-weight: lighter;
                    svg {margin-right: 10px;}
                }
                h3 {
                    font-family: $sangbleu_kingdom;font-size: 58px;font-weight: lighter;position: relative;width: 100%;
                    span {font-style: italic;position: absolute;right: 0;}
                }
            }
        }
        .rightBox {
            width: calc(100% - 50px);position: relative;left: 50px;
            figure {
                width: 100%;position: relative;
                img {width: 100%;height: 100%;object-fit: cover;}
            }
            a.pointerLink {position: absolute;z-index: 4;right: 80px;bottom: 120px;}
            &:before {content: "";width: 40px;height: 245px;position: absolute;background: #F8F3F1;left: -40px;top: 24%;}
            &:after {content: "";width: 565px;height: 40px;position: absolute;background: #F8F3F1;left: 18%;bottom: -40px;}
        }
    }

    section.contentTxt {
        .ceoDv {
            display: flex;align-items: center;justify-content: flex-start;
            .titleDv {
                h4 {
                    font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;margin: 0 0 5px;
                    &:after {content: "";width: 0;}
                }
                h5 {font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;}
            }
        }

        .fullBox {
            margin: 0 0 60px;
            p {font-family: $baseFontFamily;font-size: 24px;font-weight: lighter;}
        }

        .leftBox {
            p {font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;margin: 0 0 40px;}
        }

        .newsLink {
            position: absolute;right: -60px;bottom: 0px;padding-left: 60px;max-width: 100%;overflow: hidden;transition: all 0.5s ease;

            p {color: #000;font-size: 14px;line-height: 1;margin: 0 0 10px;padding: 0;text-transform: uppercase;}
            figure {
                width: 250px;height: 360px;margin: 0;position: relative;
                img {width: 100%;height: 100%;object-fit: cover;}
                a {
                    position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;display: flex;align-items: flex-end;padding: 20px;
                    span {color: #fff;font-size: 26px;line-height: 1;margin: 0;padding: 0;font-family: "sangbleu_kingdom", sans-serif;}
                }
            }
            i {position: absolute;right: 90%;bottom: 26px;font-size: 30px;color: #000;}
        }
    }
}

div#sustainabilityDv {
    .hero {
        .leftBox {
            display: flex;align-items: flex-start;justify-content: flex-start;height: 100%;width: 100%;
            .cm-flex {
                width: 100%;
                a.anchorLink {
                    width: 173px;height: 47px;margin: 50px 0 30px;font-family: $baseFontFamily;opacity: 30%;display: flex;align-items: center;font-weight: lighter;
                    svg {margin-right: 10px;}
                }
                h3 {
                    font-family: $sangbleu_kingdom;font-size: 50px;font-weight: lighter;position: relative;width: 100%;
                    span {font-style: italic;position: relative;right: 0;}
                }
            }
        }
        .rightBox {
            width: calc(100% - 50px);position: relative;left: 50px;
            figure {
                width: 100%;position: relative;
                img {width: 100%;height: 100%;object-fit: cover;}
            }
            a.pointerLink {position: absolute;z-index: 4;right: 80px;bottom: 120px;}
            &:before {content: "";width: 40px;height: 245px;position: absolute;background: #F8F3F1;left: -40px;top: 24%;}
            &:after {content: "";width: 565px;height: 40px;position: absolute;background: #F8F3F1;left: 18%;bottom: -40px;}
        }
    }

    section.contentTxt {
        .ceoDv {
            display: flex;align-items: center;justify-content: flex-start;
            .titleDv {
                h4 {
                    font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;margin: 0 0 5px;
                    &:after {content: "";width: 0;}
                }
                h5 {font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;}
            }
        }

        .fullBox {
            margin: 0 0 60px;
            p {
                font-family: $baseFontFamily;
                font-size: 24px;
                font-weight: lighter;
            }
        }

        .leftBox {
            p {font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;margin: 0 0 40px;}
        }

        .newsLink {
            position: absolute;
            right: -60px;
            bottom: 0px;
            padding-left: 60px;
            max-width: 100%;
            overflow: hidden;
            transition: all 0.5s ease;

            p {
                color: #000;
                font-size: 14px;
                line-height: 1;
                margin: 0 0 10px;
                padding: 0;
                text-transform: uppercase;
            }
            figure {
                width: 250px;
                height: 360px;
                margin: 0;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: flex;
                    align-items: flex-end;
                    padding: 20px;
                    span {
                        color: #fff;
                        font-size: 26px;
                        line-height: 1;
                        margin: 0;
                        padding: 0;
                        font-family: "sangbleu_kingdom", sans-serif;
                    }
                }
            }
            i {
                position: absolute;
                right: 90%;
                bottom: 26px;
                font-size: 30px;
                color: #000;
            }
        }
    }
}

div#csrDv {
    .hero {
        .leftBox {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            .cm-flex {
                width: 100%;
                a.anchorLink {
                    width: 173px;
                    height: 47px;
                    margin: 50px 0 30px;
                    font-family: $baseFontFamily;
                    opacity: 30%;
                    display: flex;
                    align-items: center;
                    font-weight: lighter;
                    svg {
                        margin-right: 10px;
                    }
                }
                h3 {
                    font-family: $sangbleu_kingdom;
                    font-size: 58px;
                    font-weight: lighter;
                    position: relative;
                    width: 100%;
                    margin: 0 0 40px;
                    span {
                        font-style: normal;
                        margin-left: 40px;
                    }
                }
                p {
                    font-family: $sangbleu_kingdom;
                    font-style: italic;
                    font-size: 30px;
                }
            }
        }
        .rightBox {
            width: calc(100% - 50px);
            position: relative;
            left: 50px;
            figure {
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            a.pointerLink {
                position: absolute;
                z-index: 4;
                right: 80px;
                bottom: 120px;
            }
            &:before {content: "";width: 40px;height: 245px;position: absolute;background: #F8F3F1;left: -40px;top: 24%;}
            &:after {
                content: "";
                width: 565px;
                height: 40px;
                position: absolute;
                background: #F8F3F1;
                left: 18%;
                bottom: -40px;
            }
        }
    }

    section.contentTxt {
        .ceoDv {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .titleDv {
                h4 {
                    font-family: $baseFontFamily;
                    font-size: 16px;
                    font-weight: lighter;
                    margin: 0 0 5px;
                    &:after {
                        content: "";
                        width: 0;
                    }
                }
                h5 {
                    font-family: $baseFontFamily;
                    font-size: 16px;
                    font-weight: lighter;
                }
            }
        }

        .fullBox {
            margin: 0 0 60px;
            p {
                font-family: $baseFontFamily;
                font-size: 24px;
                font-weight: lighter;
            }
        }

        .leftBox {
            p {font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;margin: 0 100px 40px 0;}
        }

        .newsLink {
            position: absolute;
            right: -60px;
            bottom: 0px;
            padding-left: 60px;
            max-width: 100%;
            overflow: hidden;
            transition: all 0.5s ease;

            p {
                color: #000;
                font-size: 14px;
                line-height: 1;
                margin: 0 0 10px;
                padding: 0;
                text-transform: uppercase;
            }
            figure {
                width: 250px;
                height: 360px;
                margin: 0;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    display: flex;
                    align-items: flex-end;
                    padding: 20px;
                    span {
                        color: #fff;
                        font-size: 26px;
                        line-height: 1;
                        margin: 0;
                        padding: 0;
                        font-family: "sangbleu_kingdom", sans-serif;
                    }
                }
            }
            i {
                position: absolute;
                right: 90%;
                bottom: 26px;
                font-size: 30px;
                color: #000;
            }
        }
    }
}

.popup{
    display:none; @include fxdcenter(fixed); z-index:10; background: #fff;padding-top: 98px;overflow: auto;overflow-x: hidden;
    &.active{display:block;}
}

@media (max-width: 520px){
    section{
        &.about-retal {
            height:auto; margin-bottom: 0px; max-width:100vw; overflow: hidden;
            .container-fluid{
                .bgretal{
                    position:absolute; right: -300px;top: 0;width: auto;height: 100%;
                }
                .retalContent {
                    padding: 0 20px; position:relative;
                    .content {
                        padding: 100px 0;
                        h2{
                            font-size: 32px !important;
                        }
                    }
                }
            }
        }

        &.ceo-messages{
            background: transparent;padding: 0 0 0 40px;margin-bottom: 80px;
            &:before {
                content: "";background: #F8F3F1;width: 85%;height: 320px;display: block;position: absolute;left: 0;z-index: -1;top: -50px;
            }
            .container-fluid{
                padding: 0;
                .leftBox {
                    h3 {
                        font-size: 32px;
                    }
                    p {
                        font-size: 10px;
                    }
                    a.btn.btn-discover {
                        font-size: 10px;
                    }
                }
            }

            .row > {
                div:nth-child(1) {
                    order: 1;
                }
                div:nth-child(2) {
                    order: 3;
                }
                div:nth-child(3) {
                    order: 2;
                    clear: both;
                }
            }
            .rightBox {
                margin: 0 0 40px;
                position: unset;
                figure{width: 100%;height: 250px; @include imgCover();margin: 0 0 10px;}
                h3{font-size: 10px; font-weight:normal;}
                h4{font-size: 10px;margin-bottom: 5px;}
            }
        }

        &.corporate-info{
            background: transparent;
            margin-bottom: 0px;
            .leftBox{
                position: relative;
                figure{
                    padding: 0 30px 0 0;
                }
                &:before {
                    content: "";
                    position: absolute;
                    background: #E7EFEB;
                    width: calc(100% - 30px);
                    right: 0;
                    height: 270px;
                    display: block;
                    top: -30px;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    background: #fff;
                    position: absolute;
                    right: 0;
                    width: 100px;
                    height: 55px;
                    top: -30px;
                    display: block;
                    z-index: -1;
                }
            }
            .rightBox.mb{
                padding: 0 30px !important;
                display: block;
            }
            .rightBox.dt{
                padding: 50px 30px;
                h6{
                    display: none;
                }
                h3 {
                    font-size: 32px;
                }
                p{
                    font-size: 10px;
                }
                .btn-discover {
                    width: 190px;
                }
            }
        }

        &.corporate-governance {
            background: transparent;
            padding: 0 30px;
            position: relative;
            .governance {
                padding: 40px 0 0;
                .content {
                    h3 {
                        font-size: 32px;
                    }
                }
            }
            &:before {
                content: "";
                background: #f8f3f1;
                width: 100%;
                height: 443px;
                display: block;
                z-index: -2;
                position: absolute;
                left: 0;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 365px;
                right: 0;
                width: 100px;
                height: 80px;
                z-index: -1;
                background: #fff;
            }
            .detailBox {
                padding: 30px 0 0;
                .leftBox {
                    p {
                        font-size: 10px;
                    }
                }
                .rightBox {
                    a.board-member {
                        font-size: 10px;
                        border-color: #bfbfbf;
                    }
                }
            }
        }

        &.group-structure{
            padding: 50px 30px;
            .rightBox {
                h5{
                    font-size: 7px;
                    border-bottom: 1px solid #cccccc4a;
                    padding-bottom: 10px;
                }
                .stBox {
                    h6{
                        text-align: center;
                        font-size: 7px;
                    }
                }
            }
        }

        &.awards{
            background: transparent;
            padding: 30px 30px 30px;
            margin: 0 0 50px;
            .leftBox {
                p {
                    font-size: 18px;
                    margin-right: 10%;
                }
            }
            .rightBox {
                margin: 0;
                .awBox {
                    h5 {
                        font-size: 10px;
                    }
                }
            }
            .business-award.mb {
                display: block;
                margin: 0 0 30px;
                &:before{
                    display: none;
                }
                .btn-awards :is(h4, h5){
                    font-size: 7px;
                }
            }
            .business-award.dt {
                display: none;
            }
            &:before {
                content: "";
                background: #F8F3F1;
                width: 100%;
                height: 363px;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
            &:after {
                content: "";
                background: #fff;
                display: block;
                width: 132px;
                height: 105px;
                position: absolute;
                top: 265px;
                left: 0;
                z-index: -1;
            }
        }

        &.partners {
            padding: 0 30px;
            .leftBox {
                h3 {
                    font-size: 32px;
                    margin: 0 0 70px;
                }
            }
            .rightBox {
                position: relative;
                .ptSliderDv {
                    .next.slick-arrow {
                        right: 0;
                        margin-top: -50px;
                        top: -80px;
                    }
                    .prev.slick-arrow {
                        right: 60px;
                        margin-top: -50px;
                        top: -80px;
                    }
                    .slick-list {
                        .slick-track {
                            .slick-slide {
                                .item {
                                    .pt-slide {
                                        h4{
                                            font-size: 10px;
                                            &:after{
                                                display: none;;
                                            }
                                        }
                                        p {
                                            width: 70%;
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .numberBox {
                    position: absolute;
                    right: 0;
                    top: 170px;
                    border: 1px solid #BFBFBF;
                    border-radius: 4px;
                    width: 39px;
                    height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: auto;
                    bottom: auto;
                    span.countFirst {
                        font-family: 'brown';
                        font-size: 6px;
                        color: #000;
                    }
                    span.countLast {
                        font-family: 'brown';
                        font-size: 6px;
                        color: #000;
                    }
                    span.dash {
                        width: 6px;
                        height: 2px;
                        background: gray;
                        margin: 0 5px;
                        color: transparent;
                        position: relative;
                        top: 1px;
                    }
                }
            }
            hr.dvdr {
                display: none;
            }
        }

        &.retal-partners{
            padding: 0 30px;
            .leftBox {
                margin: 0 0 50px;
                h3{
                    font-size: 32px;
                    margin: 0px 0 30px;
                }
                p {
                    font-size: 10px;
                    width: 75%;
                }
            }
            .rightBox {
                position: relative;
                h4{
                    font-size: 7px;
                    border-bottom: 1px solid #cccccc6e;
                    padding-bottom: 10px;
                    &:after {
                        display: none;
                    }
                }
                figure.partner{
                    justify-content: center;
                }
            }
            hr.dvdr {
                display: none;
            }
        }

        &.more-about{
            padding: 0 30px 0 30px;
            h3 {
                font-size: 32px;
                width: 100%;
                margin: 0 0 40px -15px;
            }
            .rightBox {
                .abBox {
                    h6 {
                        margin: 0 0 20px;
                        font-size: 6px;
                    }
                    h4 {
                        font-size: 16px;
                        height: 40px;
                        overflow: hidden;
                        line-height: 1.4;
                    }
                    p {
                        font-size: 10px;
                        line-height: 1.5;
                        margin: 0 0 30px;
                        height: 90px;
                        overflow: hidden;
                    }
                    .btn-abBox {
                        border-color: #8fb5a175;
                        color: #000;
                        padding: 0 20px;
                        text-transform: uppercase;
                        font-size: 7px;
                        transform: scale(1);
                        transition: all 0.5s ease;
                        width: 100%;
                        height: 45px;
                        line-height: 45px;
                        svg {
                            height: 6px;
                            position: relative;
                            top: -1px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    // Board Directors
    .boardDirectors {
        padding: 0 30px;
        .anchorBox {
            margin: 30px 0 30px;
        }

        section.corpGovernance{
            .titleBox {
                h3 {
                    font-size: 40px;
                    margin: 0 0 20px;
                    span {
                        margin-left: 0;
                    }
                }
            }

            .content {
                p {
                    font-size: 10px;
                }
            }
        }

        section.directors {
            h3 {
                font-size: 32px;
            }
            .directorThumbs {
                h4 {
                    font-size: 18px;
                    &:nth-child(3) {
                        height: 40px;
                        overflow: hidden;
                    }
                }
                a.directorLink{
                    font-size: 7px;
                    &:hover {
                        color: #8FB5A1;
                    }
                }
            }
        }
    }

    // Coroprate Info
    .corporrateInfo{
        .retalJourney {
            .container {
                padding: 0;
                .row {
                    div:nth-child(1) {
                        order: 2;
                    }
                    div:nth-child(2) {
                        order: 1;
                    }
                }
            }
            .rjBox {
                padding: 40px 30px 0 !important;
                a.anchorLink {
                    font-size: 8px !important;
                }
                h3.title {
                    font-size: 32px !important;
                    margin: 0 0 40px !important;
                    span {
                        margin-left: 0 !important;
                    }
                }
                h5 {
                    font-size: 12px !important;
                    margin-bottom: 40px !important;
                }
                p {
                    font-size: 10px !important; 
                    margin: 0 0 30px 0 !important;
                }
            }

            .rjRightBox{
                margin-top: -98px;
                right: 0;
                figure {

                }
            }

            .rjRightBottom.dt{
                display: none;
            }
            .rjRightBottom.mb {
                display: block;
                padding: 30px;
                h5 {
                    font-size: 8px;
                }
                p {
                    font-size: 20px;
                    margin: 0 0 30px;
                }

                .countDv {
                    .row {
                        div:nth-child(1) {order: 1 !important;}
                        div:nth-child(3) {order: 3;}
                        div:nth-child(2) {order: 3 !important;}
                        div:nth-child(4) {order: 4;}
                    }
                }
            }
        }

        section.timeLine {
            padding: 0 0 20px;
            .container {
                padding: 0;
            }
            h4{
                padding: 0 30px;
            }

            .timelineSliderDv {
                padding-top: 0px;
                ul.slick-dots {
                    display: none;
                }

                .item {
                    .row:nth-child(1) {
                        div:nth-child(1) {order: 2;}
                        div:nth-child(2) {order: 1;}
                    }
                    .yearOfEstablish{
                        justify-content: start !important;
                        .yoe-flex {
                            padding: 0 30px;
                            height: 103px;
                            h1 {
                                font-size: 25px !important;
                                margin: 0 0 20px !important;
                            }
                            p {
                                font-size: 8px !important;
                                color: #53575A !important;
                            }
                        }
                    }
                    figure.slideImg {
                        height: 188px !important;
                    }
                    .slideTitle {
                        h3 {
                            font-size: 18px !important;
                            padding: 0 30px !important;
                            margin-bottom: 20px !important;
                        }
                    }
                    .slideDesc {
                        padding: 0 30px !important;
                        p {
                            font-size: 10px !important;
                        }
                    }
                }
                .prev.slick-arrow {
                    right: 30px;
                    top: -5px;
                }
                .next.slick-arrow {
                    right: 100px;
                    top: -5px;
                }
            }
            &::after{
                content: "";
                width: 100%;
                height: 1px;
                background: #000;
                bottom: 0;
                position: absolute;
                display: block;
                top: auto;
                opacity: 0.1;
            }
        }

        section.investManagement {
            padding: 50px 0 0;
            position: relative;
            .row {
                .col-12.d-flex {
                    height: 360px;
                }
            }
            .leftBox {
                position: relative !important;
                .diagramDv {
                    h3 {
                        width: 206px ;
                        height: 206px ;
                        font-size: 13px ;
                        padding: 0 90px 30px 0px ;
                        right: 10px ;
                    }
                    h3 + h3 {
                        padding: 0px 0px 30px 90px ;
                        right: 10px ;
                    }
                    h3 + h3 + h3 {
                        right: 10px ;
                        top: 0 ;
                        bottom: auto ;
                        padding: 50px 115px 0px 45px ;
                    }
                    h3 + h3 + h3 + h3 {
                        right: auto;
                        top: 0;
                        left: 10px;
                        bottom: auto;
                        padding: 50px 45px 0px 115px;
                    }
                    p {
                        right: 110px ;
                        font-size: 8px ;
                    }
                    p + p {
                        right: 20px ;
                        bottom: -35px ;
                    }
                    p + p + p {
                        left: 110px;
                        right: auto;
                        bottom: 40px;
                    }
                    p + p + p + p {
                        font-size: 8px ;
                        left: auto ;
                        right: 20px ;
                        bottom: 120px ;
                    }
                }
            }

            .rightBox {
                padding: 50px 30px 0;
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 10px;
                }
            }
            &::after{
                content: "";
                width: 100%;
                height: 1px;
                background: #000;
                bottom: 0;
                position: absolute;
                display: block;
                top: auto;
                opacity: 0.1;
            }
        }

        section.whyRetal {
            padding: 50px 30px;
            h3 {
                margin-bottom: 0;
                span + span {
                    font-style: normal;
                    top: 0;
                }
            }
            p.desc {
                font-size: 10px;
                font-family: 'brown';
                color: #000;
                font-weight: lighter;
                width: 229px;
                margin: 0 0 40px;
            }
            .circleDvMobile{
                display: flex !important;
            }
        }

        section.ourVison {
            padding: 0;
            .ourVisionTitle {
                padding: 0 15px;
                h6 {
                    font-size: 7px;
                }
            }
            .theVisionDv {
                margin: 80px 0 0;
                background: transparent;
                .leftBox {
                    figure {
                        img {
                            width: 90%;
                            height: auto;
                        }
                    }
                }
                &:before {
                    content: "";
                    background: #E7EFEB;
                    width: 226px;
                    height: 366px;
                    top: -30px;
                }
                .rightBox {
                    padding: 60px 30px 0;
                    h3 {
                        font-size: 32px;
                    }
                    p {
                        font-size: 10px;
                        width: 229px;
                    }
                }
            }
        }

        section.values {
            .valueBox {
                h6 {
                    padding: 0 15px;
                }
                h3 {
                    padding: 0 15px;
                    font-size: 32px;
                    width: 141px;
                }
            }
            .valueSliderDv {
                .prev.slick-arrow {
                    top: -80px;
                    right: 30px;
                }
                .next.slick-arrow {
                    top: -80px;
                    right: 90px;
                }
            }
        }

        section.missionCultivate {
            margin-bottom: 40px;
            .container {
                padding: 0;
                .leftBox {
                    h6 {
                        padding: 0 30px;
                        margin: 0 0 40px;
                    }
                    figure {
                        margin: 0 0 40px;
                        padding: 0 0 0 35px;
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            background: #F8F3F1;
                            height: 188px;
                            width: 100%;
                            left: 0;
                            z-index: -1;
                            top: 22%;
                        }
                    }
                    h3 {
                        font-size: 32px;
                        padding: 0 30px;
                        margin: 0 0 30px;
                    }
                    p {
                        font-size: 12px;
                        color: #000;
                        margin: 0 30px;
                        width: 229px;
                    }
                }
            }
        }

        .guidingPrinciple {
            padding: 0 30px;
            .container {
                padding: 0;
                .title {
                    h6 {
                        font-size: 7px;
                        margin: 0 0 40px;
                    }
                }
                .leftBox {
                    h3 {
                        font-size: 32px;
                        margin: 0 0 30px;
                    }
                }
                .rightBox {
                    p {
                        font-size: 10px;
                        width: 229px;
                    }
                }
            }

            .gpSliderDv {
                margin: 0 -20px;
                .slick-track {
                    .slick-slide.slick-current.slick-active {
                        .item {
                            .slideBox {
                                figure {
                                    &:before {
                                        content: "";
                                        visibility: hidden;
                                    }
                                    
                                }
                                h4 {
                                    display: block !important;
                                }
                                p {
                                    display: block !important;
                                }
                            }
                        }
                    }
            
                    .slick-slide {
                        margin: 0 15px;
                        .item {
                            .slideBox {
                                width: 100%;
                                figure {
                                    height: 174px;
                                }
                                h4 {
                                    font-size: 19px;
                                }
                                p {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    div#ceoMessageDv, div#sustainabilityDv, div#csrDv {
        .hero {
            padding:0;
            .leftBox {
                .cm-flex{
                    h3{
                        font-size:32px;
                        span{
                            position:relative; font-style:normal; margin:0;
                            ~span{font-style:italic;}
                        }
                    }
                    p{font-size: 23px;font-style: normal;}
                }
            }
            .rightBox {
                width: auto;left: 0;margin: 0px -10px;
                figure{width: 100vw;height: 300px;}
                a.pointerLink{display:none;}
                &:before, &:after{content:initial;}
            }
            .row{
                >div+div{
                    order:3;
                    +div{order:2;}
                }
            }
        }
        section.contentTxt {
            padding-top:0;padding-right: 90px;
            .ceoDv {
                flex-direction:column;align-items: start;
                .titleDv{order:2;}
                .ceoSign{order:1;width: 50%;}
            }
            .fullBox {
                p{font-size: 12px;}
            }
            .leftBox {
                p{font-size: 10px;margin-right: 0;}
            }
            .newsLink {display:none;}
        }
    }
}

       