.dp{color:red;}
$base-color: #9E7156;
.before, .after {
    content: '';
    position: absolute;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}
body .show-desktop {
    display: block !important;
}
body .show-mobile {
    display: none !important;
}
.icon-box {
    background-color: #fff;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2rem 0.25rem rgba(0, 0, 0, 0.07);
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    cursor: pointer;
    &:hover {
        &::before {
            @extend .before;
            border: 2px solid #eee;
            box-shadow: 0 0 0 30px #fff, 0 0 0 31px #ddd;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            z-index: -10;
        }
        &::after {
            @extend .after;
            border: 2px solid #eee;
            box-shadow: 0 0 0 70px #fff, 0 0 0 71px #eee;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            z-index: -11;
        }
    }
    h3 {
        font-size: 14px;
        font-family: inherit;
        font-weight: normal;
        position: static;
        margin: 0;
    }
}
.btn-outline-secondary:hover::after {
    filter: invert(1);
}
.fst-italic {
    display: inline!important;
}
.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    font-size: 0.7rem;
}
.slick-arrow {
    position: absolute;
    top: 80%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 30px 0;
    width: 83px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}
.menu-options {
    position: fixed;
    bottom: 100px;
    left: 100px;
    z-index: 10;
    .menu-close {
        display: none;
        margin-bottom: 10px;
    }
    .menu-option {
        background-color: #fff;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        figure {
            margin: 0;
            img {
                vertical-align: middle;
                width: 18px;
            }
        }
        span {
            display: none;
            position: absolute;
            left: 60px;
            color: #fff;
            text-shadow: 0 0 5px #000;
            white-space: nowrap;
        }
        &:hover {
            span {
                display: block;
            }
        }
    }
    .menu-option {
        + .menu-option {
            margin-top: 10px;
        }
    }
}

body > section.ipSec-1 {
    padding-top: 0;
    width: 100%;
    .container-fluid {
        width: 100%;
        padding: 0;
    }
    .content-left {
        position: relative;
        float: left;
        width: 100%;
        padding: 50px 50px 0 0;
        h4 {
            color: $base-color;
            letter-spacing: 1px;
            float: left;   
            margin-left: 60px;     
            &:after {
                border-color: $base-color;
            }
        }
        h5 {
            position: relative;
            text-align: right;
            color: #ccc;
            float: right;
            font-size: 10px;
            letter-spacing: 1px;
            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: -20px;
                background-image: url(../svg/arrow-left.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 12px;
                height: 9px;
            }
        }
        img {
            margin-top: 70px;
            margin-left: 20px;
        }
        .property-name {
            position: absolute;
            top: 300px;
            left: 120px;
            z-index: 10;
            font-size: 90px;
            margin-left: 70px;
            font-family: "sangbleu_kingdom", sans-serif !important;
            font-weight: 100;
        }
    }
    .content-right {
        figure{
            img {
                margin-left: 0;
                width: 100%;
                object-fit: cover;
                height: 100%;
                object-position: center;
            }
        }
    }
}
body > section.ipSec-2 {
    padding-top: 0;
    overflow: visible;
    .container-fluid {
        padding: 0;
    }
    .countDv {
        margin-top: -15px;
        .row {
            div.col-lg-4 {
                order: 1;
                margin-top: 30px;
            }
        }
    }
    figure {
        height: auto;
        margin-bottom: 10px;
        left: 0 !important;
        img {
            object-fit: none;
            width: auto;
            height: auto;
        }        
        &:after {
            content: none;
        }
    }
    .unit-number {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        span {
            font-size: 12px;
            color: #ccc;
        }
        figure {
            margin: 0 10px 0 0;
            position: relative;
        }
        &::after {
            content: none;
        }
    }
    .content-right {
        .countDv {
            h5 {
                font-size: 14px;
                letter-spacing: 1px;
                margin-top: 0;
            }
            p {
                font-size: 32px;
            }
        }
        & > p {
            width: 70%;
            margin-top: 50px;
        }
        .download-box {
            margin-top: 50px;
            a.btn {
                position: relative;
                width: 65%;
                text-align: left;
                padding: 1rem 1.5rem;
                font-size: 0.9rem;
                letter-spacing: 0.5px;
                margin-top: 0;
                &:after {
                    content: '';
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    background-image: url(../svg/icon-download.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 12px;
                    height: 14px;
                }
                + a.btn {
                    margin-top: 10px;
                }
            }
        }
    }

    .content-right.dt{
        p{display: block;}
        .download-box{display: block;}
    }
    .content-right.mb{
        display: none;
    }

    .search-pro {
        position: absolute;left: 0;display: flex;justify-content: flex-start;bottom: auto;margin-top: -25%;z-index: 7;
        ul {
            left: 0;right: auto;top: 0;bottom: auto;
            li {box-shadow: 0 0 9px 0px #0000001f;border-radius: 50%;}
        }
        a.btn.btn-call {margin: -50px 0 0 0;}
    }
}
body > section.ipSec-3 {
    margin-top: 50px !important;
    .container-fluid {
        position: relative;
    }
    h4 {
        color: $base-color;
        margin-bottom: -20px;
        margin-left: 60px;
        &::after {
            border-color: $base-color;
        }
    }
    .aboutSlider {
        &:before {
            @extend .before;
            background-color: #F8F3F1;
            width: 87%;
            height: 80%;
            top: -50px;
            left: -70px;
            z-index: -10;
        }
        .content-left {
            margin-left: 90px;
            h3 {
                color: #000;
                font-size: 58px;
                line-height: 1;
                margin: 80px 0 60px;
                font-family: "sangbleu_kingdom", sans-serif;
                font-weight: 100;
            }
            a.btn {
                padding: 15px;
                position: relative;
                top: 13px;
            }
        }
        figure{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .slick-arrow {
            &.prev {
                left: 17%;
            }
            &.next {
                left: 25%;
            }
        }
        .slick-slide {
            height: 650px;
            .item {
                height: 250px;
                width: 100%;
                position: relative;
            }
        }
    }
    .slideInfo {
        border: 1px solid #EAEAEA;
        padding: 35px 25px;
        top: 79%;
        position: absolute;
        background-color: #fff;
        left: 70px;
        .separate-slide {
            margin: 10px;
        }
    }
}
body > section.ipSec-4 {
    .row {
        align-items: center;
        .content-right{
            p{
                max-width: 80%;
            }
        }
        figure:after {
            content: none;
        }
        &:nth-child(even) {
            margin-top: 70px;
            .img-figure {
                left: 70px;
            }
        }
        .image-box {
            .btn-fullscreen {
                float: right;
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 50%;
                z-index: 10;
                margin: -10px;
                position: relative;
                padding: 10px;
                right: -30px;
                bottom: 40px;
                figure {
                    left: 0;
                }
            }
            .btn-livestream {
                margin: 0;
                position: relative;
                top: -60px;
                left: 100px;
                z-index: 10;
                background-color: #fff;
                border-color: #fff;
                color: #000;
                .icon-live {
                    color: #FF5050;
                    vertical-align: text-bottom;
                    margin-right: 10px;
                }
            }
        }
    }
}
body > section.ipSec-5 {
    position: relative;
    &::after {
        @extend .after;
        background-color: #E7EFEB;
        top: 5%;
        left: 45%;
        width: 70%;
        height: 80%;
        z-index: -10;
    }
    h4 {
        color: $base-color;
        &::after {
            border-color: $base-color;
        }
    }
    figure {
        left: -70px;
        &::after {
            content: none;
        }
    }
    .content-right {
        width: 80%;
        .btn-360 {
            border-radius: 50%;
            padding: 1.25rem 1.5rem;
            margin-right: 20px;
            figure {
                left: 0;
            }
        }
    }
}
body > section.ipSec-6 {
    position: relative;
    margin-top: 50px;
    padding-top: 100px;
    &::before {
        @extend .before;
        background-color: rgba(216, 223, 238, 0.5);
        top: 25%;
        left: 0;
        width: 61%;
        height: 64%;
        z-index: -10;
    }
    &::after {
        @extend .after;
        background-color: rgba(216, 223, 238, 0.5);
        top: 0;
        left: 61%;
        width: 70%;
        height: 89%;
        z-index: -10;
    }
    figure {
        left: -70px;
        &::after {
            content: none;
        }
    }
    .content-right.mb{
        display: none;
    }
    .content-right {
        width: 90%;
        h4 {
            color: $base-color;
            &::after {
                border-color: $base-color;
            }
        }
        h3 {
            text-align: right;
        }
    }
}
body > section.ipSec-7 {
    .row {
        + .row {
            margin-top: 70px;
        }
    }
    .icon-box {
        @extend .icon-box;
    }
}
body > section.ipSec-8 {
    position: relative;
    margin-top: 50px;
    padding-top: 100px;
    &::before {
        @extend .before;
        background-color: #E7EFEB;
        top: 19%;
        left: 0;
        width: 35%;
        height: 30%;
        z-index: -10;
    }
    &::after {
        @extend .after;
        background-color: #E7EFEB;
        top: 49%;
        left: 0;
        width: 22%;
        height: 25%;
        z-index: -10;
    }
    .content-left {
        width: 80%;
        margin-left: 60px;
        h4 {
            color: $base-color;
            &::after {
                border-color: $base-color;
            }
        }
        h3{width: 90%;}
        p{max-width: 70%;}
    }
    .masonry-grid {
        .col-md-4:nth-child(2n) {margin-top: -50px;}
        .masonry-box {
            position: relative;display: flex;flex-direction: column;text-align: center;align-items: center;margin-bottom: 20px;transition: all 1s ease; top:50px; opacity:0;
            &:hover {
                cursor: pointer;
                &:before {@extend .before;z-index: 10;background-color: transparent;background-image: linear-gradient( transparent, #222 );width: 100%;height: 100%;}
            }
            h4 {
                position: absolute;bottom: 30px;z-index: 10;color: #fff;text-transform: uppercase;margin-bottom: 0;text-shadow: 2px 0px 4px #000;
                &::after {content: none;}
            }
            figure {
                position: static;width: 100%;
                &::after {content: none;}
            }
            &.activeAnim{top:0px; opacity:1;}
        }
    }
}
body > section.ipSec-9 {
    position: relative;
    margin-top: 50px;
    padding-top: 100px;
    h4 {
        color: $base-color;
        &::after {
            border-color: $base-color;
        }
    }
    p {
        text-align: right;
    }
    .opportunites {
        margin-top: -50px;
        .opportunity-box {
            text-align: center;
            margin: -10px;
            margin-top: 50px;
            .opportunity-link {
                display: block;
                figure {
                    position: static;
                    &::after {
                        content: none;
                    }
                }
                h3 {
                    position: static;
                    color: #000;
                    font-size: 24px;
                    font-weight: 400;
                    margin: 30px 0;
                }
                h5 {
                    color: #000;
                    font-size: 14px;
                    font-weight: 100;
                }
                p {
                    text-align: center;
                    font-size: 14px;
                    max-width: 100%;
                }
            }
        }
    }
}
body > section.ipSec-10 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 100px;
    &::before {
        @extend .before;
        background-color: #E7EFEB;
        top: 0%;
        left: 0;
        width: 51%;
        height: 49%;
        z-index: -10;
    }
    &::after {
        @extend .after;
        background-color: #E7EFEB;
        top: 49%;
        left: 24%;
        width: 27%;
        height: 35%;
        z-index: -15;
    }
    .content-right {
        h4 {
            color: $base-color;
            &::after {
                border-color: $base-color;
            }
        }
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 50px 0px 70px 0px;
            padding: 0;
            left: -16px;
            position: relative;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 1;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
    figure {
        &::after {
            content: none;
        }
    }
    .row {
        + .row {
            margin-top: 70px;
        }
    }
    .icon-box {
        @extend .icon-box;
    }
}
body > section.ipSec-11 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;
    &::before {
        @extend .before;
        background-color: rgba(216, 223, 238, 0.5);
        top: 0%;
        left: 0;
        width: 24%;
        height: 15%;
        z-index: -10;
    }
    &::after {
        @extend .after;
        background-color: rgba(216, 223, 238, 0.5);
        top: 15%;
        left: 0;
        width: 43%;
        height: 70%;
        z-index: -15;
    }
    h4 {
        color: $base-color;
        margin-top: 50px;
        margin-left: 60px;
        &::after {
            border-color: $base-color;
        }
    }
    .content-left {
        margin-left: 140px;
        width: 66%;
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 130px 0px 70px 0px;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 1;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
            max-width: 80%;
        }
    }
    figure {
        &::after {
            content: none;
        }
    }
    .eventSlider {
        .slick-arrow {
            top: 65%;
            &.prev {
                right: 18%;
            }
            &.next {
                right: 6%;
            }
        }
        img {
            width: 100%;
        }
        .content-box {
            width: 40%;
            margin-left: 70px;
            h3 {
                font-family: "sangbleu_kingdom", sans-serif;
                font-weight: 400;
                font-size: 46px;
                color: #000;
                margin: 70px 0 50px;
            }
            p {
                color: #000;
                font-size: 16px;
                margin: 0 0 20px;
                padding: 0;
                line-height: 1.4;
                font-weight: 300;
                opacity: 1;
                transition: all 0.5s ease;
                margin-bottom: 50px;
            }
        }
    }
}
body > section.ipSec-12 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;
    h4 {
        color: #000;
        margin-top: 0;
        margin-bottom: 120px;
        &::after {
            content: none;
        }
    }
    .content-left {
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin-bottom: 70px;
            .bold {
                font-weight: 400;
            }
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 1;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
    figure {
        &::after {
            content: none;
        }
    }
    .logos {
        figure {
            margin-top: 25px;
        }
    }
}
body > section.ipSec-13 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;    
    h4 {
        color: $base-color;
        margin-top: 50px;
        &::after {
            border-color: $base-color;
        }
    }
    .nav-row {
        margin-top: -170px;
        .nav-tabs {
            position: relative;
            top: 750px;
            left: 70px;
            width: 40%;
        }
        .tab-innercontent {
            margin-top: 20px;
            .nav-tabs {
                border-bottom: none;
                position: relative;
                top: 750px;
            }
        }
    }
    .content-left {
        margin-left: 90px;
        width: 85%;
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 400;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 80px 0px 70px 0px;
            .project-name {
                display: block;
            }
            small {
                font-size: .45em;
            }
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 1;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
        }
        .property-box {
            display: inline-block;
            margin-bottom: 50px;
            p {
                margin-bottom: 5px;
            }
        }
        .price-box {
            float: right;
            text-align: right;
            p {
                margin-bottom: 0;
            }
            small {
                font-size: .7em;
                color: #ccc;
            }
        }
        .icon-box {
            background-color: #fff;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            padding: 20px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 2rem 0.25rem rgba(0, 0, 0, 0.07);
            transition: all 0.5s ease;
            transition-delay: 0.5s;
            cursor: pointer;
            figure {
                margin: 0;
            }
            &:hover {
                &::before {
                    @extend .before;
                    border: 2px solid #eee;
                    box-shadow: 0 0 0 20px #fff, 0 0 0 21px #ddd;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    z-index: -10;
                }
            }
            h3 {
                font-size: 14px;
                font-weight: normal;
                position: static;
                margin: 0;
            }
        }
    }
    .content-right {
        background-color: rgba(224, 225, 226, .25);
        height: 100%;
        padding: 40px;
        margin-left: 70px;
        h3 {
            color: #000;
            font-size: 13px;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 400;
            opacity: 1;
            transition: all 0.5s ease;
        }
        .project-main {
            display: flex;
            justify-content: space-between;
        }
        .projectSlider {
            margin-top: 100px;
            min-height: 352px;
            .slick-slide {
                img {
                    margin: auto;
                }
            }
            .slick-arrow {
                top: 40%;
                border: none;
                background-color: transparent;
                &.prev {
                    left: -5%;
                }
                &.next {
                    right: -5%;
                }
            }
        }
        .projectSlider-nav {
            margin: 20px auto 0;
            .slick-slide {
                img {
                    margin: auto;
                }
            }
        }
        .project-plan {
            margin: 40px 0;
        }
        .project-zoom {
            float: right;
            margin-top: 40px;
            a {
                display: inline-block;
                + a {
                    margin-left: 20px;
                }
            }
        }
    }
    .nav-tabs {
        .nav-link {
            font-size: 14px;
            border: none;
            color: #ccc;
            &.active {
                border: none;
                color: #000;
            }
            &:hover {
                border: none;
                color: #000;
            }
            &:focus {
                border: none;
                color: #000;
            }
        }
    }
    figure {
        &::after {
            content: none;
        }
    }
}
body > section.ipSec-14 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;
    h4 {
        color: $base-color;
        &::after {
            border-color: $base-color;
        }
    }
    h3 {
        font-family: "sangbleu_kingdom", sans-serif;
        font-weight: 400;
    }
    h4 {
        color: #000;
        margin-top: 0;
        margin-bottom: 120px;
        &::after {
            content: none;
        }
    }
    .compare-unit {
        border: 1px solid black;
        border-radius: 3px;
        width: 190px;
        height: 60px;
        display: block;
        background: linear-gradient(to right, black 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        text-align: center;
        margin: 70px auto;
        &:hover {
            background-position: left bottom;
        }
        .compare-btn {
            text-align: center;
            font-size: 14px;
            line-height: 59px;
            color: black;
            transition: all .6s ease-out;
            display: block;
            &:hover {
                color: white;  
            }
        }
    }
    .content-center {
        text-align: center;
        h3 {
            color: #000;
            font-size: 26px;
            line-height: 1;
            margin-bottom: 40px;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 1;
            margin: 0 0 50px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
    .unit-row {
        .col-md-4 {
            .unit-box {
                text-align: center;
                margin: -10px;
                .unit-number {
                    text-align: left;
                    margin-bottom: 15px;
                }
                .image-box {
                    background-color: rgba(83, 87, 90, 0.1);
                    padding: 20px;
                    float: left;
                    width: 100%;
                    height: 285px;
                    a {
                        margin-top: -40px;
                        z-index: 10;
                        position: relative;
                        float: left;
                    }
                    .add-unit {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a {
                            margin: 0;
                        }
                    }
                }
                .content-box {
                    h3 {
                        color: #000;
                        line-height: 1;
                        margin: 40px 0 20px;
                        font-weight: normal;
                        text-transform: uppercase;
                        display: block;
                        float: left;
                        width: 100%;
                    }
                    p {
                        color: #000;
                        font-size: 16px;
                        line-height: 1;
                        margin: 0 0 20px;
                        padding: 0;
                        line-height: 1.4;
                        font-weight: 300;
                        opacity: 1;
                        transition: all 0.5s ease;
                    }
                    .btn-box {
                        a:nth-child(2) {
                            margin: 0 5px;
                        }
                    }
                    .separator {
                        border-color: #777;
                        width: 70%;
                        margin: 50px auto;
                    }
                    .list-group {
                        .list-group-item {
                            border: none;
                            p {
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .book-btn {
                        margin-top: 20px;
                        padding: 0.75rem 1.5rem;
                    }
                }
            }
        }
    }
}
body > section.ipSec-15 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;    
    h4 {
        color: $base-color;
        margin-top: 50px;
        margin-bottom: 40px;
        &::after {
            border-color: $base-color;
        }
    }
    .content-left {
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 30px 0 70px;
            .project-name {
                display: block;
            }
            small {
                font-size: .45em;
            }
        }
        .list-group {
            .list-group-item {
                border: none;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 10px;
                padding: 0;
                h6 {
                    font-size: 11px;
                    margin: 0;
                }
            }
            + .list-group {
                margin-top: 40px;
            }
        }
    }
    figure {
        position: relative;
        left: 70px;
        img {
            width: 100%;
        }
    }
}
body > section.ipSec-16 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;    
    h4 {
        color: $base-color;
        margin-top: 50px;
        margin-bottom: 40px;
        &::after {
            border-color: $base-color;
        }
    }
    .masterplan-box {
        position: relative;
        width: 100%;
        height: 690px;
        background-image: url(../images/ipimg-41.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        display: flex;
        align-items: end;
        justify-content: end;
        padding-right: 70px;
        padding-bottom: 50px;
        h3 {
            color: #fff;
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 400;
            font-size: 56px;
            line-height: 1;
        }
        p {
            color: #fff;
            font-size: 16px;
            margin: 0 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
            width: 20%;
            margin-left: 80px;
        }
    }
    .content-left {
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 30px 0 50px;
            i {
                font-weight: 100;
            }
        }
    }
    figure {
        position: relative;
        left: 70px;
        img {
            width: 100%;
        }
    }
}
body > section.ipSec-17 {
    margin-top: 130px !important;
    padding-top: 0;    
    h4 {
        color: $base-color;
        margin-top: 0;
        margin-bottom: 20px;
        &::after {
            border-color: $base-color;
        }
    }
    .content-left {
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 30px 0 0;
        }
        p {
            color: #000;
            font-size: 16px;
            margin: 50px 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
            width: 50%;
        }
        .download-box {
            margin-top: 50px;
            a.btn {
                position: relative;
                width: 100%;
                text-align: left;
                padding: 1rem 1.5rem;
                font-size: 0.9rem;
                letter-spacing: 0.5px;
                margin-top: 0;
                &:after {
                    content: '';
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    background-image: url(../svg/icon-download.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 12px;
                    height: 14px;
                }
                + a.btn {
                    margin-top: 10px;
                }
            }
        }
    }
    .content-right {
        text-align: right;
        margin-top: 200px;
        p {
            color: #000;
            font-size: 16px;
            margin: 0 5px 15px 0;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
        }
        .news-box {
            position: relative;
            background-image: url(../images/ipimg-42.jpg);
            background-position: center;
            background-repeat: no-repeat;
            width: 255px;
            height: 364px;
            float: right;
            margin-right: -70px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            padding: 30px;
            &:before {
                content: '';
                position: absolute;
                bottom: 38px;
                left: -70px;
                background-image: url(../svg/arrow-right.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 32px;
                height: 25px;
            }
            h3 {
                color: #fff;
                font-family: "sangbleu_kingdom", sans-serif;
                font-weight: 400;
                font-size: 38px;
                line-height: 1;
            }
        }
    }
}
body > section.ipSec-18 {
    padding-top: 0;    
    h4 {
        color: $base-color;
        margin-top: 0;
        margin-bottom: 20px;
        &::after {
            border-color: $base-color;
        }
    }
    .content-left {
        h3 {
            font-family: "sangbleu_kingdom", sans-serif;
            font-weight: 100;
            color: #000;
            font-size: 56px;
            line-height: 1;
            margin: 30px 0 70px;
        }
        p {
            color: #000;
            font-size: 16px;
            margin: 50px 0 20px;
            padding: 0;
            line-height: 1.4;
            font-weight: 300;
            opacity: 1;
            transition: all 0.5s ease;
            width: 50%;
        }
        .nav-tabs {
            .nav-item {
                margin-bottom: 0;
                .nav-link {
                    font-size: 14px;
                    padding-bottom: 15px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    color: #ccc;
                    &:hover {
                        color: #00426A;
                        border-color: #00426A;
                    }
                    &:focus {
                        color: #00426A;
                        border-color: #00426A;
                    }
                    &.active {
                        color: #00426A;
                        border-color: #00426A;
                    }
                }
            }
        }
        .tab-innercontent {
            p {
                width: auto;
                margin: 50px 0;
            }
            .form-select {
                border-radius: 0;
                height: 52px;
                font-size: inherit;
                border-color: #999;
                color: #ccc;
            }
            .form-control {
                border-radius: 0;
                padding: 25px 20px;
                border-color: #999;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #ccc;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #ccc;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #ccc;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #ccc;
                }
            }
            button.btn {
                width: 100%;
                padding: 1rem 1rem;
                margin-top: 1rem;
            }
            .btn-send {
                background-color: #00426A;
                border-color: #00426A;
            }
            .btn-cancel {
                color: #00426A;
                background-color: #fff;
                border-color: #00426A;
            }
            .form-check {
                margin-top: 30px;
                + .form-check {
                    margin-right: 0;
                }
            }
            .form-check-input:checked {
                background-image: none !important;
                background-color: #000;
                border: 3px solid #fff;
                box-shadow: 0 0 0 1px #000;
            }
        }
    }
}
body > section.ipSec-19 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;
    h4 {
        color: $base-color;
        &::after {
            border-color: $base-color;
        }
    }
    h3 {
        font-family: 'brown';
        font-weight: 400;
    }
    .unit-row {
        margin-top: 50px;
        margin-bottom: 100px;
        .col-md-4 {
            .unit-box {
                float: left;
                margin: 0 -10px;
                text-align: center;
                .unit-number {
                    display: flex;
                    justify-content: end;
                    position: relative;
                    left: -15px;
                    span {
                        font-size: 12px;
                        color: #ccc;
                    }
                    figure {
                        margin: 0 0 0 10px;
                    }
                    &::after {
                        content: none;
                    }
                }
                .image-box {
                    float: left;
                    width: 100%;
                    height: 285px;
                    padding: 0;
                    background-color: transparent;
                    position: relative;
                    figure {
                        margin: 0;
                        width: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    a {
                        float: left;
                        margin: 0;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        border-radius: 50%;
                        padding: 6px 9px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        figure {
                            margin: 0;
                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                }
                .content-box {
                    float: left;
                    padding-top: 20px;
                    width: 93%;
                    h3 {
                        color: #000;
                        line-height: 1;
                        margin: 0px 0 20px;
                        font-family: "sangbleu_kingdom", sans-serif;
                        display: inline-block;
                        float: left;
                        width: 70%;
                        text-align: left;
                    }
                    span {
                        float: right;
                        text-align: right;
                    }
                    p {
                        color: #000;
                        font-size: 14px;
                        line-height: 1;
                        margin: 0 0 20px;
                        padding: 0;
                        line-height: 1.4;
                        font-weight: 300;
                        opacity: 1;
                        transition: all 0.5s ease;
                        float: left;
                        width: 100%;
                        text-align: left;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                    .btn-box {
                        float: left;
                        width: 100%;
                        a {
                            float: left;
                        }
                        a:nth-child(2) {
                            margin: 0 5px;
                        }
                        a:nth-child(3) {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 520px){
    section.ipSec-1 {
        .container-fluid {
            padding: 0;
            .content-left {
                padding: 30px 30px 0;
                h4.sub-heading {
                    margin-left: 0;
                }
                a{
                    display: none;
                }
                img {float: right;position: relative;top: 30px;}
                h1.property-name {
                    margin-top: 35px;
                }
            }
            .content-right {
                a {
                    display: none;
                }
            }
        }
    }
    
    section.ipSec-2 {
        margin-bottom: 30px;
        .container-fluid {
            padding: 0;
            .content-right {
                padding: 0 30px;
                .countDv {
                    h5 {
                        font-size: 7px;
                    }
                    p {
                        font-size: 18px;
                        margin-bottom: 10px;
                        display: block !important;
                    }
                }
                p {
                    font-size: 10px;
                }
                .download-box {
                    a.btn {
                        font-size: 10px;
                        margin-bottom: 0;
                        &::after {
                            margin-top: -5px;
                        }
                    }
                }
            }
            .content-right.dt{
                p{display: none;}
                .download-box{display: none;}
            }
            .content-right.mb{
                display: block;
            }
            figure {
                width: calc(100% - 15px);
            }
            h4.unit-number {
                width: 100%;
                right: 30px;
                position: relative;
            }
        }
    }

    section.ipSec-3 {
        .container-fluid {
            padding: 0;
            h4.sub-heading {
                margin: 0 30px;
            }
            .aboutSlider {
                &::before {
                    width: calc(100% + 40px);
                    position: absolute;
                    height: 440px;
                    top: -50px;
                }
                .slick-slide {
                    .item {
                        .content-left {
                            padding: 0 30px;
                            h3.main-heading {
                                margin-left: 10px;
                            }
                            a {
                                figure {
                                    background: transparent;
                                    width: 65px;
                                    position: unset;
                                }
                            }
                            a.btn.btn-primary {
                                position: relative;
                                top: 7px;
                            }
                        }
                        figure {width: calc(100% - 30px);position: absolute;right: 0;}
                    }
                }
                .prev.slick-arrow {
                    left: 50px;
                }
                .next.slick-arrow {
                    left: 110px;
                }
            }
            span.slideInfo {
                margin-left: 20px;
                margin-top: 30px;
            }
        }
    }

    section.ipSec-4 {
        .container {
            padding: 0;
            .row:nth-child(1) {
                div:nth-child(1) {
                    order: 2;
                }
                div:nth-child(2) {
                    order: 1;
                }
            }
            figure.img-figure {
                width: calc(100% - 30px) !important;
                margin: 0;
                left: 0 !important;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content-right {
                padding: 0 30px;
                width: 100% !important;
            }

            .image-box {
                width: calc(100% - 30px);
                position: relative;
                left: 30px;
                figure.img-figure {
                    width: 100% !important;
                }
            }
            .content-left {
                padding: 0 30px;
            }
        }
    }

    section.ipSec-5 {
        .container {
            padding: 0;
            h4.sub-heading {
                padding: 0 30px;
            }
            figure {
                width: calc(100% - 30px);
                position: relative;
                left: 30px;
            }
            .content-right {
                padding: 0 30px;
                width: 100%;
                h3.main-heading {
                    width: 280px;
                    font-size: 32px !important;
                }
                p {
                    font-size: 10px;
                    width: 230px;
                }
                a.btn.btn-360 {
                    height: 58px;
                    padding: 0;
                    margin: 0;
                    width: 58px;
                    figure {display: flex;height: 58px;align-items: center;justify-content: center;width: 58px;
                        img {
                            width: auto;
                            height: 50%;
                        }
                    }

                }
                a.btn.btn-tour {
                    height: 44px;
                    line-height: 8px;
                    position: relative;
                    top: 3px;
                    margin-left: 10px;
                }
            }
        }
        &::after {
            width: calc(100% - 90px) !important;
        }
    }

    section.ipSec-6 {
        padding-top: 0 !important;
        &::before {
            top: 40px !important;
        }
        &::after {
            top: 100px !important;
        }
        .container {
            padding: 0;
            figure {
                width: calc(100% - 30px);
                left: 0;
                margin: 0;
                height: auto;
            }
        }
        .content-right.mb {
            display: block;
        }
        .content-right.dt {
            width: 100%;
            padding-top: 50px;
            h4.sub-heading {
                display: none;
            }
        }
        .content-right {
            padding: 0 30px;
            h4.sub-heading {
                margin: 0 0 60px;
            }
            h3.main-heading {
                margin: 0 0 20px;
                font-size: 32px !important;
                width: 200px;
            }
            p {
                font-size: 10px;
                width: 230px;
            }
        }
    }

    section.ipSec-8 {
        top: 64px !important;
        &::before {
            height: 265px !important;
        }
        &::after {top: 320px !important;height: 380px !important;}
        .container-fluid {
            padding: 0;
            .content-left {
                width: 100%;
                padding: 0 30px;
                margin: 0;
            }
        }
        .masonry-grid {
            margin-top: 30px !important;
            .col-6:nth-child(2n) {
                position: relative;
                top: 50px;
                margin-top: 0 !important;
            }
            .masonry-box {
                margin-bottom: 10px !important;
            }
            .col-6 {
                padding: 0 5px;
            }
        }
    }

    section.ipSec-9 {
        .container {
            padding: 0 30px;
            h4.sub-heading {font-size: 7px;}
            h3.main-heading {
                width: 230px;
                font-size: 32px !important;
                margin: 0 0 20px;
                br {
                    display: none;
                }
            }
            .opportunites {
                a.opportunity-link {
                    h3 {
                        padding: 0px 0;
                        margin: 25px 0 20px !important;
                        font-size: 18px !important;
                    }
                    h5 {
                        font-size: 10px !important;
                    }
                    p {
                        font-size: 10px !important;
                        margin: 0 0 0;
                    }
                }
            }
        }
    }

    section.ipSec-10 {
        padding-top:  0 !important;
        &::before {
            top: 55px !important;
            height: 142px !important;
        }
        .container {
            padding: 0 30px;
            .content-right {
                h4.sub-heading {
                    font-size: 7px;
                }
                h3.main-heading {
                    margin-left: 10px;
                    font-size: 32px !important;
                    width: 240px;
                }
                p {
                    font-size: 10px;
                    margin-left: 10px;
                }
            }
            .icon-box-mobile {
                margin-bottom: 10px;
                h3 {
                    font-size: 10px;
                }
            }
        }
        &::after {top: 184px !important;width: calc(100% - 110px) !important;}
    }

    section.ipSec-11 {
        &::before {
            top: 64px !important;
            width: calc(100% - 120px) !important;
            height: 114px !important;
            background: #EBEFF6 !important;
        }
        .container-fluid {
            padding: 0 30px;
            h4.sub-heading {
                margin: 0;
            }
            .content-left {
                h3.main-heading {
                    font-size: 32px !important;
                    width: 200px;
                }
                p {
                    font-size: 10px;
                    width: 230px;
                }
            }
            .eventSlider {
                .slick-track {
                    .slick-slide {
                        .item {
                            .content-box {
                                h3 {
                                    font-size: 18px;
                                }
                                p {
                                    width: 210px;
                                    font-size: 10px;
                                }
                                a.btn.btn-primary {
                                    font-size: 10px;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
                .prev.slick-arrow {
                    margin-top: 10px;
                }
                .next.slick-arrow {
                    margin-top: 10px;
                }
            }
        }
        &::after {
            top: 152px !important;
            width: calc(100% - 30px) !important;
            background: #EBEFF6 !important;
        }
    }

    section.ipSec-12 {
        margin-top: 50px !important;
        .container {
            padding: 0 30px;
            .content-left {
                h3.main-heading {
                    font-size: 32px !important;
                    width: 130px;
                }
                p {
                    width: 230px;
                    font-size: 10px;
                }
            }
            h4.sub-heading {
                margin-bottom: 0;
            }
            .logos {
                figure {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 0;
                    img {
                        height: auto;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }

    section.ipSec-13 {
        .container {
            padding: 0 30px;
            h4.sub-heading {
                margin: 0 0 -10px;
            }
            .nav-row {
                .content-right {
                    margin: 0 0;
                    .row:nth-child(3){
                        div:nth-child(1) {
                            h3.project-plan {
                                display: none;
                            }
                        }
                        div:nth-child(2) {
                            display: none;
                        }
                        div:nth-child(3) {
                            order: 4;
                        }
                        div:nth-child(4) {
                            order: 3;
                        }
                    }
                    .projectSlider-nav {
                        margin-top: 24px;
                        .slick-list {
                            .slick-track {
                                .slick-slide {
                                    margin: 0 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section.ipSec-14 {
        .compare-unit {
            height: 36px !important;
            width: 115px !important;
            a.compare-btn {
                font-size: 7px !important;
                line-height: 35px !important;
            }
        }
        .container {
            padding: 0 30px;
            .unit-row {
                .content-center {
                    h3.main-heading2 {
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 10px;
                        margin-bottom: 40px;
                        br {
                            display: none;
                        }
                    }
                }
                .unit-box {
                    .content-box {
                        h3 {
                            font-size: 18px;
                            margin: 20px 0 10px !important;
                        }
                        p {
                            font-size: 10px !important;
                        }
                        .btn-box {
                            a.btn {
                                width: 100%;
                                height: 30px;
                                font-size: 7px;
                                line-height: 27px;
                                padding: 0;
                            }
                        }
                        hr.separator {
                            width: 100%;
                            margin: 40px 0;
                        }
                        a.btn.book-btn {
                            height: 30px;
                            font-size: 7px;
                            padding: 0;
                            width: 85px;
                            line-height: 27px;
                        }
                        ul.list-group {
                            li.list-group-item {
                                p {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    h4.unit-number {
                        font-size: 7px;
                    }
                    .image-box {
                        .add-unit {
                            a.btn {
                                font-size: 7px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    section.ipSec-15 {
        .container {
            padding: 0;
            h4.sub-heading {
                font-size: 7px !important;
                margin-bottom: 40px;
                padding: 0 30px;
            }
            .content-left {
                padding: 0 30px;
                h3.main-heading {
                    font-size: 32px !important;
                }
                .location-box {
                    .show-mobile {
                        ul.list-group {
                            margin-top: 30px;
                            li.list-group-item {
                                font-size: 10px;
                                font-weight: normal;
                                h6 {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section.ipSec-16 {
        .container {
            padding: 0;
            h4.sub-heading {
                padding: 0 30px;
                font-size: 7px !important;
            }
            .content-left {
                h3.main-heading {
                    padding: 0 30px;
                    font-size: 32px !important;
                }
            }
            .masterplan-box {
                figure {
                    width: 100%;
                    left: 0;
                }
                .content-box {
                    margin: 0;
                    padding: 30px;
                    h3 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 10px;
                        width: 230px;
                    }
                }
            }
        }
    }

    section.ipSec-17 {
        .container {
            padding: 0 30px;
            h4.sub-heading {
                font-size: 7px !important;
                margin-bottom: 20px;
            }
            .content-left {
                h3.main-heading {
                    font-size: 32px !important;
                }
                .download-box {
                    a.btn {
                        font-size: 7px;
                        &::after {
                            top: 17px;
                        }
                    }
                }
                p {
                    font-size: 10px;
                    width: 230px;
                    margin-top: 30px;
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    section.ipSec-18 {
        .container {
            padding: 0 30px;
            .content-left {
                h3.main-heading {
                    font-size: 32px !important;
                }
                ul#bookingTab {
                    li.nav-item {}
                }
                div#bookingTabContent {
                    .tab-pane {
                        p {
                            font-size: 10px;
                            margin-bottom: 30px;
                        }
                        form {
                            &:is(select, input, label) {
                                font-size: 7px;
                            }
                            label {
                                position: relative;
                                top: -4px;
                            }
                            button.btn-send {
                                font-size: 7px;
                            }
                        }
                    }
                }
            }
        }
    }

    section.ipSec-19 {
        .container {
            padding: 0 30px;
            h4.sub-heading {
                font-size: 7px !important;
            }
            .unit-row {
                .unit-box {
                    .content-box {
                        width: 100% !important;
                        h3 {
                            font-size: 18px !important;
                            margin: 10px 0 !important;
                        }
                        span {
                            font-size: 10px;
                            font-weight: 400;
                        }
                        p {
                            font-size: 10px !important;
                            text-align: left !important;
                        }
                        a.btn {
                            font-size: 7px;
                        }
                    }
                    h4.unit-number {
                        span {
                            font-size: 7px;
                        }
                        figure {
                            img {
                                height: 9px;
                                position: relative;
                                top: -2px;
                            }
                        }
                    }
                }
            }
        }
    }
}



    