$baseFontFamily: 'brown', sans-serif;
$sangbleu_kingdom: 'sangbleu_kingdom', sans-serif;
$baseTxtSize:14px;
$bodyBg:#fff;
$baseTxtColor:#333;
$baseLink:#9E7156;
$baseLinkHover:#9E7156;


/* -------------------------Vars------------------------- */









/* -------------------------Mixins------------------------- */
/*@include per-width(100);
@mixin per-width($n, $i: 1) when ($i =< $n){
.wd-per{$i} {
	width: ($i * 1%);
}
	@include per-width($n, ($i + 1));
}

@include px-width(100);
@mixin px-width($n, $i: 1) when ($i =< $n){
.wd-px{$i} {
	width: ($i * 10px);
}
	@include px-width($n, ($i + 1));
}*/

@mixin ellipsis{white-space:pre;overflow:hidden;text-overflow:ellipsis;}
@mixin clearafter{&:after{content:"";display:table;clear:both;}}
@mixin icocenter{content:"";height:100%;display:inline-block;vertical-align:middle;}
@mixin fxdcenter($pos){position:$pos;left:0;right:0;top:0;bottom:0;margin:auto;}
@mixin para($color,$font-size,$margin:0,$padding:0){color:$color;font-size:$font-size;line-height: 1;/*line-height:($font-size+1);*/margin:$margin;padding:$padding;}
//@mixin trans($speed:.2s) when ($speed = 0){transition:initial;-o-transition:initial;-ms-transition:initial;-moz-transition:initial;-webkit-transition:initial;}
//@mixin trans($speed:.2s) when ($speed > 0){transition:all $speed ease-in-out;-o-transition:all $speed ease-in-out;-ms-transition:all $speed ease-in-out;-moz-transition:all $speed ease-in-out;-webkit-transition:all $speed ease-in-out;}
@mixin placeholder($a){&:-moz-placeholder{color:$a;}&::-moz-placeholder{color:$a;}&:-ms-input-placeholder{color:$a;}&::-webkit-input-placeholder{color:$a;}}
@mixin gutter($siz){ .row{margin-right: -$siz;margin-left: -$siz; > div{padding: 0 $siz;} } }
@mixin transDefault(){transition: all 0.5s ease;}
@mixin defaultHeadingStyle(){
	h2{
		@include para(#000,2.2rem,0 0 25px,0); font-weight: bold; position: relative;
		&:before{content: ''; position: absolute; left: 0; right: 0; bottom: -8px; margin: auto; width: 30px; height: 2px; background: $baseLinkHover;}
	}
	p{@include para(#737373,1.4rem,0 0 40px,0);line-height: 1.5;}
	@media (max-width: 767px) {
		h2{font-size: 1.5rem;margin: 0 0 15px;}
		p{font-size: 0.8rem;}
	}
}
@mixin imgCover(){
	margin:0; position: relative;
	img{width:100%; height:100%; object-fit:cover;}
}

// Site Local Mixins-------------------------------------
@mixin buttonFilled($btnColor){
	border-color:$btnColor; background:$btnColor; color:#fff; border-radius: 2px; padding: 17px 40px;text-transform: uppercase;font-size: 10px;transform:scale(1);@include transDefault();
	i{color:#fff;font-size: 13px;vertical-align: middle;margin: -2px 0px 0px 20px;@include transDefault();}
	&:hover{
		background:transparent; color:$btnColor;
		i{color:$btnColor;}
	}
}
@mixin buttonOutline($btnColor){
	border-color:$btnColor; color:#000; padding: 17px 40px;text-transform: uppercase;font-size: 10px;transform:scale(1);@include transDefault();
	i{color:$btnColor;font-size: 13px;vertical-align: middle;margin: -2px 0px 0px 20px;@include transDefault();}
	&:hover{
		background:$btnColor; color:#fff;
		i{color:#fff;}
	}
}
/* -------------------------Mixins------------------------- */


/* -------------------------Responsive Mixins------------------------- */
@mixin desktop4k{
	@media (min-width:3840px){ @content; }
}
@mixin desktop2k{
	@media (min-width:2048px){ @content; }
}
@mixin desktophd{
	@media (min-width:1920px){ @content; }
}
@mixin desktop{
	@media (min-width:1025px){ @content; }
}
@mixin tablet{
	@media (min-width:768px) and (max-width:1024px){ @content; }
}
@mixin mobile{
	@media (max-width:767px){ @content; }
}
@mixin smmobile{
	@media (max-width:512px){ @content; }
}
/* -------------------------Responsive Mixins------------------------- */



body{color:$baseTxtColor;background:$bodyBg;font-family:$baseFontFamily;font-size:$baseTxtSize;}
.container{margin:0 auto;position:relative;width:100%;
	&:after{content:"";display:table;clear:both}
}
img,a{margin:0px;padding:0px;outline:none!important;}
figure > img{}
a{color:$baseLink;text-decoration:none; transition: 0.5s all ease-in-out;
	&:hover{color:$baseLinkHover;text-decoration:none;}
	&.reverseLink{color:$baseLinkHover;
		&:hover{color:$baseLink;}
	}
}
#overlay{position:fixed;width:100%;height:100%;left:0;top:0;background:#000;opacity:0.8;filter:alpha(opacity=80);z-index:1000;display:none;}
::selection{background:$baseLinkHover;color:#fff;text-shadow:none;}
::-webkit-scrollbar{width:4px;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:none;}
::-webkit-scrollbar-track-piece{background:#eaeaeb;border:0;}
::-webkit-scrollbar-thumb{background-color:rgba(51,51,51,0.498039);border-radius:4px;}
::-webkit-scrollbar-thumb:vertical{-webkit-border-radius:0px;background-color:rgba(51,51,51,0.498039);}
[onclick]{cursor:pointer;}
.dtbl{display:table;width:100%;table-layout:fixed;
	.dtd{display:table-cell;vertical-align:middle; position: relative;
		&.vTop{vertical-align:top;}
		&.vMiddle{vertical-align:middle;}
		&.vBottom{vertical-align:bottom;}
	}
	&.vTop{
		>.dtd{vertical-align:top;}
	}
}



@keyframes lds-ripple {
	0% {top: 28px;left: 28px;width: 0;height: 0;opacity: 1;}
	100% {top: -1px;left: -1px;width: 58px;height: 58px;opacity: 0;}
}



//.btn:after{content: ''; display: inline-block; width: 20px; height: 2px; background: #fff;margin: -2px 0px 0px 5px;	vertical-align: middle; transition: 0.2s all ease-in-out;}
.btn{padding: .5rem 1rem; font-size: 0.8rem; border-radius:0;}
.btn:focus{background: inherit;}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus, .btn.focus, .btn:focus{box-shadow: none !important;}
.btn.big{padding: 1rem 2.75rem;border-radius: .5rem;}
.btn-primary {color: #fff;background-color: $baseLinkHover;border-color: $baseLinkHover;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary:hover {color: $baseLinkHover;border-color: #fff;background-color: #fff;&:after{background: $baseLinkHover;}}
.btn-outline-primary{color:$baseLink; border-color:$baseLink;&:after{background: $baseLink;}}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover {background-color:$baseLink; border-color:$baseLink; color: #fff;&:after{background: #fff;}}
.btn-light{border-color: #fff; background: none; color: #fff;}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle,
.btn-light:hover{background: #fff; color: $baseLinkHover;&:after{background: $baseLinkHover;}}
.btn-link{
	padding: .375rem .0rem;font-weight: 600;color: $baseLinkHover;
	&:after{background: $baseLinkHover;}
	&:hover{text-decoration: none; color: $baseLinkHover; opacity: 0.8;}
}




@keyframes roundSignal {
	from {transform: scale(1);border:1px solid rgba(#9E7156, 1);}
	to {transform: scale(1.5);border:1px solid rgba(#9E7156, 0);}
}








/* -------------------------Reset------------------------- */
*{margin:0px;padding:0px;outline:none;box-sizing:border-box;}
img{vertical-align:top;max-width:100%;height:auto;}
a{text-decoration:none;}
p{color:#98a9b1;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-left{text-align:left;}
ul,li{list-style:none;}
hr{border:0;border-top:1px solid #f3f6f7;margin:15px 0;}
input[type="text"],textarea,input[type="email"],select,input[type="search"],input[type="tel"],input[type="password"]{@include para(#73848c,13px,0,0 10px); @include placeholder(#73848c); border:1px solid #ccc;border-radius:2px;height:35px;line-height:35px;width:100%;font-style:normal;background:#ffffff;font-family:$baseFontFamily;}
textarea{resize:none;line-height:18px;font-family:$baseFontFamily;padding:10px;
	&.height85{height:85px;}
}
//@include placeholder(#d2d9dd);
.dnone{display:none!important;}
/* -------------------------Reset------------------------- */







