
/*body.page section{
  max-width: 100%;
  width: 100%;
}
body.transHeader.page.transHeaderActive > header {
  border-bottom: 1px solid #EFEFEF;
}*/
.mb-25{
    margin-bottom: 25px;
  }
  .mb-35{
    margin-bottom: 25px;
  }
  .mb--5{
    margin-bottom: 5%;
  }
  /*body.page.transHeaderActive{
    header{
      .logo{
        svg{
          path{
            fill: #9E7156;
          }
        }
      }
    }
  }
  body.page.transHeaderActive{
    header{
      nav{
        ul{
          li {
            color: #53575A;
          }
        }
      }
    }
  }
  body.page.transHeaderActive{
    header{
      nav{
        ul{
          li.active{
            a{
              border-bottom-color: #9E7156;
            }
          }
        }
      }
    }
  }*/
  .escape-transHeader{
    margin-top: 100px;
  }
  body.page.transHeaderActive > header .userSec a{
    //color: #53575A;
  }
  body.page.transHeaderActive > header .userSec a svg path,
  body.page.transHeaderActive > header .userSec a svg circle,
  body.page.transHeaderActive > header .userSec a svg line {
    //stroke: #000000;
  }
  .page-back-link > a svg {
    fill: #000;
    vertical-align: middle;
    margin-right: 2px;
  }
  .page-back-link > a {
    font-family: 'brown';
    font-size: 11px;
    color: #000000;
    text-align: left;
    font-weight: 400;
    opacity: .6;
  }
  .media-center-title > h1 {
    font-family: 'sangbleu_kingdom';
    font-weight: 300;
    font-size: 58px;
    font-style: normal;
    color: #000;
  }
  .page-media-center{
    /*background-image: url(../images/media-hero-bg.png);
    background-repeat: no-repeat;
    background-size: 70% 73%;
    background-position: left top;
    padding-top: 5%;*/
  }
  .page-media-center .container:before{content:''; position:absolute; left:-60px; top:0px; width:80%; height:360px; background:#F8F3F1; z-index:-1;}
  .page-media-center .container>div{position:relative; z-index:10;}
  .mc-intro > span {
    display: block;
    font-family: 'brown';
    font-size: 12px;
    font-weight: 400;
    color: #87B09A;
    font-style: normal;
    margin-bottom: 10%;
  }
  .mc-intro > h2 {
    font-family: 'sangbleu_kingdom';
    font-weight: 400;
    color: #000;
    font-size: 34px;
    line-height: 1.4;
  }
  .mc-intro > p {
    font-family: 'brown';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000;
  }
  .media-center-title {
    margin-bottom: 5%;
  }
  .mc-intro-action > a {
    font-family: 'brown';
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    font-style: normal;
  }
  .mc-intro {
    margin-bottom: 35px; margin-right:100px;
  }
  .mc-intro-action {
    padding-top: 30px;
  }
  .pmcs-wrapper > input[type=text] {
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    border-color: #707070;
    min-height: 60px;
    padding: 10px 20px;
  }
  .pmcs-wrapper button {
    outline: none !important;
    border: none !important;
    background: transparent !important;
    max-width: max-content;
    height: auto;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
  .pmcs-wrapper button svg {
    width: 18px;
    height: 18px;
  }
  .pmcs-wrapper {
    position: relative;
  }
  .mc-scrolling-tabs ul > li {
    display: inline-block;
    position: relative;
  }
  .mc-scrolling-tabs ul > li > a {
    font-family: 'brown';
    color: #BFBFBF;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 0;
  }
  .mc-scrolling-tabs > ul {
    border-bottom: 1px solid #CFD0D1;
    max-width: max-content;
    padding-left: 0;
  }
  .mc-scrolling-tabs > ul > li > a.t-active {
    color: #00426A;
  }
  .mc-scrolling-tabs > ul > li > a.t-active:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #00426A;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
  }
  .mc-scrolling-tabs ul > li:not(:last-child) {
    margin-right: 15px;
  }
  .mc-tabs-title > h4 {
    font-family: 'sangbleu_kingdom';
    font-size: 58px;
    font-weight: 300;
    color: #000;
    font-style: normal;
  }
  .mc-tabs-head > div {
    padding: 0 10px;
  }
  .mc-tabs-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  .mc-tabs-filter {
    flex: 0 0 40%;
  }.mc-tabs-filter > ul > li:not(:last-child) {
     margin-right: 10px;
   }
  .mc-tabs-filter > ul > li, .mc-tabs-filter > ul {
    display: inline-block;
  }
  .mc-tabs-filter > ul {
    padding-left: 0;
  }
  .mc-tabs-filter > label {
    font-family: 'brown';
    font-weight: 400;
    color: #000;
    margin-right: 10px;
    font-style: normal;
  }
  .mc-tabs-filter > ul > li a {
    font-size: 14px;
    font-weight: 400;
    color: #BFBFBF;
    font-family: 'brown';
  }
  .mc-tabs-filter > ul > li a.f-active{
    color: #000 !important;
  }
  .mc-scrolling-tabs {
    margin-bottom: 35px;
  }
  .mc-filter-name > h6 {
    font-family: 'brown';
    font-weight: 300;
    color: #000;
    font-size: 22px;
    font-style: normal;
  }
  .mc-filter-name{
    margin-bottom: 15px;
  }
  span.i-date {
    font-family: 'brown';
    display: block;
    font-size: 12px;
    color: #87B09A;
    margin-bottom: 10px;
  }
  h3.i-title {
    font-family: 'sangbleu_kingdom';
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    font-style: normal;
    color: #000;
  }
  .i-excerpt {
    font-family: 'brown';
    color: #000;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
  }
  a.i-action {
    display: block;
    font-family: 'brown';
    font-weight: 400;
    color: #87B09A;
    text-transform: uppercase;
  }
  .info-box {
    margin-bottom: 100px;
  }
  .mc-content-load > a > span {
    margin-left: 10px;
    font-size: 20px;
    line-height: 100%;
    vertical-align: baseline;
  }
  .mc-content-load > a {
    display: inline-block;
    background-color: #87B09A;
    color: #fff;
    font-family: 'brown';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 15px 30px;
  }
  .mc-content-load {
    margin-top: 35px;
  }
  .mc-tabs-content-wrap {
    margin-bottom: 7%;
  }
  .mc-tabs-filter {
    text-align: right;
  }
  #downloads{
    .download-box > h6 a{
      font-family: 'brown';
      font-weight: 300;
      color: #000;
      font-size: 14px;
      margin-bottom: 0;
    }
    .download-box > h6{
      margin-bottom: 0;
    }
    .download-box svg {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    .download-box {
      border: 1px solid #000000;
      position: relative;
      padding: 15px;
      padding-right: 40px;
      margin-bottom: 20px;
    }
    .download-details > p {
      font-family: 'brown';
      color: #000;
      font-weight: 300;
      font-size: 14px;
      max-width: 50%;
    }
    .download-details > p > a {
      text-decoration: underline;
      font-weight: 400;
    }
  }
  
  .page-wrapper {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  .info-box-feature figure, .info-box-feature figure img {
    max-width: 100%;
    width: 100%;
  }
  @media (max-width: 768px){
    .page-media-center{
      background-size: cover;
    }
    .media-center-title > h1,
    .mc-tabs-title > h4 {
      font-size: 36px;
    }
    .mc-intro > h2 {
      font-size: 24px;
    }
    .mc-tabs-head {
      flex-direction: column;
      align-items: normal;
    }
    h3.i-title {
      font-size: 20px;
    }
    .mc-tabs-filter,
    .mc-tabs-head > div {
      text-align: center;
    }
  }
  @media (max-width: 767px){
    .mc-intro-action {
      padding-top: 0;
      margin-bottom: 30px;
    }
    .mc-scrolling-tabs > ul {
      border-bottom: none;
      max-width: 100%;
    }
    .mc-scrolling-tabs ul > li:not(:last-child) {
      margin-right: 0px !important;
    }
    .mc-scrolling-tabs ul > li {
      display: block;
      position: relative;
    }
    .mc-tabs-title {
      margin-bottom: 20px;
    }
    .download-details > p {
      max-width: 100%;
    }
  }