

.elementor-location-header {
  position: absolute;
}
.dayLightWrapper {position: relative;overflow: hidden;width: 100%;height: calc(100vh);max-width: 100% !important;}
.dlReady .dayLightWrapper::after {content: '';position: absolute;z-index: 2;left: 0;right: 0; /*box-shadow: 0px 0 154px 120px #000;*/bottom: 0;}
.dayLightGraph {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 3;}
svg.radial-progress {height: auto;max-width: 400px;padding: 1em;width: 100%;overflow: visible;position: absolute;box-sizing: border-box;}
svg.radial-progress circle.graph {fill: rgba(0,0,0,0);stroke: #fff;stroke-dashoffset: 0;stroke-width: 0.3;}
.bulletGroup circle { /*transition: all 0.5s ease;*/}
svg.radial-progress circle.incomplete.graph {opacity: 0.85;stroke: #fff !important;}
svg.radial-progress circle.complete.graph {stroke: #254eb5;}
svg.radial-progress circle.complete.graph {stroke-dasharray: 219.91148575129;stroke-width: 0.6; /*-webkit-filter: drop-shadow( 1px 1px 4px #254eb5); filter: drop-shadow( 1px 1px 4px #254eb5);*/}
.radial-progress.dayLightBar .percentage.captionLarge {font: 400 5px 'roboto', sans-serif;letter-spacing: 0.2px;}
.percentage.captionSmall {font: 400 3px 'roboto', sans-serif;letter-spacing: 0.2px;}
svg.radial-progress text {fill: #fff;font: 600 2px/1 'Oswald', sans-serif;text-anchor: middle;text-transform: uppercase;}
.outer {position: absolute;left: 50%;transform: translate(-50%, -50%);top: 50%;max-width: 40px;max-height: 40px;width: 100%;height: 100%;box-sizing: border-box;opacity: 0;transition: all 1s ease;transition-delay: 1s !important;transition-duration: 1s !important;}
.dlReady .outer {max-width: 400px;max-height: 400px;opacity: 1;}
.outer::before {content: '';height: 1px;width: 1px;top: 50%;left: 50%;transform: translate(-50%, -50%);position: absolute;border-radius: 100%;transition: box-shadow 1s ease-in-out;}
.dlReady .outer::before {box-shadow: 0 0 100px 50px #333;}
#bar{ /*transition: all 0.5s ease; transition-delay: 0.5s !important; transition-duration: 0.5s !important;*/}
svg.radial-progress circle.initialBullet, svg.radial-progress circle.playedCircle {fill: #254eb5;}
svg.radial-progress circle.activeCircle.blink {fill: red;}
.dayLightGallery {position: relative;}
.dayLightImage { /*transition: all 0.5s ease; transition-delay: 1s !important; transition-duration: 1s !important;*/position: absolute;top: 0;left: 0;max-width: unset !important;}
.dayLightImage.offImage {z-index: 0;}
.dayLightImage.onImage {z-index: 1;}
.dayLightGalleryOverlay {display: none;}
.dlReady .dayLightGalleryOverlay {display: block;width: 100%;height: 100%;background: #000;position: absolute;z-index: 2;top: 0;left: 0;background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 40%);}
.dayLightImage.off {opacity: 0;}
.dayLightImage.on {opacity: 1;}
.dlBottomcontainer {position: absolute;bottom: 5%;left: 5%;width: 400px;height: 220px;overflow: hidden;}
.dlBottomWrapper {position: relative;width: 100%;height: 100%;}
.dlDescription {position: absolute;width: 100%;height: 100%;top: 0;right: -100%;text-align: left;line-height: 60px !important;letter-spacing: -2px;font-size: 58px;font-family: $sangbleu_kingdom;color: #fff;white-space: nowrap;transition: all 0.5s ease;transition-delay: 0.5s !important;transition-duration: 0.5s !important;font-weight: 300;}
.dlDescription span{font-style:italic;}
.dlDescription.play {right: 0;}
.dlBActionContainer {position: absolute;bottom: 0;left: 5%;width: 400px;height: 150px;overflow: hidden;}
.dlBActionWrapper {position: relative;width: 100%;height: 100%;}
.dlAction {position: absolute;width: 100%;height: 100%;text-align: left;line-height: 60px !important;letter-spacing: -2px;font-weight: 200;font-size: 58px;font-family: $sangbleu_kingdom;color: #fff;white-space: nowrap;transition: all 0.5s ease;transition-delay: 0.5s !important;transition-duration: 0.5s !important;}
.dlActionUp{top: -100%;left: 0;}
.dlActionDown {bottom: -100%;left: 75px;}
.dlActionUp.play {top: 0;}
.dlActionDown.play {bottom: 5px;}

/*******/

.percentage.captionSmall {font: 400 3px $baseFontFamily;letter-spacing: 0.2px;}
.radial-progress .percentage {font: 300 0.12em $baseFontFamily;letter-spacing: 0.1px;}
text.percentage.captionLarge {font: 400 0.29em $baseFontFamily;letter-spacing: 0.1px;}
.dlLoading {width: 100%;height: calc(100vh);max-width: 100% !important;}
.loaderWrapper {display: none;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 120px;height: 120px;}
.loader {border: 2px solid #f3f3f3;border-top: 2px solid #3498db;border-radius: 50%;width: 120px;height: 120px;animation: spin 2s linear infinite;}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.dlLoading .dayLightGallery, .dlLoading .dayLightGraph {visibility: hidden;}
#magicMouseCursor, #magicPointer {display: none;}
.elementor {width: 100%;}
.elementor-section {z-index: 4 !important;}
.dayLightSlider  .elementor-widget-image {text-align: left !important;margin: 3% 0 0 0;padding-left: 10px;}
.bottomcontainer {z-index: 4;position: absolute;bottom: 2%;left: 4%;}
.bottomcontainer .dlBActionContainer:last-child {height: 75px;}
.elementor-button-wrapper a.dlEPLink  {margin: 0 !important;vertical-align: top;background: transparent;border: 1px solid #fff;text-decoration: none;border-radius: 0;padding: 16px 24px;font-weight: 500;font-family: $baseFontFamily;letter-spacing: 0.5px;font-size: 10px;color: #fff;}
.dlVideoLink img {display: block;}

@media only screen and (max-width: 1024px) {

  .dayLightWrapper {width: 100%;height: calc(100vh - 250px);max-width: 100% !important;margin: 0 !important;}
  .bottomcontainer {position: relative;bottom: 0;left: 0;height: 250px;background: #000;margin: 0 !important;width: 100% !important;max-width: 100% !important;padding-left: 5%;}
  .dlBottomcontainer {height: 100px;position: initial;}
  .dlDescription {font-size: 32px !important;line-height: 40px !important; /*line-height: 72px !important; font-size: 59px !important;*/top: 18px;}
  /*.dlVideoLink svg {
      height: 102px !important;
      width: 102px !important;
  }*/
  .bottomcontainer .dlBActionContainer:last-child {height: 100px;padding-top: 18px;}
  .dlReady .outer {max-width: 300px;max-height: 300px;}
  /* .dlActionDown {
       left: 140px;
   }*/
  .elementor-button-wrapper a.dlEPLink {font-size: 12px;padding: 10px 20px;}
  .dlActionUp {line-height: 52px !important;}
  /*.bottomcontainer .dlBActionContainer .elementor-button-wrapper a.dlEPLink{padding: 40px 75px;font-size: 15px;}*/
  .bottomcontainer .dlBActionContainer {width: 100%; position: initial; height: 100px;}
}