body{
  section{

    &.ipobanner{
      position:relative; padding:0; max-width:100%;
      figure{
        width:100%; height:600px; @include imgCover();
        &:before{content:''; @include fxdcenter(absolute); background:rgba(#000, .4);}
      }
      h2{
        @include para(#fff,98px, 0); font-family:$sangbleu_kingdom; font-weight:300; position: absolute; left: 50%;top: 180px;transform: translateX(-600px);max-width: 630px;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }
        @include smmobile{
          left:0; top:auto; bottom:0px; transform:translateX(0); font-size:48px; padding:30px;
        }
      }
    }
    &.anouncingSec{
      position: relative;
      overflow-x: hidden;
      &:after{
        content: ''; position: absolute; left: 0; top: 150px;width: 240px; height:380px; background: #F8F3F1; z-index: 2;
        @include smmobile{right: 0; left:auto;width: 130px;height: 140px;top: 70px;}
      }
      >div{z-index: 5;}
      h2{
        @include para(#000,58px, 0 0 50px); font-family:$sangbleu_kingdom; font-weight:300; max-width: 630px; position: relative;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;padding-bottom: 10px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }
        @include smmobile{font-size:32px;}
      }
      p{
        @include para(#000,24px, 0 0 50px); font-weight: 300; line-height: 1.4;
        @include smmobile{font-size:10px; margin:0px 120px 10px 0px;}
      }
      .colItem{
        p{
          font-size: 16px;margin: 0;padding: 50px 0px 0px;
          @include smmobile{font-size:10px; padding:0; margin:0px 120px 50px 0px;}
        }
        >div{
          min-height: 380px;
          @include smmobile{min-height:0;}
          +div{
            position:relative; display: flex; justify-content: center; align-items: center;right: -110px;
            figure{
              width:280px; position: relative;z-index: 5;left: 50px;
              img{width: 100%; height: auto;}
              @include smmobile{width: 150px;}
            }
            &:before{content: ''; @include fxdcenter(absolute); background: #F1F5F3; z-index: 1;}
            &:after{content: ''; position: absolute; left: 0; bottom: 0; width: 160px;height: 140px; background: #fff; z-index: 2;}
            @include smmobile{
              right: 0px; min-height: 200px;
              &:before{left:40px;}
              &:after{width: 120px;height: 80px;}
            }
          }
        }
      }
    }
    &.retalInNumbers{
      position: relative;
      &:after{content: ''; position: absolute; left: 0; top: 550px;width: 240px; height:380px; background: #F8F3F1; z-index: 2;}
      @include smmobile{
        &:after{width: 100%; top:0px;height: 68%;}
        &:before{content: ''; position: absolute; right: 0; top: 0; width: 70px;height: 140px; background: #fff; z-index: 3;}
      }
      >div{z-index: 5;}
      h4{
        color:#9E7156; margin-bottom: 50px;
        &:after{border-color:#9E7156;}
      }
      h2{
        @include para(#000,58px, 0 0 50px); font-family:$sangbleu_kingdom; font-weight:300; max-width: 630px; position: relative;
        span{
          display:inline-block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;padding-bottom: 10px;}
          +span{
            font-style:italic;
            span{top: -9px; padding-left: 0;}
          }
        }
        @include smmobile{font-size:32px;}
      }
      .numbersDv{
        margin-top: -280px;
        >div{
          padding-top: 280px;
          +div{
            padding-top: 370px;
            +div{
              padding-top: 60px;
              +div{padding-top: 0px;}
            }
          }
        }
        .numbersItem{
          border: 1px solid #9E7156; margin: 0 0 10px; min-height: 470px; padding:70px 50px;
          h5{@include para(#000,72px, 0 0 20px); font-family:$sangbleu_kingdom; font-weight:300;}
          p{@include para(#000,28px, 0 0 0px); line-height: 1.4; font-family:$sangbleu_kingdom;}
        }
        @include smmobile{
          margin-top:0;
          >div{
            padding: 0;
            +div{
              padding: 0;
              +div{
                padding: 0;
                +div{
                  padding: 0;
                }
              }
            }
          }
          .numbersItem{
            border:none; min-height: 110px;padding: 20px;float: left;width: 50%;
            h5{font-size:32px;margin: 0 0 10px; font-weight:normal;}
            p{font-size:12px; opacity:0.25; font-family:$baseFontFamily;}
          }
        }
      }
    }
    &.investmentHigh{
      position: relative;
      overflow-x: hidden;
      h4{
        color:#9E7156; margin-bottom: 50px; position: relative;z-index: 10;
        &:after{border-color:#9E7156;}
      }
      .row{
        &:before{content: ''; @include fxdcenter(absolute); bottom: 80px; background: #F1F5F3; z-index: 1;transform: translate(110px, 120px);}
        >div{z-index: 5;position: relative;}
        figure{width: 100%; height: 630px; @include imgCover(); left: -125px;}
        p{@include para(#000,42px, 0px); font-family:$sangbleu_kingdom; font-weight:300;padding-top: 120px;line-height: 1.2;}
        @include smmobile{
          &:before{transform:initial; left: 90px;top: 30px;bottom: auto;height: 240px;}
          figure{height: 250px;left: -15px;}
          p{font-size:18px; font-weight:normal;padding: 40px 90px 0px 20px;}
        }
      }

    }
    &.faqSec{
      @include smmobile{padding: 0px 20px 50px;}
      h4{
        color:#9E7156; margin-bottom: 50px;
        &:after{border-color:#9E7156;}
      }
      h2{
        @include para(#000,58px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; position: relative;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }
        @include smmobile{font-size:32px;}
      }
      .accord{
        border:1px solid #000; padding:20px; margin:0 0 10px;
        .head{
          font-size:19px; font-weight: 300; text-transform:uppercase; cursor:pointer; position:relative; padding-right:30%;
          i{
            position:absolute; font-size:12px; top:0px; right:0px;
            +i{display:none;}
          }
        }
        .inner{
          overflow: hidden; padding-top:0px; max-height:0px; @include transDefault();
          p{
            font-size:16px; font-weight: 300;
            &:last-child{margin:0;}
          }
        }
        &.active{
          .head{
            i{
              display:none;
              +i{display:block;}
            }
          }
          .inner{max-height:100vh; padding-top:20px;}
        }
        @include smmobile{
          .head{font-size:10px;}
          .inner{
            p{font-size:10px;}
          }
        }
      }
    }
    &.keynotes{
      position: relative;
      &:after{content: ''; position: absolute; left: 0; top: 380px;width: 650px; height:380px; background: #F8F3F1; z-index: 2;}
      &:before{content: ''; position: absolute; left: 0; top: 620px;width: 170px;height: 140px; background: #fff; z-index: 3;}
      @include smmobile{
        &:before, &:after{content:initial;}
      }
      >div{z-index: 5;}
      h4{
        color:#9E7156; margin-bottom: 50px;
        &:after{border-color:#9E7156;}
      }
      .keynoteList{
        table{
          width: 100%;
          @include smmobile{}
          thead{
            th{
              @include para(#000,12px, 0); font-weight: 300; text-transform: uppercase; padding: 20px 0px;border-bottom: 1px solid rgba(#000, 0.11);
              +th{width:100px;text-align: center;}
            }
            @include smmobile{display:none;}
          }
          tbody{
            td{
              @include para(#000,28px,0px); font-family:$sangbleu_kingdom; padding:20px 0px; border-bottom: 1px solid rgba(#000, 0.11);
              +td{text-align: center;}
              .btn{
                @include buttonOutline(#9E7156);padding: 0px;border-radius: 40px;border-color: #000;
                &:hover{
                  border-color:transparent;
                  svg{
                    path, line{stroke: #fff;}
                  }
                }
              }
            }
            @include smmobile{
              tr{border:1px solid #000;}
              td{
                border-bottom:none; font-family:$baseFontFamily; font-size: 10px; padding:10px;
                .btn{border:none;}
              }
            }
          }
        }
      }

    }
    &.timeLine.ipo {
      background: #F1F5F3;
      @include smmobile{
        padding: 50px 20px; background:none;
        &:after{content:initial;}
      }
      h4 {color: #E2B87E;margin-bottom: 50px;}
      .timelineSliderDv {
        width: 100%;padding-top: 100px;position: relative;
        @include smmobile{padding-top: 0px;}
        ul.slick-dots {
          position: absolute;top: 0;height: 50px;
          li {
            width: 100px;text-align: center;font-size: 11px;font-family: $baseFontFamily;
            &:after {content: "";width: 6px;height: 6px;background: #ccc;display: block;margin: 0 auto;border-radius: 50%;margin-top: 12px;}
          }
          &:after {content: "";width: 100%;height: 1px;background: #ccc;display: block;margin-top: 9px;}
          @include smmobile{display:none !important;}
        }
        .slick-list {
          padding: 0 !important;
          .slick-track {
            .slick-slide {
              .item {
                figure.slideImg {
                  width: 100%;height: 375px;overflow: hidden;margin: 0 0 25px;
                  img {object-fit: cover;width: 100%;height: 100%;}
                }
                .yearOfEstablish {
                  height: 100%;display: flex;align-items: end;justify-content: end;
                  .yoe-flex {
                    height: 133px;position: relative;top: -45px;
                    h1 {margin: 0;font-family: $sangbleu_kingdom;font-size: 70px; text-align: right;font-weight: lighter;font-style: italic;}
                    p {margin: 0;font-family: $baseFontFamily;font-size: 10px;color: #000;}
                  }
                }
                .slideTitle {
                  h3 {font-family: $sangbleu_kingdom;font-size: 39px;color: #000;font-style: italic;}
                }
                .slideDesc {
                  p {font-family: $baseFontFamily;font-size: 16px;font-weight: lighter;color: #000;}
                }
                @include smmobile{
                  >.row:first-child{
                    >div{
                      order:2;
                      +div{order:1;}
                    }
                  }
                  figure.slideImg {height: 250px;}
                  .yearOfEstablish{
                    justify-content: start;
                    .yoe-flex{
                      height: auto;top: 0px;margin-bottom: 20px;
                      h1{font-size: 18px;text-align: left;font-weight: normal;font-style: inherit;}
                    }
                  }
                  .slideTitle h3{font-size:18px; font-style:unset; font-weight:normal;}
                  .slideDesc p{font-size:10px;}
                }
              }
            }
          }
        }
        .slick-arrow{
          top: 100px; background: #F1F5F3;
          @include smmobile{padding: 10px 0px;width: 43px;top: 0px;background:none;}
          &.prev{
            position: absolute;right: 0;
            @include smmobile{}
          }
          &.next{
            position: absolute;right: 100px;/*border-color: #bfbfbf6b;color: #bfbfbf6b;*/
            @include smmobile{right: 60px;}
          }
        }
      }

    }
    &.subscribe {
      margin-bottom:100px;position: relative;
      h4{
        color:#9E7156; margin-bottom: 50px;
        &:after{border-color:#9E7156;}
      }
      h3 {
        font-family: $sangbleu_kingdom;font-size: 58px;font-weight: lighter;margin: 0 0 100px;
        span {font-style: italic;}
        @include smmobile{font-size:32px;}
      }
      /*.title {
        h6 {
          font-family: $baseFontFamily;font-size: 14px;color: #9E7156;margin: 0 0 30px;
          small {
            svg {margin-left: 10px;position: relative;top: -1px;}
          }
        }
      }

      .leftBox {
        display: flex;align-items: center;height: 100%;
        h3 {
          font-family: $sangbleu_kingdom;font-size: 58px;font-weight: lighter;margin: 0 0 100px;
          span {font-style: italic;}
        }
      }*/

      .numberBox {
        position: absolute;
        left: 80px;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 39px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 70px;
        span.countFirst {
          font-family: 'brown';
          font-size: 12px;
          color: #000;
        }
        span.dash {
          width: 16px;
          height: 2px;
          background: #9E7156;
          margin: 0 5px;
          color: transparent;
          position: relative;
          top: 1px;
        }
        span.countLast {
          font-family: 'brown';
          font-size: 12px;
          color: #000;
        }
      }

      .rightBox {
        height: 100%;display: flex;align-items: center;
        p {font-family: $baseFontFamily;font-size: 16px;color: #000;font-weight: lighter;}
      }

      .sliderDvOverFlow {
        .subscribeSliderDv {
          .slick-list {
            .slick-track {
              .slick-slide.slick-active {
                .item {
                  figure{
                    &:before {content: "";width: 100%;height: 100%;background: #fff6;position: absolute;}
                  }
                  h4 {display: block;}
                  p {display: none;}
                  .btn-group{visibility: hidden;}
                }
              }

              .slick-slide.slick-current.slick-active.slick-center {
                .item {
                  figure{
                    &:before {display: none;}
                  }
                  h4 {display: block;}
                  p {display: block;}
                  .btn-group{visibility: visible;}
                }
              }

              .slick-slide {
                .slideBox {
                  width: 70%;position: relative;
                  figure {
                    width: 100%;height: 410px;margin: 0 0 40px;
                    img {width: 100%;object-fit: cover;height: 100%;}
                    &:before {}
                  }
                  h4 {
                    font-family: $sangbleu_kingdom;font-size: 28px;font-weight: normal;margin: 0 0 20px;font-style: italic;
                    &:after{display: none;}
                  }
                  p {font-family: $baseFontFamily;font-size: 14px;color: #000;font-weight: lighter;height: 100px;margin: 0 0 30px;}

                  .btn-group{
                    visibility: visible;
                    a.btn-link{
                      border: 1px solid #000000;padding: 15px;margin-right: 15px;border-radius: 3px;color: #000;text-decoration: none;font-family: $baseFontFamily;font-weight: normal;letter-spacing: 1px;text-transform: uppercase;display: flex;align-items: center;
                      svg {
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }

          .prev.slick-arrow {right: 5%;}
          .next.slick-arrow {right: calc(5% + 90px);/*color: #ccc;border-color: #ccc;*/}
        }
      }
      &:before{content: '';position: absolute;right: 20%;top: auto;width: 11%;height: 140px;background: #fff;z-index: -1;bottom: 0;}
      &:after{content: '';position: absolute;right: 0;width: 30%;height: 380px;background: #F8F3F1;z-index: -2;bottom: 0;top: auto;}
    }
    &.financAdvisor{
      h4{
        color:#9E7156; margin-bottom: 50px;
        &:after{border-color:#9E7156;}
      }

      h2{
        @include para(#000,44px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; position: relative;max-width: 920px;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }
        @include smmobile{font-size:18px; font-weight:normal;padding: 0px 90px 0px 20px;}
      }
      .advisorList{
        position: relative;left: 125px;
        .advisorItem{
          margin:0 0 50px;
          figure{
            height:245px; position:relative; display: flex; justify-content: center; align-items: center; background: #F7F7F7; margin-bottom: 40px;
            img{max-width: 70%;max-height: 70%;}
          }
          h5{@include para(#000,28px, 0 0px 15px); font-family:$sangbleu_kingdom;}
          p{
            margin:0;
            a{color:#000; text-decoration:underline;}
          }
        }
        @include smmobile{
          left:0;padding: 0 20px;
          .advisorItem{
            figure{height:100px;}
            h5{font-size:16px;}
            p{font-size:10px;}
          }
        }
      }
    }
  }
}


@media (max-width: 520px){
  section.subscribe { 
    margin-bottom: 0;
    .container {
      padding: 0 0;
      h4 {
        padding: 0 30px;
      }
      h3 {
        padding: 0 30px;
        width: 228px;
        margin: 0 0 60px;
      }
    }

    .numberBox {
      position: absolute !important;
      right: 30px !important;
      top: 40px !important;
      border: 1px solid #BFBFBF !important;
      border-radius: 4px !important;
      width: 39px !important;
      height: 23px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      left: auto !important;
      bottom: auto !important;
      span.countFirst {
        font-family: 'brown' !important;
        font-size: 6px !important;
        color: #000 !important;
      }
      span.dash {
        width: 6px !important;
        height: 2px !important;
        background: gray !important;
        margin: 0 5px !important;
        color: transparent !important;
        position: relative !important;
        top: 1px !important;
      }
      span.countLast {
        font-family: 'brown' !important;
        font-size: 6px !important;
        color: #000 !important;
      }
    }
    
    .sliderDvOverFlow {
      .subscribeSliderDv {
        margin: 0 0 0 0px;
        .slick-list {
          margin-left: -70px;
          .slick-track {
            .slick-slide {
              margin: 0 30px 0 20px;
              .slideBox {
                width: 100% !important;
                h4 {font-size: 18px !important;}
                figure {
                  height: 218px !important;
                  width: 100% !important;
                }
                p {font-size: 10px !important; width: 148px !important; height: 60px !important; }
                .btn-group {
                  a.btn.btn-link {
                    height: 37px !important;
                    padding: 5px 10px !important;
                    font-size: 7px !important;
                    svg {
                        height: 7px;
                    }
                  }
                }
              }
            }
          }
        }
        .prev.slick-arrow {
          top: -130px !important;
        }
        .next.slick-arrow {
          right: calc(5% + 60px) !important;
          top: -130px !important;
        }
      }
    }
    &:before {
      right: auto !important;
      top: auto !important;
      width: 51% !important;
      height: 140px !important;
      z-index: -1 !important;
      bottom: 80px !important;
      left: 0 !important;
    }
    &:after {
      right: 0 !important;
      width: 80% !important;
      height: 380px !important;
      background: #F8F3F1 !important;
      z-index: -2 !important;
      bottom: 120px !important;
      top: auto !important;
    }
  }

  section.financAdvisor {
    .container {
      padding: 0;
      h4 {
        padding: 0 30px;
        margin-bottom: 40px;
      }
      h2 {
        width: 229px;
        margin: 0 30px 40px;
        padding: 0;
        font-size: 18px;
      } 
    }
  }
}