:root{
  scroll-behavior: initial;
}
body {
  overflow: hidden;
  >header {
    padding: 0px 0px; position: fixed; left:0; right: 0; top:-30%; background: #fff;z-index: 110;transition:all 2s cubic-bezier(0.03, 0.72, 0.26, 1.02); transition-delay:1.5s;
    @include smmobile{padding:0px 10px;}
    .logo{
      display:block; padding: 20px 30px;padding-left: 0;
      svg{
        &, *{@include transDefault();transition-delay:1.5s;}
      }
    }
    nav{
      ul{
        margin:0; padding: 0; display: flex;
        li{
          color:#000;padding: 0px 30px;border-bottom: 1px solid rgba(#CFD0D1, 0.25);@include transDefault();transition-delay:1.5s;
          &:first-child{padding-left:10px;}
          &:last-child{padding-right:10px;}
          a{
            display:block; color:inherit; padding: 15px 0px;font-weight: 300;font-size: 12px;
            &:hover{color:inherit;}
          }
          &:hover{
            a{border-bottom-color:#CFD0D1;}
          }
          &.active, &.current-menu-item{
            a{border-bottom: 1px solid $baseLink;}
          }
        }
      }
      @include smmobile{display:none;}
    }
    .userSec{
      display:flex;
      a{
        display:block; color:#000; padding: 10px 10px;font-weight: 300;
        svg{
          width: 20px;height: 12px;position: relative;top: -2px;
          &, *{@include transDefault();transition-delay:1.5s;}
        }
      }
      @include smmobile{display:none;}
    }
    .mobileItem{
      display:none;
      @include smmobile{display:flex;align-items: center;}
      .circleBtn{
        svg{position:relative; top: 5px;}
      }
      .menuBtn{
        display: block;padding: 20px 15px;
        svg{
          path{stroke:#000;}
        }
      }
      .menuCloseBtn{
        display: none;padding: 20px 15px;
        svg{
          path{stroke:#000;}
        }
      }
    }
  }
  section {
    max-width:1440px; margin:0 auto; padding: 50px 0;
    h2{
      @include para($baseTxtColor,58px, 0 0 30px); font-weight: 300; font-family:$sangbleu_kingdom;
    }
    h3{@include para(#000,22px, 0 0 10px);font-weight: 600;}
    h4{
      @include para(#000,14px, 0 0 10px);font-weight: normal; text-transform:uppercase;
      &:after{content:''; display:inline-block; height:1px; width: 30px;border-top: 1px solid #000;position: relative;vertical-align: middle;margin-left: 20px;}
      @include smmobile{font-size:7px;}
    }
    p, li{
      @include para(#000,14px, 0 0 20px);font-weight: normal; line-height: 1.4; @include transDefault(); opacity:1; transition-duration: 2s;
      &.animToStart{opacity:0;}
    }
    ul.disc{
      padding-left: 30px;margin-bottom: 20px;
      li{list-style: disc;margin: 0px 0px 5px;}
    }
    figure{
      &[data-anim]{
        position:relative;
        &:before{content:''; @include fxdcenter(absolute); z-index:6; height:100%; bottom:auto; background:#000; transition:all 2s cubic-bezier(0.03, 0.72, 0.26, 1.02);}
        &.activeAnim{
          &:before{height:0%;}
        }
      }
    }
    .anim-head{
      opacity:0; @include transDefault();
      &.animStart{opacity:1;}
    }


    &.bannerSlider{
      padding:0;max-width: 100%;overflow:hidden;
      .counterSec{}
      .sliderSec{
        .item{
          figure{
            @include imgCover(); width:100%; height:100vh;
            &:before{content:''; @include fxdcenter(absolute); z-index: 1; background: rgb(0,0,0);background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 40%);}
          }
          .txtDv{
            position:absolute; left: 6%;bottom: 8%;z-index: 5;
            h3{
              @include para(#fff,58px, 0 0 20px); font-weight:300; font-family: $sangbleu_kingdom;
              span{font-style:italic; display:block;}
            }
            .btnDv{
              display: flex;
              .vid{margin-right:20px;}
              .txtBtn{
                font-size: 11px;color: #fff;border-color: #fff;padding: 15px 20px;
                &:hover{background:rgba(#fff, 0.4);}
              }
            }
          }
        }
      }
      .dayLightSlider{transform: scale(1.5);transition:all 2s cubic-bezier(0.03, 0.72, 0.26, 1.02); transition-delay: 0.5s;}
    }
    &.featuredProperties{
      $secColor:#E2B87E;
      h4{
        color:$secColor;margin: 0 0 60px;
        &:after{border-color:$secColor;}
      }
      .fetaurSliderDv{
        max-width: 100vw;overflow-x: hidden;
        .slick-list{
          padding: 0 200px !important;
          @include smmobile{
            padding:0 30px !important
          }
        }
        .slick-slide{
          >div{
            padding: 200px 0; @include transDefault();
            @include smmobile{
              padding: 60px 0 20px;
            }
          }
          .item{
            @include transDefault(); position: relative;
            *{@include transDefault();}
            figure{
              margin:0; height:350px; z-index:5; @include imgCover();@include transDefault();
              img{object-position:center; position:relative; z-index:5;}
              &:before{content:''; @include fxdcenter(absolute); @include transDefault(); bottom:auto; height:100%; background: #fff;background: linear-gradient(180deg, rgba(255, 255, 255,0.99) 0%, rgba(#fff,0) 100%);z-index: 7; opacity:1;}
              &:after{content:''; position:absolute; left:0px; bottom:0px; z-index:3; width:50%; height:50%; background:rgba($secColor, 0.2); @include transDefault();}
              @include smmobile{
                height: 260px;
              }
            }
            h3{
              position:absolute; z-index: 10;left: -110px;top: -100px; @include para(#000,98px); font-family:$sangbleu_kingdom; font-weight:300; text-indent: 16px;
              span{
                display:block; position: relative; overflow: hidden; @include transDefault();
                span{top:100px;}
                +span{
                  font-style:italic;
                  span{top:-100px;}
                }
              }
              @include smmobile{
                font-size:40px;left:-40px;top: -40px;
              }
            }
            p{
              position:absolute; right:0px; top:0px; z-index:3; text-transform: uppercase; @include para(#000,12px);font-weight: 300; @include transDefault();
              @include smmobile{
                right:10px;
              }
            }
            >div{
              background:#fff; z-index:7; position:absolute; right:0px; bottom: -22px;padding: 30px 0px 0 30px;transform: scale(0);
              .btn{@include buttonOutline($secColor);}
            }
          }
        }
        .slick-center{
          >div{
            padding:150px 80px;
            @include smmobile{
              padding:60px 40px 20px;
            }
          }
          .item{
            figure{
              height:450px;
              &:before{height:30%; bottom:auto; top:0; opacity:0.9; transition-delay: 0.3s;}
              &:after{left:-20px; bottom:-20px; transition-delay: 0.3s;}
              @include smmobile{
                height: 260px;
              }
            }
            h3{
              span{
                span, +span span{top:0; transition-delay: 0.3s;}
              }
            }
            p{transition-delay: 0.2s;top: -20px;font-size: 11px;}
            > div{transform: scale(.7);transition-delay: 0.5s;transform-origin: right bottom;}
          }
        }
        .slick-arrow{
          position: absolute;top:40%;border: 1px solid #000;border-radius: 50px;padding: 30px 0;width: 83px;text-align: center;z-index: 10; cursor: pointer;
          &.next{right:60px;}
          &.prev{left:60px;}

          @include smmobile{
            display:none !important;
          }
        }
      }
    }

    &.homeTxtImgSec{
      overflow-x: hidden;
      h4{margin-bottom:70px; max-width:100%; white-space: pre;overflow: hidden; @include transDefault();}
      figure{
        margin:0; height:95%; z-index:5; top:0%; left: 70px; @include imgCover();@include transDefault();
        img{object-position:center; position:relative; z-index:5;}
        &:before{content:''; @include fxdcenter(absolute); z-index:6; height:0%; bottom:auto; background:#000; transition:all 1s cubic-bezier(0.03, 0.72, 0.26, 1.02);}
        &:after{content:''; position:absolute; left:-40px; bottom:-40px; z-index:3; width:50%; height:50%; background:rgba(#607CBD, 0.2); @include transDefault(); transition-delay: 0.5s;}
      }
      h3{
        @include para(#000,56px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; position: relative;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }
      }
      p{@include para(#000,16px, 0 0 20px); line-height: 1.4; font-weight:300; opacity:1;max-width: 290px;@include transDefault(); transition-duration: 2s;}
      .btn{margin-top:50px;}
      .countDv{
        @include transDefault(); opacity:1;
        h5{@include para(#BFBFBF,12px, 50px 0 20px); font-weight:normal; text-transform:uppercase;}
        p{@include para(#000,22px, 0 0 20px); font-family:$sangbleu_kingdom; font-weight:normal;}
        @include smmobile{
          h5{margin: 0px 0 10px;}
        }
      }
      &.lirt{
        @include desktop{
          .row>div{
            order:2;
            +div{order:1;}
          }
          figure{
            left: -70px;
            &:after{right:-40px; left:auto; bottom:-40px;}
          }
        }
      }
      &.animToStart{
        h4{max-width:0%;}
        figure{
          //top: 50%; height:0%;
          &:before{height:100%;}
          &:after{left:0px; bottom:0px;}
        }
        /*h3{
          span{
            span{top:150px;}
            +span span{top:-150px;}
          }
        }*/
        p, .countDv{opacity:0;}
        .btn{transform:scale(0);}
        &.lirt{
          figure{
            &:after{left:auto; right:0px;}
          }
        }
      }

      /*@include desktophd{
        position:relative;
        .container{position:static;}
        figure{position:absolute; left: 0; height: 85%;}
        &.ltri{
          figure{right:0; left: auto;}
        }
      }*/
      @include smmobile{
        .row>div{
          order:2;
          //+div{order:1;}
        }
        figure{
          left: 10px;
          &:after{left: -20px;bottom: -20px;}
        }
        h4{margin-bottom:20px;}
        h3{font-size:36px;margin-bottom:20px;}
        &.lirt{
          figure{
            left: -10px;
            &:after{right:-20px; left:auto; bottom:-20px;}
          }
        }
      }
    }
    &.interactiveMap{
      $secColor:#3A5CAD;
      figure{
        &:after{background:rgba($secColor, 0.2);}
      }
      h4{
        color:$secColor;
        &:after{border-color:$secColor;}
      }
      .btn-outline{@include buttonOutline($secColor);}
      .btn-primary{@include buttonFilled($secColor);}
    }
    &.ourCompany{
      $secColor:#89B19C;
      figure{
        &:after{background:rgba($secColor, 0.2);}
      }
      h4{
        color:$secColor;margin-top: 60px;
        &:after{border-color:$secColor;}
        @include smmobile{margin-top:0;}
      }
      .btn-outline{@include buttonOutline($secColor);}
      .btn-primary{@include buttonFilled($secColor);}
    }
    &.whyRetal{
      h4{
        margin-bottom:70px; max-width:100%; white-space: pre;overflow: hidden; @include transDefault();color:#9E7156;
        &:after{border-color:#9E7156;}
      }
      h3{
        @include para(#000,56px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; position: relative;
        span{
          display:inline-block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;top: -3px;
            span{top:0px;padding-right: 3px;}
          }
        }
      }
      .iconCircleDv{
        .circleRow{
          display:flex; justify-content:center;
          @include smmobile{
            flex-wrap: wrap;
          }
          &:first-child{
            padding-left: 180px;
            @include smmobile{
              padding-left: 0px;
            }
          }
          .circleDv{
            margin: 0px 60px 90px;flex: 0 0 160px; cursor: default;transform: rotate3d(0, 1, 0, 0deg);@include transDefault();transition-duration: 3s;
            div{
              border-radius:80px;text-align: center;box-shadow: 0 0 30px rgba(#000, 0.08);max-width: 136px;height: 136px; background:#fff; display: flex;justify-content: center;align-items: center;margin:0 auto 30px; position: relative;@include transDefault();
              svg{
                line, path, circle{stroke:#000;@include transDefault();}
              }
              &:before, &:after{content:''; @include fxdcenter(absolute); border:1px solid rgba(#9E7156, 0);border-radius:80px;
                //transform: scale(1); @include transDefault();transition-timing-function: cubic-bezier(0.75, -0.01, 0.07, 1.01);
                //animation-timing-function:cubic-bezier(0.75, -0.01, 0.07, 1.01);
                animation-duration: 1s;animation-iteration-count: infinite;
              }
              &:after{
                //transition-delay: 0.2s;
                animation-delay: 0.5s;
              }
            }
            h5{@include para(#000,14px, 0px); line-height: 1.4; font-weight:normal; text-transform:uppercase; text-align:center;}
            &:hover{
              div{
                box-shadow: 0 0 30px rgba(#000, 0.08);background:#9E7156;
                svg{
                  line, path, circle{stroke:#fff;}
                }
                &:before{animation-name:roundSignal;}
                &:after{animation-name:roundSignal;}
                //&:before{border:1px solid rgba(#9E7156, 0.3);transform: scale(1.25);}
                //&:after{border:1px solid rgba(#9E7156, 0.1);transform: scale(1.5);}
              }
            }
            @include smmobile{
              margin: 0px 10px 90px;flex: auto;
              div{max-width: 70px;height: 70px;}
            }
          }
          .txtDv{
            padding: 30px 140px 0px 0px;
            p{@include para(#000,14px, 0px); line-height: 1.4; font-weight:normal;}
            @include smmobile{
              padding: 0;margin: 0 0 80px;text-align: center;
            }
          }
        }
      }
      .circleDvMobile{display:none;}
      /*&.animToStart{
        h4{max-width:0%;}
        h3{
          span{
            span{top:150px;}
            +span span{top:-150px;}
          }
        }
        p{opacity:0;}
        .circleRow{
          .circleDv{
            transform: rotate3d(0, 1, 0, 630deg);
          }
        }
      }*/
      @include smmobile{
        h4{margin-bottom:40px;}
        h3{font-size:36px;margin-bottom:20px;}
      }
    }
    &.botCarousel{
      .botHomeSlider{
        max-width: 100vw;overflow-x: hidden;
        @include smmobile{
          padding: 60px 10px 0;
        }
        .slick-list{
          padding: 0 400px 0 0 !important;
          @include smmobile{padding: 0 !important;}
        }
        .slick-slide{
          >div{
            padding:0 40px; opacity:1; @include transDefault();
            @include smmobile{
              padding:0 5px;
            }
          }
          //&.slick-active > div{opacity:1;}
          .item{
            figure{
              width:100%; height:250px;
              @include imgCover(); margin:0 0 20px;
              @include smmobile{
                height:100px;
              }
            }
            h5{@include para(#87B09A,12px, 0 0 20px);font-weight:normal; text-transform:uppercase;}
            h3{@include para(#000,28px, 0 0 20px);font-weight:normal; font-family:$sangbleu_kingdom; }
            p{@include para(#000,14px, 0 0 20px);font-weight:300; line-height:1.4;}
            .btn{@include buttonOutline(#87B09A);}
            @include smmobile{
              h5{font-size:10px; font-weight:300;}
              h3{font-size:19px; margin:0 0 10px;}
              p{font-size:12px;}
              .btn{
                padding: 10px 20px; border-radius: 2px;
                i{margin: -2px 0px 0px 7px;}
              }
            }
          }
        }
        .slick-center{
          ~div>div{opacity:0.5;}
        }
        .slick-arrow{
          position: absolute;top:40%;border: 1px solid #000;border-radius: 50px;padding: 30px 0;width: 83px;text-align: center;z-index: 10; cursor: pointer;
          &.next{right:60px;}
          &.prev{right:150px;}
          @include smmobile{
            top:0%; padding: 13px 0;width: 49px;
            &.next{right:15px;}
            &.prev{right:80px;}
          }
        }
      }
    }

    &.community{
      overflow-x: hidden; padding-top: 0;
      >div>div>figure{
        height:100%; width: 100%; @include imgCover();
      }
      .txtDv{padding:50px 80px;}
      h3{
        @include para(#000,56px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; left:-16px; position: relative;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }
      }
      p{line-height:1.7;font-size:12px;margin-bottom: 50px}
      .btn{@include buttonOutline(#000);margin-bottom: 50px}
      .project{
        p{text-align:right;margin-bottom: 0px}
        &.project01{
          position: relative; width:200px; left: -80px;top: 50px;
          figure{width:100%; height:220px; @include imgCover();}
        }
        &.project02{
          width:310px;
          figure{width:100%; height:380px; @include imgCover();}
        }
      }
      @include smmobile{
        >div>div{
          order:2;
          +div{order:1;}
        }
        .txtDv{padding: 50px 20px 230px;position: relative;}
        h3{font-size: 46px;margin: 0 0px 20px;}
        .project{
          display: flex;flex-direction: column;
          figure{order:2;}
          p{order:1;font-size: 9px;}
          &.project01{
            position: absolute;width: 170px;left: 0px;top: auto;bottom: 0px;
            figure{height:100%;}
          }
          &.project02{
            position: absolute;width: 200px;height: 250px;bottom: 8px;right: 0px;
            figure{height:100%;}
            p{text-align:left;}
          }
        }
      }
    }
    &.propertyPageSlide{
      h4{
        color:#9E7156; margin-bottom: 50px;
        &:after{border-color:#9E7156;}
      }
      .sliderDv{
        min-height: 765px;
        @include smmobile{padding:0 20px; min-height: 0px;}
        .item{
          position: relative; cursor: pointer;
          @include smmobile{border:1px solid #000; padding:20px 20px; margin: 0 0 10px;}
          figure{
            height:640px; @include imgCover();
            @include smmobile{display:none;}
          }
          p{
            position:absolute; left:30px; bottom:30px; @include para(#fff,40px, 0); font-family:$sangbleu_kingdom; font-weight:normal; z-index:10;
            @include smmobile{position:relative; left:0; bottom:0; color:#000; font-size:18px;}
          }
          .activity{
            position:absolute; right: 40px;bottom: 25px; z-index:10;transform: rotate(-90deg); @include transDefault();
            @include smmobile{right:0; bottom:-3px; transform:  rotate(-90deg) scale(.7);}
            svg{
              path, line{
                fill:transparent; stroke:#fff; @include transDefault();
                @include smmobile{stroke:#000;}
              }
            }
          }
          &.active{
            @include smmobile{background:#000;}
            p{
              @include smmobile{color:#fff;}
            }
            .activity{
              transform: rotate(0deg);
              @include smmobile{transform: rotate(0deg) scale(.7);}
              svg{
                path, line{fill:#fff; stroke:#000;}
              }
            }
          }
        }
        .slick-slide{
          >div{@include transDefault();}
          .item:before{content:''; @include fxdcenter(absolute); z-index:5; @include transDefault();}
          &.slick-active{
            >div{padding:0 0 80px;}
            .item:before{}
            +.slick-active{
              >div{padding:40px 0;}
              .item:before{background:rgba(#000, 0.5);}
              +.slick-active{
                >div{padding:80px 0 0;}
                .item:before{background:rgba(#000, 0.75);}
                +.slick-slide{
                  >div{padding:120px 0 0;}
                  .item:before{background:#000;}
                }
              }
            }
          }
        }
        .slick-arrow{
          position: absolute;top:40%;border: 1px solid #fff;color:#fff;background: none;border-radius: 50px;padding: 30px 0;width: 83px;text-align: center;z-index: 10; cursor: pointer;
          &.next{left:60px;top: 30%;}
          &.prev{right:60px;top: 44%;}

          @include smmobile{
            display:none !important;
          }
        }
      }
      .btnDv{
        text-align: center;
        .btn{@include buttonOutline(#000);}
      }
    }
    &.filterDv{
      padding-bottom: 0;
      >div{display:flex;align-items: center;}
      p{@include para(#000,10px, 0); text-transform: uppercase;align-items: center;}
      .fieldDv{
        width: 200px; margin: 0 10px;
        select{width:100%; padding: 0; font-size: 10px;border: 0;border-bottom: 1px solid #ccc;height: 20px;}
      }
      @include smmobile{
       >div{flex-wrap:wrap;}
        p{width:44%;padding-left: 15px;}
        .fieldDv{width:44%;}
      }
    }
    &.listingDv{
      .property{
        margin-bottom: 50px;
        >p{@include para(rgba(#000, 0.5),9px, 0); padding: 0 0 5px; text-transform:uppercase;text-align:right;}
        .imgArea{
          margin-bottom: 20px; position: relative;
          &:before{content:''; @include fxdcenter(absolute); z-index:5; background: rgb(0,0,0);background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 20%); opacity:0.6;}
          figure{height:260px; @include imgCover();}
          .markingBtn{
            position:absolute; right: 20px;top: 20px;z-index: 10;display: flex;
            a{
              display:flex; justify-content:center; align-items:center; background:#fff; border-radius:50px; width:30px; height:30px;margin-left: 10px;
              &.active{
                background: #9E7156;
                svg{
                  path{stroke:#fff;}
                }
              }
            }
          }
          picture{
            position:absolute; left: 20px;bottom: 20px;z-index: 10;
            img{max-height:35px; width:auto;}
          }
        }
        .txtArea{
          padding-right: 30px;
          .headDv{
            display:flex; align-items:center;margin-bottom: 20px;
            h3{@include para(#000,24px, 0); font-weight: normal; font-family:$sangbleu_kingdom; flex-grow: 1;}
            .price{
              h6{@include para(rgba(#000, 0.5),9px, 0); text-transform:uppercase; text-align:right; line-height:1.4;}
              p{@include para(#000,12px, 0); text-transform:uppercase; text-align:right; line-height:1.4;}
            }
          }
          .detDv{
            margin-bottom: 20px;
            p{@include para(#000,12px, 0); line-height:1.4;}
          }
          .footDv{
            display:flex; align-items:center;
            ul{
              margin:0; padding:0; display: flex; flex-grow: 1;
              li{
                margin:0; @include para(#000,9px, 0); text-transform:uppercase;
                +li:before{content:''; display:inline-block; width:10px; border:1px solid #000;vertical-align: middle;margin: 0 10px;}
              }
            }
            .btn{@include buttonFilled(#9E7156);padding: 12px 30px;border-radius:0px;}
          }
        }
      }
      .txtItem{
        display: flex; justify-content: center;margin-bottom: 50px;padding: 0 30px;
        h3{
          @include para(#000,58px, 0); padding-top: 10px; font-family:$sangbleu_kingdom; font-weight:300; left:-16px; position: relative;
          span{
            display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;padding-left: 3px;
            span{top:0px;padding-left: 16px;}
            +span{
              font-style:italic;
              span{top:0px;}
              +span{
                font-style:normal;
                span{top:0px;}
              }
            }
          }
        }
      }
      @include smmobile{
        .txtItem{display:none;}
      }
    }
    &.contactSlider{
      padding:0;
      h2{
        @include para(#000,58px, 0 0px 70px 0px); font-family:$sangbleu_kingdom; font-weight:300; left:-16px; position: relative;
        span{
          display:block; position: relative; overflow: hidden; line-height: 1.2; @include transDefault(); transition-delay: 0.3s;
          span{top:0px;padding-left: 16px;}
          +span{
            font-style:italic;
            span{top:0px;}
          }
        }

        @include smmobile{
          font-size:40px; left:0;
          span{
            padding:0;
            span{padding:0;}
            +span{
              span{padding-left: 0px;}
            }
          }
        }
      }

      .pagination.root{
        margin:0px; padding:0; border-bottom: 1px solid rgba(#CFD0D1, 0.25); display: inline-flex; position: absolute; left: 12px;top: 220px; z-index:10; @include transDefault(); transition-delay: 0.5s;
        @include smmobile{display:none;}
        &[data-active="callcenter"]{left: 12px;top: 323px;}
        &[data-active="joinus"]{left: 12px;top: 30px;}
        li{
          cursor:pointer; font-size: 12px; text-transform:uppercase; color:#BFBFBF; margin:0px; margin-left:30px; padding:0px 0px 20px;overflow: hidden;white-space: pre; max-width:100%; @include transDefault();
          &:first-child{margin:0;}
          &.active{color:$baseLink; border-bottom:1px solid $baseLink;}
          +li{
            &.active{color:#00426A; border-bottom-color:#00426A;}
            +li{
              &.active{color:#87B09A; border-bottom-color:#87B09A;}
              +li{
                &.active{color:#3A5CAD; border-bottom-color:#3A5CAD;}
              }
            }
          }
        }
      }
      .sliderDv{
        .item{
          display:none;
          @include smmobile{display:block; padding:0 20px;margin-bottom: 100px;}
          >div>.row>div{
            padding-top:50px;
            +div{padding-top:0;}
          }
          h2{margin-bottom:20px;}
          &.active{display:block;}
          &.anim{
            .pagination li{max-width:0%;}
            h2 span{
              span{top:-100px;}
              + span span{top:100px;}
            }
          }
        }
        .pagination{
          margin:50px 0px; padding:0; border-bottom: 1px solid rgba(#CFD0D1, 0.25); display: inline-flex; opacity: 0;
          @include smmobile{display:none;}
          li{
            cursor:pointer; font-size: 12px; text-transform:uppercase; color:#BFBFBF; margin:0px; margin-left:30px; padding:0px 0px 20px;overflow: hidden;white-space: pre; max-width:100%; @include transDefault();
            &:first-child{margin:0;}
            &.active{color:$baseLink; border-bottom:1px solid $baseLink;}
          }
        }
      }
      .callcenter{
        h2{
          font-size:48px;
          span+span span{padding-left: 50px;}

          @include smmobile{
            font-size:40px;
            span{
              +span span{padding-left: 0px;}
            }
          }
        }
        .phonemail{
          margin:0; padding:0; position:relative; left:0; opacity:1; @include transDefault();
          li{
            font-size:15px; position: relative;
            a{
              color:#000; display: block; padding-left: 30px;line-height: 1.6;
              svg{
                position: absolute; left: 0px; top: 8px;
                rect, path{stroke:#000; @include transDefault();}
              }
              &:hover{
                color: $baseLink;
                svg{
                  rect, path{stroke:$baseLink;}
                }
              }
            }
          }
        }
        .addresswidget{
          display:flex;
          > div{
            flex-grow:1; top:0; opacity:1; @include transDefault(); transition-delay:0.5s;
            +div{transition-delay:0.7s;}
          }
          h3{@include para(#000,14px, 0 0 30px); font-weight:normal;}
          a{
            color:#000; font-size: 12px;line-height: 1.7;
            i{}
          }
          .btn{@include buttonOutline(#000); font-size: 12px;margin: 0 0 30px;}

          @include smmobile{
            .btn{padding: 14px 20px;font-size: 10px;}
          }
        }
        figure{
          width:100%; height:100%; max-height: calc(100vh - 58px);left: 70px; @include imgCover(); @include transDefault(); transition-delay:0.5s;
          @include smmobile{left: 0;width: auto;margin: 0px -30px;}
        }
      }
      .inquiries{
        $secColor: #00426A;
        padding:100px 0 50px;
        .pagination{
          margin:30px 0 50px;
          li.active{color:$secColor; border-bottom:1px solid $secColor;}
        }
        p{margin-bottom: 50px; opacity:1; @include transDefault();}
        .formDv{
          max-width: 1000px; opacity:1; @include transDefault();transition-delay: 0.3s;
          .rowFields{
            display:flex;
            +.fieldDv{margin-top:-1px;}
            @include smmobile{display:block;}
          }
          .fieldDv{
            flex-grow:1;
            +.fieldDv{margin-left:-1px;}
            &.dropDown{flex:0 0 40%;}
            input, select, textarea{
              width:100%; color:#000; font-size:14px; text-transform:uppercase; padding:0px 20px; height:60px; border:1px solid #000;border-radius: 0;
              @include placeholder(#0000004d);
            }
            select{cursor:pointer;}
            textarea{padding: 20px 20px; min-height:180px;}
            @include smmobile{
              +.fieldDv{margin-left:0px;}
              input, select{border-bottom:none;}
            }
          }
          .botRow{
            padding-top:10px;
            @include smmobile{
              >div{
                order:2;
                +div{order:1;}
              }
            }
          }
          .btnDv{
            display: flex;
            .btn{
              @include buttonOutline($secColor);font-size: 12px;width: 47%;
              +.btn{margin-left:5%;}
            }
            @include smmobile{
              display:block;
              .btn{
                width:100%;
                +.btn{display:none;}
              }
            }
          }
          .agree{
            display:flex;justify-content: flex-end;
            p{
              font-size:12px;
              +p{margin-left:10px;}
              a{color:inherit; text-decoration: underline;}
            }
            @include smmobile{
              margin-bottom: 30px;
              p{font-size:9px; margin-bottom:0px;}
            }
          }
        }
      }
      .faq{
        $secColor: #87B09A;
        padding:100px 0 50px;
        .pagination{
          margin:30px 0 50px;
          li.active{color:$secColor; border-bottom:1px solid $secColor;}
        }
        .faqTabs{
          position:relative; max-width:700px; opacity:1; @include transDefault(); transition-delay: 0.3s;
          .tabPaginate{
            position:absolute; left:100%; top:0px; margin:0; margin-left: 60px; padding:0;
            li{
              color:#BFBFBF; font-size:12px; text-transform:uppercase; margin:0px; padding: 15px 20px; cursor:pointer; border-left:1px solid rgba(#CFD0D1, .25);
              &.active{color:$secColor; border-color:$secColor;}
            }
            @include smmobile{display:none;}
          }
          .tabItem{
            overflow: hidden; max-height:0px; @include transDefault();
            .accord{
              border:1px solid #000; padding:20px; margin:0 0 10px;
              .head{
                font-size:12px; text-transform:uppercase; cursor:pointer; position:relative; padding-right:30%;
                i{
                  position:absolute; font-size:12px; top:0px; right:0px;
                  +i{display:none;}
                }
              }
              .inner{
                overflow: hidden; padding-top:0px; max-height:0px; @include transDefault();
                p{
                  font-size:12px;
                  &:last-child{margin:0;}
                }
              }
              &.active{
                .head{
                  i{
                    display:none;
                    +i{display:block;}
                  }
                }
                .inner{max-height:100vh; padding-top:20px;}
              }
            }
            &.active{max-height:100vh;}
            @include smmobile{max-height:100vh;}
          }
        }
        .newsLink{
          position: absolute; right: -60px; bottom:0px;padding-left: 60px;max-width:100%;overflow: hidden; @include transDefault();
          @include smmobile{display:none;}
          p{@include para(#000,14px, 0 0 10px); text-transform:uppercase;}
          figure{
            width:250px; height:360px;
            @include imgCover();
            a{
              @include fxdcenter(absolute); display:flex; align-items: flex-end;padding: 20px;
              span{@include para(#fff,38px, 0); font-family:$sangbleu_kingdom;}
            }
          }
          i{position:absolute; right: 110%;bottom: 26px;font-size: 30px;}
        }
      }
      .joinus{
        $secColor: #3A5CAD;
        padding:0px 0 50px;
        &.item>div>.row>div{
          padding-top:0px;
          +div{padding-top:100px;}
        }
        .pagination{
          margin:30px 0 50px;
          li.active{color:$secColor; border-bottom:1px solid $secColor;}
        }
        figure{
          width:100%; height:80%; max-height: calc(100vh - 58px);right: 70px; @include imgCover(); @include transDefault(); transition-delay:0.5s;
          @include smmobile{display:none;}
        }
        h2{
          text-align: right;
          >span{
            display:inline-block;
            +span{
              display:inline-block;
              +span{display:block;font-style:normal;}
            }
          }
          @include smmobile{
            text-align:left;
          }
        }
        .formDv{
          margin-left: 160px; opacity:1; @include transDefault(); transition-delay:0.7s;
          @include smmobile{margin:0;}
          .fieldDv{
            +.fieldDv{margin-top:-1px;}
            input, select, textarea{
              width:100%; color:#000; font-size:14px; text-transform:uppercase; padding:0px 20px; height:60px; border:1px solid #000;border-radius: 0;
              @include placeholder(#0000004d);
            }
            @include smmobile{
              //+.fieldDv{margin-top:0px;}
              //input, select{border-bottom:none;}
            }
          }
          .btnDv{
            display: flex;
            .btn{
              @include buttonOutline($secColor);font-size: 12px;width: 47%;
              +.btn{margin-left:5%;}
            }
          }
          p{
            @include para(#000,10px, 15px 0px 20px);
            a{color:$secColor; text-decoration:underline;}
          }
        }

      }
      .anim{
        &.callcenter{
          .phonemail{left:100px; opacity:0;}
          .addresswidget > div{top:50px; opacity:0;}
          figure{width:0%;}
        }
        &.inquiries{
          p,.formDv{opacity:0;}
        }
        &.faq{
          .faqTabs{opacity:0;}
          .newsLink{max-width:0%;right: -500px;}
        }
        &.joinus{
          figure{width:0%;}
          .formDv{opacity:0;}
        }
      }
    }


    &.mobileMenu{
      display: flex; flex-direction: column; position: fixed; margin:0; left:0; top: 100%; width: 100%; height: 100%; z-index: 100; background: #000; padding: 150px 20px 0px; @include transDefault();
      h3{@include para(rgba(#fff, 0.25),16px, 0 0 30px); font-weight: 300; font-family:$sangbleu_kingdom;}
      nav{
        flex-grow:1;
        ul{
          margin:0; padding:0;
          li{
            margin:0;
            a{
              @include para(#fff,32px, 0); font-weight: normal; font-family:$sangbleu_kingdom; display:block; position: relative; padding:20px 0px;
              &:after{content: "\f061";font-family: "Font Awesome 5 Pro"; font-weight: 300; color:#fff; position:absolute; right:0px; top:20px;}
            }
          }
        }
      }
      .userSec{
        a{
          display:block; color:#fff; font-size:14px; padding: 10px 10px;font-weight: 300; text-transform: uppercase;
          svg{
            width: 20px;height: 12px;position: relative;top: -2px;
            path, circle, line{stroke:#fff;}
            &, *{@include transDefault();}
          }
        }
      }
      .botLine{
        padding:30px 0; display: flex;
        p{flex-grow:1; @include para(#fff,7px, 0);}
        ul{
          margin:0; padding: 0; display: flex;
          li{
            margin:0;font-size: 7px; line-height: 1;
            a{padding:0 10px;color:#fff; font-size:7px;}
          }
        }
      }
    }
    &.loadingScreen{
      @include fxdcenter(fixed); bottom:auto; height:100%; background:#fff; z-index: 200;margin: 0 !important;padding: 0;max-width: 100%;transition:all 2s cubic-bezier(0.03, 0.72, 0.26, 1.02); overflow: hidden; display: none;
      &:before{content:''; @include fxdcenter(absolute); z-index:2; background:url(../images/loaderBg.png);opacity: 0.1;background-size: 8%;}
      svg{position:absolute; right: -20%;top: 0%;height: 110%; z-index:10;}
    }
  }
  footer {
    p{@include para(#000,12px, 0 0 20px);line-height: 1.7; font-weight:300;}
    ul{
      margin:0; padding:0;
      li{
        font-size:12px; color:#000;line-height: 1.7; font-weight:300;
        a{display:block; color:inherit;}
      }
    }
    .followSubsDv{
      display: flex;justify-content: center; flex-wrap: wrap; padding:30px;border-bottom: 1px solid rgba(#000, 0.05);border-top: 1px solid rgba(#000, 0.05);
      >div{
        display:flex; align-items:center; padding: 0 20px;
        p{font-size:14px; margin:0; text-transform:uppercase; color:#000;margin-right: 20px;}
        @include smmobile{padding: 20px 20px;}
      }
      .followDv{
        ul{
          margin:0; padding:0;display: flex;
          li{
            margin: 0 5px;
            a{display:block; background:$baseLink; color:#fff; font-size:14px;width: 25px;border-radius: 20px; text-align:center;padding: 1px 0px;}
          }
        }
      }
      .subsDv{
        .fieldDv{
          input{padding:10px 20px; height:60px; width:250px; border:1px solid #707070; font-size:12px; border-radius:0;}
        }
      }
    }
    .logo{
      svg{
        path{fill:#BFBFBF;}
      }
    }
    .widget{
      margin-bottom: 30px;
      h3{@include para(#000,14px, 0 0 30px); font-weight:normal;}
      a{
        color:#000; font-size: 12px;line-height: 1.7;
        i{}
      }
      .btn{@include buttonOutline(#000); font-size: 12px;margin: 0 0 30px;}
      &.offcies{
        @include smmobile {
          display: flex;flex-wrap: wrap;
          h3 {flex: 0 0 100%;}
          > div {flex: 0 0 50%;
          }
        }
      }
    }
    .botSec01{
      border-bottom: 1px solid rgba(#000, 0.05);
    }
    .borderRow{
      >div{
        padding-top:30px;padding-bottom:30px;
        +div{
          border-left: 1px solid rgba(#000, 0.05);
          .widget{
            padding: 0 30px;
            @include smmobile{padding:0;}
          }
        }
      }
    }
    .bottomLine{
      padding:30px 0;
      p{flex-grow:1;}
      ul{
        display:flex;
        li a{padding:0 10px;}
      }
      @include smmobile{
        p{text-align:center;}
        ul{justify-content:center;}
      }
    }
  }

  .search-pro {
    display: flex;justify-content: flex-end; position:fixed; right: 50px;bottom: 30px;z-index: 11;
    @include smmobile{right: 20px;bottom: 20px;}
    .btn-searchPro {
      width: 170px;height: 50px;box-shadow: 0 4px 9px 0px #00000033;font-family: $baseFontFamily;font-size: 10px;align-items: center;display: flex;justify-content: center;padding: 0; background: #fff; display:none;
    }
    ul{
      position:absolute; margin:0; padding:0;right: 50px;bottom: 0px;
      li{
        margin:0; padding:0; position: absolute; left:0px; bottom:0px; transition: all 0.5s cubic-bezier(0, 0.76, 0.32, 0.88);
        a{
          display:flex; justify-content:center; align-items:center; background: #fff;width: 50px;height: 50px;border-radius: 50%; box-shadow: 0px 4px 10px rgba(#000000, 0);
          svg{}
          span{position:absolute; right: 100%;top: 15px;margin-right: 15px; color:#fff; white-space:pre;text-shadow: 0px 3px 6px rgba(#000000, 0.16);  @include transDefault(); opacity:0;}
        }
        &:hover{
          a span{opacity:1;}
        }
      }
    }
    .btn-call {
      width: 50px;height: 50px;border-radius: 50%;box-shadow: 0 4px 9px 0px #00000033;margin-left: 20px;display: flex;align-items: center;justify-content: center; background: #fff;position: relative;z-index: 10; @include transDefault(); opacity: 1;
      &.active{
        opacity: 0;
        +ul{
          li{
            a{box-shadow: 0px 4px 10px rgba(#000000, 0.15);}
            +li{
              bottom:60px;
              +li{
                bottom:120px;
                +li{
                  bottom:180px;
                }
              }
            }
          }
        }
      }
    }
  }

  &:not(.transHeader) > section {
    margin-top: 98px;
    + section {
      margin-top: 0;
    }
  }
  &.transHeaderActive{
    >header{
      background: rgba(#fff ,0);
      .logo{
        svg{
          path{fill:#fff;}
        }
      }
      nav ul li{
        color:#fff;
        &:hover a{}
        &.active, &.current-menu-item{
          a{border-bottom-color:#fff;}
        }
      }
      .userSec a{
        color:#fff;
        svg{
          fill:#fff;
          path, circle, line{stroke:#fff;}
        }
      }
      .mobileItem .menuBtn{
        svg path{stroke:#fff;}
      }
    }
  }

}

html{
  //&.loaded{
    body {
      overflow: auto;
      >header {top:0%;}
      section{
        &.loadingScreen{
          top:-100%;
          svg{}
        }
        &.bannerSlider .dayLightSlider{transform: scale(1);}
      }
    }
  //}
  &.openmenu{
    body {
      > header{
        background: transparent;
        .logo{
          svg{
            path{fill:#fff;}
          }
        }
        .mobileItem{
          .menuBtn{display:none;}
          .menuCloseBtn{
            display:block;
            svg{
              path{stroke:#fff;}
            }
          }
        }
      }
      section.mobileMenu{
        top:0%; margin-top:0;
      }
    }
  }
}




