@media (min-width: 1440px) {
} 
@media (max-width: 1440px) and (min-width: 1368px) {
} 
@media (max-width: 1024px) and (min-width: 769px) {
}                    
@media (max-width: 768px) {
} 
@media (max-width: 512px) {

  body{
     section{
      &.homeTxtImgSec{
        //.row > div + div {order: 2;}
        figure{
          //left: -20px;
          //&:after {content: "";left: -20px;bottom: -20px;}
        }
        .btn{
          margin-top: 20px;
          margin-bottom: 30px ;
        }
      }
      &.bannerSlider{
        .sliderSec .item {
          figure{
            img{height: calc(100% - 270px);}
            &:before {background: none;}
          }
          .txtDv{left: 0;right: 0;bottom: 0;padding: 50px 20px; background:#000;}
        }
      }
      &.whyRetal{
        .iconCircleDv{display:none;}
        .circleDvMobile {
          display: flex;flex-wrap: wrap;
          .circleBox {
            width: 50%;margin: 0 0 40px;

            h5{@include para(#000,14px, 0px); line-height: 1.4; font-weight:300; text-transform:uppercase; text-align:center;}
            .darkCircle {
              border-radius:80px;text-align: center;box-shadow: 0 0 30px rgba(#000, 0.08);max-width: 136px;height: 136px; background:#fff; display: flex;justify-content: center;align-items: center;margin:0 auto 15px; position: relative;@include transDefault();
              svg{
                line, path, circle{stroke:#000;@include transDefault();}
              }
              &:before, &:after{content:''; @include fxdcenter(absolute); border:1px solid rgba(#9E7156, 0);border-radius:80px; transform: scale(1); @include transDefault();transition-timing-function: cubic-bezier(0.75, -0.01, 0.07, 1.01);}
              &:after{transition-delay: 0.2s;}
            }
            &:hover{
               .darkCircle{
                 box-shadow: 0 0 30px rgba(#000, 0.08);background:#9E7156;
                 svg{
                   line, path, circle{stroke:#fff;}
                 }
                 &:before{border:1px solid rgba(#9E7156, 0.3);transform: scale(1.25);}
                 &:after{border:1px solid rgba(#9E7156, 0.1);transform: scale(1.5);}
               }
             }
          }
        }
      }
    }
  }
}



@media (max-width: 1366px) {
  body {
    .icon-box {
      width: 140px;
      height: 140px;
    }
  }
  body > section.ipSec-1 {
    .content-left {
      .property-name {
        font-size: 80px;
        margin-left: 0;
      }
    }
  }
  body > section.ipSec-2 {
    .unit-number {
      margin: 0 0 0 150px;
    }
  }
  body > section.ipSec-3 {
    .aboutSlider {
      .slick-arrow {
        top: 70%;
        &.prev {
          left: 14%;
        }
        &.next {
          left: 23%;
        }
      }
    }
    .slideInfo {
      top: 69%;
    }
  }
  body > section.ipSec-5 {
    .content-right {
      width: 100%;
    }
  }
  body > section.ipSec-6 {
    .content-right {
      width: 100%;
    }
  }
  body > section.ipSec-8 {
    &::before {
      width: 36%;
    }
    .content-left {
      width: 100%;
    }
  }
  body > section.ipSec-11 {
    .content-left {
      margin-left: 0;
      width: 100%;
    }
    .eventSlider {
      .slick-arrow {
        top: 59%;
        &.prev {
          right: 20%;
        }
        &.next {
          right: 4%;
        }
      }
    }
  }
  body > section.ipSec-13 {
    .nav-row {
      .nav-tabs {
        left: 0;
        width: 45%;
      }
    }
    .content-left {
      margin-left: 0;
      width: 100%;
    }
    .content-right {
      .projectSlider {
        .slick-arrow {
          &.prev {
            left: -10%;
          }
          &.next {
            right: -10%;
          }
        }
      }
    }
  }
  body > section.ipSec-18 {
    .tab-innercontent {
      .form-check {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .menu-options {
    left: 30px;
  }
  .slick-arrow {
    padding: 20px 0;
    width: 63px;
  }
  body {
    .main-heading {
      font-size: 48px !important;
    }
    .sub-heading {
      font-size: 12px !important;
    }
  }
  body {
    .icon-box {
      width: 115px;
      height: 115px;
      &:hover {
        &::before {
          box-shadow: 0 0 0 20px #fff, 0 0 0 21px #ddd;
          width: 115px;
          height: 115px;
        }
        &::after {
          box-shadow: 0 0 0 40px #fff, 0 0 0 41px #eee;
          width: 115px;
          height: 115px;
        }
      }
      figure {
        width: 25%;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 12px;
      }
    }
  }
  body > section.ipSec-1 {
    .content-left {
      .property-name {
        font-size: 70px;
        left: 0;
        margin: 0;
      }
    }
  }
  body > section.ipSec-2 {
    .content-right {
      .countDv {
        h5 {
          font-size: 11px;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
  body > section.ipSec-3 {
    .aboutSlider {
      &:before {
        height: 61%;
        top: -60px;
      }
      .slick-arrow {
        top: 56%;
      }
      .content-left {
        margin-left: 0;
      }
    }
    .slideInfo {
      top: 55%;
      padding: 25px 15px;
    }
  }
  body > section.ipSec-5 {
    h3 {
      margin: 0 0 40px 0;
    }
    .content-right {
      a.btn {
        margin-top: 20px;
      }
    }
  }
  body > section.ipSec-6 {
    &::before {
      height: 62%;
    }
    &::after {
      height: 87%;
    }
    .content-right {
      h4 {
        margin-bottom: 50px;
      }
      h3 {
        margin-bottom: 40px;
      }
    }
  }
  body > section.ipSec-8 {
    &::before {
      top: 23%;
      height: 35%;
    }
    .content-left {
      h3 {
        margin: 0 0px 50px 0px;
      }
    }
  }
  body > section.ipSec-9 {
    .opportunites {
      .opportunity-box {
        .opportunity-link {
          h3 {
            font-size: 22px;
            margin: 20px 0;
          }
        }
      }
    }
  }
  body > section.ipSec-10 {
    &::after {
      left: 27%;
      width: 24%;
    }
  }
  body > section.ipSec-11 {
    .eventSlider {
      .content-box {
        width: 50%;
      }
    }
  }
  body > section.ipSec-13 {
    .content-left {
      .icon-box {
        width: 70px;
        height: 70px;
        figure {
          width: 80%;
        }
      }
    }
    .nav-tabs {
      .nav-link {
        padding: 0.5rem 0.75rem;
      }
    }
  }
  body > section.ipSec-14 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;
    h4 {
      color: $base-color;
      &::after {
        border-color: $base-color;
      }
    }
    h3 {
      font-family: "sangbleu_kingdom", sans-serif;
      font-weight: 400;
    }
    h4 {
      color: #000;
      margin-top: 0;
      margin-bottom: 120px;
      &::after {
        content: none;
      }
    }
    .compare-unit {
      border: 1px solid black;
      border-radius: 3px;
      width: 190px;
      height: 60px;
      display: block;
      background: linear-gradient(to right, black 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      text-align: center;
      margin: 70px auto;
      &:hover {
        background-position: left bottom;
      }
      .compare-btn {
        text-align: center;
        font-size: 14px;
        line-height: 59px;
        color: black;
        transition: all .6s ease-out;
        display: block;
        &:hover {
          color: white;
        }
      }
    }
    .content-center {
      text-align: center;
      h3 {
        color: #000;
        font-size: 26px;
        line-height: 1;
        margin-bottom: 40px;
      }
      p {
        margin: 0 0 30px;
      }
    }
    .unit-row {
      .col-md-4 {
        .unit-box {
          .content-box {
            .btn-box {
              a {
                width: 100%;
                margin: 0 !important;
                + a {
                  margin-top: 10px !important;
                }
              }
            }
            .book-btn {
              width: 100%;
            }
          }
        }
      }
    }
  }
  body > section.ipSec-15 {
    .content-left {
      .list-group {
        + .list-group {
          margin-top: 30px;
        }
      }
    }
  }
  body > section.ipSec-16 {
    .masterplan-box {
      height: 500px;
      h3 {
        font-size: 46px;
      }
      p {
        font-size: 14px;
        margin: 0 0 10px 80px;
      }
    }
  }
  body > section.ipSec-19 {
    .unit-row {
      .col-md-4 {
        .unit-box {
          .image-box {
            height: auto;
          }
          .content-box {
            h3 {
              width: 100%;
              text-align: left;
              margin-bottom: 10px;
            }
            span {
              float: left;
              text-align: left;
              margin-bottom: 20px;
            }
            p {
              -webkit-line-clamp: 3;
              text-align: justify;
            }
            .btn-box {
              float: left;
              width: 100%;
              a {
                float: left !important;
                width: 100%;
                + a {
                  margin: 10px 0 0 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  body {
    .main-heading {
      font-size: 38px !important;
    }
  }
  body > section.ipSec-1 {
    .content-left {
      .property-name {
        font-size: 60px;
      }
    }
  }
  body > section.ipSec-2 {
    .unit-number {
      margin: 0 0 0 220px;
    }
    .content-right {
      & > p {
        width: 100%;
        margin-top: 30px;
      }
      .download-box {
        margin-top: 50px;
        a.btn {
          width: 100%;
        }
      }
    }
  }
  body > section.ipSec-3 {
    margin-top: 0 !important;
    .aboutSlider {
      &:before {
        height: 81%;
        top: -60px;
      }
      .content-left {
        h3 {
          margin: 80px 0;
        }
      }
      .slick-arrow {
        top: 76%;
      }
      .slick-slide {
        height: 500px;
      }
    }
    .slideInfo {
      top: 75%;
    }
  }
  body > section.ipSec-4 {
    padding: 0;
  }
  body > section.ipSec-7 {
    padding: 0;
  }
  body > section.ipSec-9 {
    padding-top: 50px;
    h4 {
      margin-bottom: 30px;
    }
    h3 {
      margin: 0 0 30px 0;
    }
  }
  body > section.ipSec-10 {
    margin-top: 30px !important;
    padding-top: 50px;
    .content-right {
      h3 {
        margin: 30px 0 50px 0;
      }
    }
    .row {
      + .row {
        margin-top: 30px;
      }
    }
  }
  body > section.ipSec-11 {
    margin-top: 30px !important;
    &::before {
      height: 13%;
    }
    &::after {
      top: 13%;
    }
    .content-left {
      h3 {
        margin: 50px 0 50px 0;
      }
    }
    .eventSlider {
      .content-box {
        h3 {
          margin: 30px 0 20px;
        }
        p {
          color: #000;
          font-size: 16px;
          margin: 0 0 20px;
          padding: 0;
          line-height: 1.4;
          font-weight: 300;
          opacity: 1;
          transition: all 0.5s ease;
          margin-bottom: 30px;
        }
      }
    }
  }
  body > section.ipSec-12 {
    margin-top: 30px !important;
    h4 {
      margin-bottom: 100px;
    }
    .content-left {
      h3 {
        margin-bottom: 30px;
      }
    }
  }
  body > section.ipSec-13 {
    margin-top: 0 !important;
    h4 {
      margin-top: 30px;
    }
    .nav-row {
      .nav-tabs {
        top: 610px;
      }
      .tab-innercontent {
        .nav-tabs {
          top: 610px;
        }
      }
    }
    .content-left {
      h3 {
        margin: 60px 0 30px 0;
      }
      .property-box {
        margin-bottom: 30px;
      }
    }
    .content-right {
      padding: 20px;
      .projectSlider {
        margin-top: 50px;
        .slick-slide {
          img {
            padding: 20px;
          }
        }
        .slick-arrow {
          &.prev {
            left: -7%;
          }
          &.next {
            right: -7%;
          }
        }
      }
      .projectSlider-nav {
        .slick-slide {
          figure {
            margin-bottom: 0;
          }
        }
      }
      .project-plan {
        margin: 20px 0;
      }
    }
    .nav-tabs {
      .nav-link {
        font-size: 14px;
        border: none;
        color: #ccc;
        &.active {
          border: none;
          color: #000;
        }
        &:hover {
          border: none;
          color: #000;
        }
        &:focus {
          border: none;
          color: #000;
        }
      }
    }
    figure {
      &::after {
        content: none;
      }
    }
  }
  body > section.ipSec-14 {
    margin-top: 0 !important;
    h4 {
      color: $base-color;
      &::after {
        border-color: $base-color;
      }
    }
    h3 {
      font-family: "sangbleu_kingdom", sans-serif;
      font-weight: 400;
    }
    h4 {
      color: #000;
      margin-top: 0;
      margin-bottom: 120px;
      &::after {
        content: none;
      }
    }
    .compare-unit {
      margin: 30px auto;
    }
    .content-center {
      h3 {
        margin-bottom: 30px;
      }
    }
    .unit-row {
      .col-md-4 {
        .unit-box {
          .unit-number {
            text-align: left;
            margin-bottom: 15px;
          }
          .image-box {
            padding: 10px;
            height: 275px;
            a {
              margin-top: -30px;
            }
          }
          .content-box {
            h3 {
              margin: 30px 0 20px;
            }
            .btn-box {
              a {
                padding: 0.75rem 1rem;
              }
            }
            .separator {
              margin: 30px auto;
            }
            .list-group {
              .list-group-item {
                margin-bottom: 10px;
              }
            }
            .book-btn {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  body > section.ipSec-15 {
    margin-top: 0 !important;
    h4 {
      margin-bottom: 30px;
    }
    .content-left {
      h3 {
        font-family: "sangbleu_kingdom", sans-serif;
        font-weight: 100;
        color: #000;
        font-size: 56px;
        line-height: 1;
        margin: 0 0 40px;
        .project-name {
          display: block;
        }
        small {
          font-size: .45em;
        }
      }
      .list-group {
        .list-group-item {
          border: none;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
          padding: 0;
          h6 {
            font-size: 11px;
            margin: 0;
          }
        }
        + .list-group {
          margin-top: 40px;
        }
      }
    }
    figure {
      position: relative;
      left: 70px;
      img {
        width: 100%;
      }
    }
  }
  body > section.ipSec-16 {
    margin-top: 0 !important;
    h4 {
      margin-top: 0;
    }
    .masterplan-box {
      padding-right: 40px;
      padding-bottom: 20px;
      h3 {
        font-size: 36px;
      }
      p {
        margin: 0 0 10px 60px;
      }
    }
    .content-left {
      h3 {
        margin: 0 0 30px;
      }
    }
    figure {
      position: relative;
      left: 70px;
      img {
        width: 100%;
      }
    }
  }
  body > section.ipSec-17 {
    margin-top: 30px !important;
    .content-left {
      h3 {
        margin: 20px 0 0;
      }
      p {
        margin: 40px 0 0;
      }
      .download-box {
        margin-top: 30px;
      }
    }
    .content-right {
      margin-top: 150px;
    }
  }
  body > section.ipSec-18 {
    .content-left {
      h3 {
        margin: 30px 0 30px;
      }
      .tab-innercontent {
        p {
          margin: 40px 0;
        }
      }
    }
  }
  body > section.ipSec-19 {
    margin-top: 0 !important;
    .unit-row {
      margin-top: 30px;
      margin-bottom: 30px;
      .col-md-4 {
        .unit-box {
          .content-box {
            padding-top: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 960px) {
  body > header nav ul li {
    padding: 0px 10px;
  }
  .slick-arrow {
    padding: 15px 0;
    width: 53px;
  }
  body > section.ipSec-1 {
    .content-left {
      padding: 30px 0 0 0;
      img {
        margin-top: 50px;
        margin-left: -80px;
      }
      .property-name {
        top: 200px;
      }
    }
  }
  body > section.ipSec-2 {
    .unit-number {
      margin: 0 0 0 100px;
    }
    .content-right {
      .countDv {
        h5 {
          font-size: 12px;
        }
        p {
          font-size: 26px;
        }
      }
    }
  }
  body > section.ipSec-3 {
    .aboutSlider {
      &:before {
        height: 94%;
        top: -60px;
      }
      .content-left {
        h3 {
          margin: 50px 0 30px;
        }
        a.btn {
          font-size: 0.7rem;
        }
      }
      .slick-arrow {
        top: 83%;
      }
      .slick-slide {
        height: 350px;
      }
    }
    .slideInfo {
      top: 80%;
    }
  }
  body > section.ipSec-5 {
    h4 {
      margin-bottom: 30px;
    }
    .content-right {
      .btn-360 {
        padding: 1rem 1.25rem;
        margin-right: 10px;
      }
      .btn-tour {
        padding: 1rem 1.5rem;
      }
    }
  }
  body > section.ipSec-8 {
    &::before {
      top: 29%;
    }
    &::after {
      top: 64%;
    }
  }
  body > section.ipSec-10 {
    .content-right {
      h4 {
        &::after {
          margin-left: 10px;
        }
      }
    }
    .row {
      + .row {
        margin-top: 0;
      }
    }
    .icon-box {
      margin: 10px 30px;
    }
  }
  body > section.ipSec-11 {
    .eventSlider {
      .content-box {
        width: 60%;
        margin-left: 0;
      }
    }
  }
  body > section.ipSec-13 {
    .nav-row {
      margin-top: 30px;
      .nav-tabs {
        top: 0;
        left: 0;
        width: 100%;
        .nav-item {
          margin: 0 15px 20px;
        }
      }
      .tab-innercontent {
        .nav-tabs {
          top: 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .content-left {
      margin-left: 0;
      width: 100%;
      margin-bottom: 50px;
      h3 {
        margin: 30px 0 30px 0;
      }
      .property-box {
        margin-bottom: 30px;
      }
    }
    .content-right {
      padding: 30px;
      margin: 0;
      .projectSlider {
        margin-top: 50px;
        min-height: 352px;
        .slick-slide {
          img {
            padding: 0;
          }
        }
        .slick-arrow {
          &.prev {
            left: 0;
          }
          &.next {
            right: 0;
          }
        }
      }
      .project-map {
        figure {
          margin: 0;
        }
      }
      .project-zoom {
        float: right;
        margin-top: 40px;
        a {
          figure {
            margin: 0;
          }
        }
      }
    }
    .nav-tabs {
      .nav-link {
        font-size: 14px;
        border: none;
        color: #ccc;
        &.active {
          border: none;
          color: #000;
        }
        &:hover {
          border: none;
          color: #000;
        }
        &:focus {
          border: none;
          color: #000;
        }
      }
    }
    figure {
      &::after {
        content: none;
      }
    }
  }
  body > section.ipSec-14 {
    .unit-row {
      .col-md-4 {
        .unit-box {
          .unit-number {
            font-size: 12px;
            margin-bottom: 10px;
          }
          .image-box {
            height: 200px;
            a {
              margin-top: -50px;
            }
          }
          .content-box {
            .list-group {
              .list-group-item {
                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  body > section.ipSec-16 {
    .masterplan-box {
      height: 370px;
      p {
        width: 30%;
      }
    }
  }
  body > section.ipSec-17 {
    .content-right {
      margin-top: -180px;
    }
  }
  body > section.ipSec-18 {
    .content-left {
      .tab-innercontent {
        .form-check {
          margin-top: 20px;
          margin-right: 0;
          + .form-check {
            margin-top: 0;
          }
        }
      }
    }
  }
  body > footer .widget .btn {
    padding: 7px 10px;
  }
}
@media (max-width: 767px) {
  html {
    overflow-x: hidden;
    body {
      overflow-x: hidden;
    }
  }
  body .show-desktop {
    display: none !important;
  }
  body .show-mobile {
    display: block !important;
  }
  .menu-options {
    left: auto;
    right: 10px;
    bottom: 50px;
  }
  .icon-box {
    figure {
      width: auto;
    }
  }
  body > header {
    .userSec {
      justify-content: end;
    }
    .logo {
      padding: 20px 20px;
    }
  }
  header {
    /*z-index: 10;
    width: 100%;
    height: 0;
    opacity: 0;
    background: #000 !important;*/
    & > .container {
      height: 100%;
      & > .row {
        height: 100%;
        display: flex;
        align-items: baseline !important;
        /*.logo {
          svg {
            filter: brightness(0) invert(1);
          }
        }*/
        .navigation-menu {
          ul {
            flex-direction: column;
            margin-top: 50px;
            li {
              border: none;
              a {
                position: relative;
                font-size: 30px;
                font-family: "sangbleu_kingdom", sans-serif;
                color: #fff;
                font-weight: 400;
                padding: 10px 0;
                &:before {
                  content: '';
                  position: absolute;
                  top: 25px;
                  left: auto;
                  right: 0;
                  background-image: url(../svg/arrow-right-dark.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 32px;
                  height: 25px;
                }
              }
              &.active {
                a {
                  border: none;
                }
              }
            }
          }
        }
        .userSec {
          flex-direction: column;
          a {
            color: #fff;
            font-size: 15px;
            svg {
              filter: brightness(1) invert(1);
              left: 10px;
            }
          }
        }
      }
    }
    .header-bottom {
      padding: 40px 10px 0 0;
      p {
        color: #fff;
        font-size: 11px;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          + li {
            margin-left: 10px;
          }
          a {
            color: #fff;
            font-size: 11px;
          }
        }
      }
    }
  }
  .navigation-mobile {
    width: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    transition: all .3s ease;
    .btn-col {
      display: flex;
      align-items: center;
      justify-content: center;
      a + a {
        margin-left: 15px;
      }
      a.nav-opt {
        background-color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        svg {
          width: 16px;
          height: 16px;
        }
      }
      a.navigation-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 20px;
        height: 20px;
        background: transparent;
        transition: all 250ms ease-out;
        cursor: pointer;
        &:before {
          content: '';
          width: 15px;
          height: 2px;
          position: absolute;
          background: #1a1a1a;
          transition: all 250ms ease-out;
          will-change: transform;
          transform: translateY(-3px);
        }
        &:after {
          content: '';
          width: 15px;
          height: 2px;
          position: absolute;
          background: #1a1a1a;
          transition: all 250ms ease-out;
          will-change: transform;
          transform: translateY(3px);
        }
      }
    }
  }

  .navigation-active {
    header {
      height: 100%;
      opacity: 1;
    }
    .navigation-mobile {
      background-color: #000;
      .logo {
        svg {
          filter: brightness(0) invert(1);
        }
      }
      .btn-col {
        a.navigation-btn {
          &:before {
            transform: translateY(0) rotate(45deg);
            background: #fff;
          }
          &:after {
            transform: translateY(0) rotate(-45deg);
            background: #fff;
          }
        }
      }
    }
  }



  body .sub-heading {
    font-size: 10px !important;
  }
  body {
    .sub-heading {
      font-size: 10px !important;
      &::after {
        width: 20px;
        margin-left: 15px;
      }
    }
  }
  body > section.ipSec-1 {
    .row > .col-md-6:first-child {
      order: 2;
    }
    .content-left {
      img {
        margin: 20px 10px 0 0;
        float: right;
        width: 40%;
      }
      .property-name {
        position: static;
        font-size: 44px;
        float: left;
        margin-top: 20px;
      }
    }
    .content-right {
      img {
        max-width: initial;
        width: 106%;
        margin: 0 -12px;
      }
    }
  }
  body > section.ipSec-2 {
    .row > .col-md-6:nth-child(2) {
      order: 2;
    }
    .countDv {
      .row {
        div.col-lg-4 {
          margin-top: 15px;
        }
      }
    }
    figure {
      left: -15px !important;
      width: 104%;
      margin-top: 50px;
    }
    .unit-number {
      justify-content: end;
      margin: 0;
      figure {
        width: auto;
      }
    }
    .content-right {
      .countDv {
        h5 {
          font-size: 10px;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
  body > section.ipSec-3 {
    .aboutSlider {
      &:before {
        top: -30px;
        width: 100%;
      }
      .content-left {
        width: 80%;
        .col-3 {
          a {
            figure {
              margin-bottom: 30px;
            }
          }
        }
      }
      .slick-arrow {
        &.prev {
          left: 3%;
          top: 88%;
          background-color: transparent;
          color: #fff;
          border-color: #fff;
        }
        &.next {
          left: 20%;
          top: 88%;
          background-color: transparent;
          color: #fff;
          border-color: #fff;
        }
      }
      .slick-slide {
        height: 520px;
      }
    }
    .slideInfo {
      top: 47%;
      left: 6%;
      background-color: transparent;
      color: #fff;
      border-radius: 5px;
      padding: 10px 10px;
      font-size: 12px;
      font-weight: 100;
    }
  }
  body > section.homeTxtImgSec p {
    font-size: 15px;
  }
  body > section.ipSec-4 {
    .row {
      &:nth-child(odd) {
        .img-figure {
          left: -15px;
          width: 104%;
        }
      }
      &:nth-child(even) {
        margin-top: 50px;
        .col-md-6:nth-child(2) {
          order: 2;
        }
        .img-figure {
          left: 0;
          width: 103%;
        }
      }
      .content-right {
        margin-top: 50px;
        width: 80%;
      }
      .image-box {
        .btn-fullscreen {
          width: 35px;
          height: 35px;
          right: 20px;
          bottom: 45px;
          padding: 9px;
        }
        .btn-livestream {
          left: 20px;
          font-size: 11px;
        }
      }
      .content-left {
        margin-top: 20px;
      }
    }
  }
  body > section.ipSec-5 {
    position: relative;
    &::after {
      top: 11%;
      left: 0;
      width: 80%;
      height: 38%;
    }
    h4 {
      margin-bottom: 50px;
    }
    figure {
      left: 0;
      width: 103%;
    }
    .content-right {
      width: 80%;
      h3 {
        left: 0;
        margin: 40px 0 20px;
      }
    }
  }
  body > section.ipSec-6 {
    position: relative;
    margin-top: 50px;
    padding-top: 100px;
    &::before {
      top: 12%;
      left: 10%;
      width: 75%;
      height: 30%;
    }
    &::after {
      top: 20%;
      left: 70%;
      height: 26%;
    }
    figure {
      left: -15px;
      width: 103%;
    }
    .content-right {
      width: 80%;
      h4 {
        margin: 30px 0 0;
      }
      h3 {
        text-align: left;
        left: 0;
        margin: 40px 0 20px;
      }
    }
  }
  body > section.ipSec-7 {
    .row {
      + .row {
        margin-top: 70px;
      }
    }
    .icon-box-mobile {
      text-align: center;
      margin-top: 40px;
      h3 {
        font-size: 14px;
        font-family: inherit;
        font-weight: normal;
        position: static;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
      }
    }
  }
  body > section.ipSec-8 {
    &::before {
      top: 9%;
      width: 100%;
      height: 20%;
    }
    &::after {
      top: 29%;
      width: 65%;
    }
    .content-left {
      width: 70%;
      h4 {
        margin-bottom: 30px;
      }
      h3 {
        left: 0;
        margin-bottom: 30px;
      }
    }
    .masonry-grid {
      margin-top: 70px;
      .col-6:nth-child(2n) {
        margin-top: -50px;
      }
    }
  }
  body > section.ipSec-9 {
    position: relative;
    margin-top: 50px;
    padding-top: 100px;
    h3 {
      left: 0;
    }
    p {
      text-align: left;
    }
    .opportunites {
      margin-top: 0;
      .opportunity-box {
        margin: 30px 0 0;
        .opportunity-link {
          display: block;
          figure {
            position: static;
            &::after {
              content: none;
            }
          }
          h3 {
            position: static;
            color: #000;
            font-size: 24px;
            font-weight: 400;
            margin: 30px 0;
          }
          h5 {
            color: #000;
            font-size: 14px;
            font-weight: 100;
          }
          p {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
  body > section.ipSec-10 {
    .row > .col-md-7 {
      order: 2;
    }
    &::before {
      top: 9%;
      width: 90%;
      height: 18%;
    }
    &::after {
      top: 27%;
      left: 0;
      width: 75%;
      height: 6%;
    }
    .content-right {
      width: 70%;
      h3 {
        left: 0;
        margin-bottom: 30px;
      }
    }
    .icon-box-mobile {
      text-align: center;
      margin-top: 30px;
      h3 {
        font-size: 14px;
        font-family: inherit;
        font-weight: normal;
        position: static;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
      }
    }
  }
  body > section.ipSec-11 {
    margin: 0 !important;
    &::before {
      top: 12%;
      height: 10%;
      width: 70%;
    }
    &::after {
      top: 22%;
      width: 97%;
      height: 34%;
    }
    .content-left {
      width: 70%;
      h3 {
        margin: 40px 0 30px;
      }
      p {
        margin-bottom: 50px;
      }
    }
    .eventSlider {
      .slick-arrow {
        top: 52%;
        &.prev {
          right: 16%;
        }
        &.next {
          right: 0;
        }
      }
      .content-box {
        width: 65%;
        h3 {
          font-size: 26px;
          margin: 40px 0 25px;
        }
        a.btn {
          padding: 1rem 1.5rem;
        }
      }
    }
  }
  body > section.ipSec-12 {
    position: relative;
    margin-top: 100px !important;
    padding-top: 0;
    h4 {
      margin: 20px 0 30px;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
    }
    .content-left {
      width: 70%;
    }
  }
  body > section.ipSec-13 {
    .nav-row {
      margin-top: 50px;
      .nav-tabs {
        .nav-item {
          margin: 0 0 10px;
          .nav-link {
            font-size: 12px;
            padding: 0.5rem 0.5rem;
          }
        }
      }
      .tab-innercontent {
        margin-top: 10px;
      }
    }
    .content-left {
      h3 {
        font-size: 28px !important;
      }
      .property-box {
        margin-bottom: 50px;
        p {
          font-size: 15px;
          margin: 0;
        }
      }
      .price-box {
        margin-top: -90px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 15px;
          order: 2;
        }
      }
      .project-print {
        float: right;
        .project-plan {
          text-align: right;
        }
      }
      .icon-box {
        figure {
          width: auto;
        }
      }
    }
    .content-right {
      margin: 0 -12px;
      .projectSlider {
        margin: 0;
        min-height: auto;
      }
      .bottom-row {
        .col-md-3 {
          order: 1;
        }
        .col-md-6 {
          order: 2;
        }
      }
      .project-plan {
        margin: 40px 0;
      }
      .project-zoom {
        float: left;
        display: block;
        width: 100%;
        margin-top: 35px;
      }
    }
  }
  body > section.ipSec-14 {
    h4 {
      color: $base-color;
      &::after {
        border-color: $base-color;
      }
    }
    h3 {
      font-family: "sangbleu_kingdom", sans-serif;
      font-weight: 400;
    }
    h4 {
      color: #000;
      margin-top: 0;
      margin-bottom: 120px;
      &::after {
        content: none;
      }
    }
    .compare-unit {
      margin-bottom: 50px;
    }
    .content-center {
      p {
        margin-bottom: 50px;
      }
    }
    .unit-row {
      .col-md-4 {
        .unit-box-floorplan {
          .image-box {
            a {
              color: transparent;
              padding: 0;
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              border-radius: 50%;
              margin-top: -35px;
              font-weight: 100;
              &:before {
                content: '+';
                color: #000;
                font-size: 20px;
                line-height: .9;
                position: absolute;
              }
            }
          }
        }
        .unit-box {
          margin: 0;
          .image-box {
            height: 150px;
          }
          .content-box {
            p {
              margin-bottom: 40px;
            }
            .separator {
              margin: 50px auto;
            }
            .list-group {
              .list-group-item {
                p {
                  white-space: nowrap;
                }
              }
            }
            .book-btn {
              width: auto;
            }
          }
        }
      }
    }
  }
  body > section.ipSec-15 {
    h4 {
      margin-bottom: 50px;
    }
    .content-left {
      h3 {
        margin-bottom: 10px;
      }
      .list-group {
        margin-top: 50px;
        .list-group-item {
          margin-bottom: 15px;
          h6 {
            font-size: 14px;
          }
        }
      }
    }
    figure {
      left: -12px;
      width: 106%;
      margin-top: 50px;
    }
  }
  body > section.ipSec-16 {
    h4 {
      margin: 30px 0 40px;
    }
    .masterplan-box {
      background: none;
      height: auto;
      padding: 0;
      display: block;
      figure {
        left: -12px;
        width: 106%;
      }
      .content-box{
        margin-top: 40px;
        width: 60%;
        h3 {
          color: #000;
          font-size: 26px;
          margin-bottom: 15px;
          br {
            display: none;
          }
        }
        p {
          color: #000;
          margin: 0;
          width: 100%;
        }
      }
    }
  }
  body > section.ipSec-17 {
    .content-left {
      p {
        width: 80%;
      }
      .download-box {
        .col-md-6 {
          + .col-md-6 {
            margin-top: 10px;
          }
        }
        a.btn {
          font-size: 0.7rem;
          padding: 1.25rem 1.5rem;
        }
      }
    }
  }
  body > section.ipSec-18 {
    .content-left {
      h3 {
        width: 70%;
      }
      .nav-tabs {
        display: none;
      }
      .tab-innercontent {
        .row.g-0 {
          div:nth-child(5) {
            order: 2;
            .row {
              .col-md-6:nth-child(2) {
                display: none;
              }
            }
          }
        }
        p {
          width: 80%;
        }
        .text-right {
          display: flex;
          align-items: center;
          text-align: left;
        }
        .form-select {
          font-size: .75rem;
          color: #000;
          padding: 0.375rem 2.25rem 0.375rem 2rem;
        }
        .form-control {
          font-size: .75rem;
          padding: 25px 30px;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #000;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #000;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #000;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #000;
          }
        }
        .form-check {
          font-size: 10px;
          + .form-check {
            margin-top: 20px;
            margin-left: 30px;
          }
        }
      }
    }
  }
  body > section.ipSec-19 {
    margin-top: 30px !important;
    .unit-row {
      margin-top: 50px;
      .col-md-4 {
        .unit-box {
          text-align: center;
          margin: 0;
          .image-box {
            a {
              display: none;
            }
          }
          .content-box {
            h3 {
              font-size: 24px;
              margin-bottom: 20px;
            }
            span {
              margin-bottom: 10px;
            }
            p {
              -webkit-line-clamp: 1;
              margin-bottom: 40px;
            }
            .btn-box {
              a {
                font-size: 0.6rem;
                padding: 0.8rem 1rem;
              }
            }
          }
        }
      }
    }
  }

  body > footer {
    p {
      font-size: 13px;
    }
    .followSubsDv {
      flex-direction: column;
      padding-bottom: 50px;
      div {
        flex-direction: column;
        p {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .subsDv {
        margin-top: 30px;
        .fieldDv {
          width: 100%;
          input {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .borderRow {
      & > .col-md-8 {
        padding-top: 50px;
        .widget {
          h3 {
            margin-bottom: 10px;
          }
          a {
            font-size: 15px;
            line-height: 2.25;
          }
        }
      }
      & > .col-md-4 {
        .widget {
          padding: 0;
          .row {
            h3 {
              margin-bottom: 10px;
            }
            .btn {
              padding: 15px 25px;
              font-size: 10px;
              width: 100%;
            }
          }
        }
      }
    }
    .bottomLine {
      .container.d-flex {
        flex-direction: column;
      }
    }
  }
}