@font-face {
    font-family: 'sangbleu_kingdom';
    src: url('sangbleukingdom-light-webxl-webfont.woff2') format('woff2'),
         url('sangbleukingdom-light-webxl-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'sangbleu_kingdom';
    src: url('SangBleuKingdom-LightItalic-WebXL.woff2') format('woff2'),
    url('SangBleuKingdom-LightItalic-WebXL.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'sangbleu_kingdom';
    src: url('sangbleukingdom-regular-webxl-webfont.woff2') format('woff2'),
         url('sangbleukingdom-regular-webxl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}